<template>
  <!-- BEGIN: New Password Modal -->
  <div id="new-password-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">New Password</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <div class="p-5">
            <form>
              <div class="mb-6">
                <label class="font-medium text-base block mb-2" for="DBName">Database Name
                  <span class="text-red-600">*</span>
                </label>
                <input type="text" id="DBName" class="form-control text-base" placeholder="Database Name" />
              </div>
              <div class="mb-6">
                <label class="font-medium text-base block mb-2" for="DBUsername">Username
                  <span class="text-red-600">*</span>
                </label>
                <input type="text" id="DBUsername" class="form-control text-base" placeholder="Username" />
              </div>
              <div class="mb-6">
                <label class="font-medium text-base block mb-2" for="DBPassword">Password
                  <span class="text-red-600">*</span>
                </label>
                <input type="text" id="DBPassword" class="form-control text-base" placeholder="Password" />
              </div>
              <div class="mb-6">
                <label class="font-medium text-base block mb-2" for="DBPrivateKey">Private Key (Decrypt key)
                  <span class="text-red-600">*</span>
                </label>
                <Dropzone
                  id="DBPrivateKey"
                  ref-key="dropzoneSingleRef"
                  :options="{
                    url: 'https://httpbin.org/post',
                    thumbnailWidth: 150,
                    maxFilesize: 0.5,
                    maxFiles: 1,
                    headers: { 'My-Awesome-Header': 'header value' }
                  }"
                  class="dropzone">
                  <div class="text-lg font-medium">
                    Drop files here or click to upload.
                  </div>
                  <div class="text-gray-600">
                    This is just a demo dropzone. Selected files are
                    <span class="font-medium">not</span> actually uploaded.
                  </div>
                </Dropzone>
              </div>
              <div class="mb-6">
                <label class="font-medium text-base block mb-2" for="DBPublicKey">Public Key (Encrypt key)
                  <span class="text-red-600">*</span>
                </label>
                <Dropzone
                  id="DBPublicKey"
                  ref-key="dropzoneSingleRef"
                  :options="{
                    url: 'https://httpbin.org/post',
                    thumbnailWidth: 150,
                    maxFilesize: 0.5,
                    maxFiles: 1,
                    headers: { 'My-Awesome-Header': 'header value' }
                  }"
                  class="dropzone">
                  <div class="text-lg font-medium">
                    Drop files here or click to upload.
                  </div>
                  <div class="text-gray-600">
                    This is just a demo dropzone. Selected files are
                    <span class="font-medium">not</span> actually uploaded.
                  </div>
                </Dropzone>
              </div>
              <div class="p-3 mb-6 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
                <div class="form-check">
                  <input id="DBActive" class="form-check-switch" type="checkbox" />
                  <label class="form-check-label text-base" for="DBActive">Active</label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer flex justify-between">
          <button type="button" data-dismiss="modal" class="invisible md:visible btn btn-outline-secondary mr-1"> Cancel </button>
          <button type="button" class="btn bg-green-600 border-0 text-white ml-auto">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: New Password Modal -->
  <!-- BEGIN: Generate Key Modal -->
  <div id="generate-key-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">Generate Key</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <div class="p-5 border-b dark:border-gray-700">
            <div class="flex items-center">
              <span class="text-lg font-medium">Private Key</span>
              <a href="#0" class="font-base text-sm ml-auto text-green-600">Copy to clipboard</a>
            </div>
            <div class="my-3 text-base break-words bg-black bg-opacity-5 p-3 rounded">
              -----BEGIN RSA PRIVATE KEY-----MIICXAIBAAKBgQCScA46134k2SnfV6/EzxHEScAWemwErG7OghJGoKGrV+EsPLJ7FnMkWrHUEvUWAt/XrlKE5+l7TnB3BjZ3RJbc2TKcUZdotEQNR4w+uwtadnw2bZQxI8AkhOmBFYmpYNjs1fKckLqMUy3sCPWAQG6KXLmThBCjzTv5dthQzEBInQIDAQABAoGAAneAxdz7cwN1gR2pCFe0pOnZIofNaga9lxz50dbC4nAIiwY6u3gVWHdup3PqTQSfYLK/ER4XAMzBeD/Siw/MusUnY157kxbefdqEi9opgMCNnU5eQ8onACuZ8IokPfpfZQLPRudXQfjwBwB2zPpXgNWfaX5l99N6UzzVX7aUUAECQQC8t9FY7vJfYHnxPuLuorR3+d7eN3KYUZiSKmzcAWAxuKtXq4yoZcEbdaTCXmINPNzXbbnkPSqFlkVUrJ+lO/3BAkEAxqVWmHByDgeU9Ugr3be9oiJf6W7LbvVtqejJE1J2Bux07JZu1jTz++TQb+lVllQwCs3o+P6NWbL8rSjIWgZ53QJAWC8NBCGj4C2UzcY1BI3DBs0b93qxcbuvL53jgGqkKJfCeRUQhSAHPG2cr7aq2sS17XS4iI6McB/oBckkUHHYAQJAUeMGd4CjA7WMajB+JMABpDyXXRsXMX5q3offm996WBBRgtXgitz5VvVUF04Qwg+iXlHToBEPI9Ls5lTRgor44QJBAJaPKCEjHadb7FGJSJO9fEJppEd4rGFeC8faQvQHO2DaWC+f6T5mZX5VqEJraHkNGKMozgYrQZA+BaN1elMdLKA=-----END RSA PRIVATE KEY-----
            </div>
          </div>
          <div class="p-5">
            <div class="flex items-center">
              <span class="text-lg font-medium">Public Key</span>
              <a href="#0" class="font-base text-sm ml-auto text-green-600">Copy to clipboard</a>
            </div>
            <div class="my-3 text-base break-words bg-black bg-opacity-5 p-3 rounded">
              -----BEGIN RSA PUBLIC KEY-----MIICXAIBAAKBgQCScA46134k2SnfV6/EzxHEScAWemwErG7OghJGoKGrV+EsPLJ7FnMkWrHUEvUWAt/XrlKE5+l7TnB3BjZ3RJbc2TKcUZdotEQNR4w+uwtadnw2bZQxI8AkhOmBFYmpYNjs1fKckLqMUy3sCPWAQG6KXLmThBCjzTv5dthQzEBInQIDAQABAoGAAneAxdz7cwN1gR2pCFe0pOnZIofNaga9lxz50dbC4nAIiwY6u3gVWHdup3PqTQSfYLK/ER4XAMzBeD/Siw/MusUnY157kxbefdqEi9opgMCNnU5eQ8onACuZ8IokPfpfZQLPRudXQfjwBwB2zPpXgNWfaX5l99N6UzzVX7aUUAECQQC8t9FY7vJfYHnxPuLuorR3+d7eN3KYUZiSKmzcAWAxuKtXq4yoZcEbdaTCXmINPNzXbbnkPSqFlkVUrJ+lO/3BAkEAxqVWmHByDgeU9Ugr3be9oiJf6W7LbvVtqejJE1J2Bux07JZu1jTz++TQb+lVllQwCs3o+P6NWbL8rSjIWgZ53QJAWC8NBCGj4C2UzcY1BI3DBs0b93qxcbuvL53jgGqkKJfCeRUQhSAHPG2cr7aq2sS17XS4iI6McB/oBckkUHHYAQJAUeMGd4CjA7WMajB+JMABpDyXXRsXMX5q3offm996WBBRgtXgitz5VvVUF04Qwg+iXlHToBEPI9Ls5lTRgor44QJBAJaPKCEjHadb7FGJSJO9fEJppEd4rGFeC8faQvQHO2DaWC+f6T5mZX5VqEJraHkNGKMozgYrQZA+BaN1elMdLKA=-----END RSA PRIVATE KEY-----
            </div>
          </div>
        </div>
        <div class="modal-footer flex justify-between">
          <button type="button" data-dismiss="modal" class="invisible md:visible btn btn-outline-secondary ml-auto"> Close </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Generate Key Modal -->
  <!-- BEGIN: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8 items-center">
    <div class="col-span-12 md:col-span-6">
      <h2 class="text-2xl lg:text-3xl font-medium mt-2">Database Password</h2>
    </div>
    <div class="col-span-12 md:col-span-6 text-left md:text-right">
      <a href="javascript:;" data-toggle="modal" data-target="#generate-key-modal" class="btn bg-green-600 text-white shadow-md">Generate Key</a>
      <a href="javascript:;" data-toggle="modal" data-target="#new-password-modal" class="btn btn-light shadow-md ml-2">New Password</a>
    </div>
  </div>
  <!-- END: Page Title -->
  <div class="box intro-y mt-8">
    <div class="overflow-x-auto">
      <table class="table text-base">
        <thead>
          <tr>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
              DB Name
            </th>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
              Username
            </th>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap text-center">
              Status
            </th>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap text-right"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border-b dark:border-gray-700">HelloWorld</td>
            <td class="border-b dark:border-gray-700">johndoe</td>
            <td class="border-b dark:border-gray-700 text-center"><span class="inline-block w-2 h-2 bg-green-600 dark:bg-green-400 rounded-full mr-2"></span><span class="text-green-600 dark:text-green-400">Active</span></td>
            <td class="border-b dark:border-gray-700 text-right">
              <a class="px-3 cursor-pointer">
                <EditIcon class="w-5 h-5 text-gray-600" />
              </a>
              <a class="px-3 cursor-pointer">
                <TrashIcon class="w-5 h-5 text-red-600 dark:text-red-400" />
              </a>
            </td>
          </tr>
          <tr>
            <td class="border-b dark:border-gray-700">HelloWorld</td>
            <td class="border-b dark:border-gray-700">johndoe</td>
            <td class="border-b dark:border-gray-700 text-center"><span class="inline-block w-2 h-2 bg-red-600 dark:bg-red-400 rounded-full mr-2"></span><span class="text-red-600 dark:text-red-400">Inactive</span></td>
            <td class="border-b dark:border-gray-700 text-right">
              <a class="px-3 cursor-pointer">
                <EditIcon class="w-5 h-5 text-gray-600" />
              </a>
              <a class="px-3 cursor-pointer">
                <TrashIcon class="w-5 h-5 text-red-600 dark:text-red-400" />
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
