<template>
  <!-- BEGIN: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8 items-center">
    <div class="col-span-6">
      <h2 class="text-2xl lg:text-3xl font-medium mt-2">Queue</h2>
    </div>
    <div class="col-span-6 text-right">
      <a href="javascript:;" data-toggle="modal" data-target="#add-robot-modal" class="btn bg-green-600 border-0 text-white shadow-md ml-auto">Add Process</a>
    </div>
    <div class="col-span-12">
      <div class="p-1 bg-gray-300 dark:bg-gray-900 rounded w-full flex">
        <router-link to="/queue-runs" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Upcoming Runs</router-link>
        <router-link to="/queue-history" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">History</router-link>
        <router-link to="/queue-calendar" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Calendar</router-link>
        <router-link to="/queue-log" class="btn flex-1 rounded btn-dark dark:bg-gray-700">Operation Log</router-link>
      </div>
    </div>
  </div>
  <!-- END: Page Title -->
  <!-- BEGIN: Filter -->
  <div class="intro-y accordion-item mt-6">
    <div class="flex">
      <!-- BEGIN: Search -->
      <div class="relative">
        <SearchIcon class="w-4 h-4 absolute my-auto inset-y-0 ml-3 left-0 z-10 text-gray-700 dark:text-gray-300"
        />
        <input
          type="text"
          class="form-control w-full sm:w-64 box pl-10 text-gray-700 dark:text-gray-300 placeholder-theme-8"
          placeholder="Search..."
        />
      </div>
      <!-- END: Search -->
      <a id="filter-accordion-content" class="btn ml-3 mr-auto accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#filter-accordion-collapse" aria-expanded="false" aria-controls="filter-accordion-collapse">Filter</a>
      <!-- START: Filter Reset -->
      <button class='btn'>
        <span>Reset</span>
        <span class="py-0.5 px-1.5 bg-theme-2 ml-1 text-xs rounded-full text-white">2</span>
      </button>
      <!-- END: Filter Reset -->
    </div>
    <div id="filter-accordion-collapse" class="box p-4 mt-2 accordion-collapse collapse" aria-labelledby="filter-accordion-content" style="display: none;">
      <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12 md:col-span-6 xl:col-span-3">
            <label for="input-filter-4" class="form-label">Type</label>
            <select id="input-filter-4" class="form-select">
              <option>Any Type</option>
              <option>Information</option>
              <option>Error</option>
            </select>
          </div>
          <div class="col-span-12 md:col-span-6 xl:col-span-3">
            <label for="input-filter-5" class="form-label">Status</label>
            <select id="input-filter-5" class="form-select">
              <option>Any Status</option>
              <option>Started</option>
              <option>Incompleted</option>
            </select>
          </div>
          <div class="col-span-12 md:col-span-6 xl:col-span-3">
            <label for="input-filter-5" class="form-label"
              >Date</label
            >
            <div class="preview">
              <Litepicker
                v-model="daterange"
                :options="{
                  autoApply: false,
                  singleMode: false,
                  numberOfColumns: 2,
                  numberOfMonths: 2,
                  showWeekNumbers: true,
                  dropdowns: {
                    minYear: 2000,
                    maxYear: null,
                    months: true,
                    years: true
                  }
                }"
                class="form-control w-full block"
              />
            </div>
          </div>
          <div class="col-span-12 md:col-span-6 xl:col-span-3">
            <label for="department-select" class="form-label"
              >Process Group</label
            >
            <div id="department-select" class="">
              <div class="preview">
                <TomSelect
                  v-model="selectMultiple"
                  :options="{
                    plugins: {
                      remove_button:{
                        title:'Remove',
                      }
                    },
                    placeholder: 'Select Group'
                  }"
                  class="w-full"
                  multiple
                >
                  <option value="1">IT</option>
                  <option value="2">Sales</option>
                  <option value="3">Management</option>
                  <option value="4">Admin</option>
                  <option value="5">Marketing</option>
                </TomSelect>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- END: Filter -->
  <div class="box intro-y mt-8">
    <div class="overflow-x-auto">
      <table class="table text-base">
        <thead>
          <tr>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
              Time &amp; Date
            </th>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
              Group Name
            </th>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
              Type
            </th>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
              Status
            </th>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
              Message
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border-b dark:border-gray-700">Friday, 26 November 2021 13:10:23</td>
            <td class="border-b dark:border-gray-700">Notepad_InCom</td>
            <td class="border-b dark:border-gray-700">
              <span class="text-red-600 dark:text-red-400">Error</span>
            </td>
            <td class="border-b dark:border-gray-700">
              <span class="text-red-600 dark:text-red-400">Incompleted</span></td>
            <td class="border-b dark:border-gray-700">Stop with incompleted: Notepad_InCom</td>
          </tr>
          <tr>
            <td class="border-b dark:border-gray-700">Friday, 26 November 2021 13:10:23</td>
            <td class="border-b dark:border-gray-700">Notepad_InCom</td>
            <td class="border-b dark:border-gray-700">
              <span class="text-blue-600 dark:text-blue-400">Information</span>
            </td>
            <td class="border-b dark:border-gray-700">
              <span class="text-green-600">Started</span></td>
            <td class="border-b dark:border-gray-700">Stop with incompleted: Notepad_InCom</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
