<template>
  <!-- BEGIN: Modal Content -->
  <div id="new-process-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">New Process</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <div class="p-5">
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="processName">Process Name
                <span class="text-red-600">*</span>
              </label>
              <input type="text" id="processName" class="form-control text-base" placeholder="Process Name" />
            </div>
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="lwcFile">Upload LWC File
                <span class="text-red-600">*</span>
              </label>
              <Dropzone
                id="lwcFile"
                ref-key="dropzoneSingleRef"
                :options="{
                  url: 'https://httpbin.org/post',
                  thumbnailWidth: 150,
                  maxFilesize: 0.5,
                  maxFiles: 1,
                  headers: { 'My-Awesome-Header': 'header value' }
                }"
                class="dropzone">
                <div class="text-lg font-medium">
                  Drop files here or click to upload.
                </div>
                <div class="text-gray-600">
                  LWC file
                </div>
              </Dropzone>
            </div>
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="processDepartment">Department
                <span class="text-red-600">*</span>
              </label>
              <TomSelect v-model="select" :options="{
                  plugins: {
                    remove_button:{
                      title:'Remove',
                    }
                  },
                  placeholder: 'Select Department'
                }" class="w-full" multiple>
                <option value="1">IT</option>
                <option value="2">Sales</option>
                <option value="3">Marketing</option>
              </TomSelect>
            </div>
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="processRobots">Select Robot(s)
                <span class="text-red-600">*</span>
              </label>
              <TomSelect v-model="select" :options="{
                  plugins: {
                    remove_button:{
                      title:'Remove',
                    }
                  },
                  placeholder: 'Select Robots'
                }" class="w-full" multiple>
                <optgroup label="IT">
                  <option value="1">MooBot</option>
                  <option value="2">MyRObotik</option>
                  <option value="3">DSeBot</option>
                </optgroup>
                <optgroup label="Sales">
                  <option value="4">Robot2</option>
                  <option value="5">MySimpleBot</option>
                  <option value="6">WooOnline</option>
                </optgroup>
                <optgroup label="IT">
                  <option value="7">Mainbot</option>
                  <option value="8">SenBot</option>
                  <option value="9">MiBoxBot</option>
                </optgroup>
              </TomSelect>
            </div>
            <div class="p-3 mb-6 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
              <div class="form-check">
                <input id="processActive" class="form-check-switch" type="checkbox" />
                <label class="form-check-label text-base" for="processActive">Active</label>
              </div>
            </div>
            <div>
              <label class="font-medium text-base block mb-2" for="processNote">Note (optional)</label>
              <textarea id="processNote" class="form-control text-base" placeholder="Add a Note..."></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer flex justify-between">
          <button type="button" data-dismiss="modal" class="invisible md:visible btn btn-outline-secondary mr-1"> Cancel </button>
          <button type="button" class="btn bg-green-600 border-0 text-white ml-auto">Create Process</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Modal Content -->
  <!-- BEGIN: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8 items-center">
    <div class="col-span-6">
      <h2 class="text-2xl lg:text-3xl font-medium mr-auto mt-2">Processes</h2>
    </div>
    <div class="col-span-6 text-right">
      <a href="javascript:;" data-toggle="modal" data-target="#new-process-modal" class="btn bg-green-600 border-0 text-white shadow-md ml-auto lg:ml-5">New Process</a>
    </div>
    <div class="col-span-12">
      <div class="p-1 bg-gray-300 dark:bg-gray-900 rounded w-full flex">
        <router-link to="/processes-all" class="btn flex-1 rounded btn-dark dark:bg-gray-700">All Processes</router-link>
        <router-link to="/process-log" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Process Logs</router-link>
      </div>
    </div>
  </div>
  <!-- END: Page Title -->
  <!-- BEGIN: Filter -->
  <div class="intro-y accordion-item mt-6">
    <div class="flex">
      <!-- BEGIN: Search -->
      <div class="relative">
        <SearchIcon class="w-4 h-4 absolute my-auto inset-y-0 ml-3 left-0 z-10 text-gray-700 dark:text-gray-300"
        />
        <input
          type="text"
          class="form-control w-full sm:w-64 box pl-10 text-gray-700 dark:text-gray-300 placeholder-theme-8"
          placeholder="Search..."
        />
      </div>
      <!-- END: Search -->
      <a id="filter-accordion-content" class="btn ml-3 mr-auto accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#filter-accordion-collapse" aria-expanded="false" aria-controls="filter-accordion-collapse">Filter</a>
      <!-- START: Filter Reset -->
      <button class='btn'>
        <span>Reset</span>
        <span class="py-0.5 px-1.5 bg-theme-2 ml-1 text-xs rounded-full text-white">2</span>
      </button>
      <!-- END: Filter Reset -->
    </div>
    <div id="filter-accordion-collapse" class="box p-4 mt-2 accordion-collapse collapse" aria-labelledby="filter-accordion-content" style="display: none;">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 xl:col-span-3">
          <label for="input-filter-4" class="form-label">Status</label>
          <select id="input-filter-4" class="form-select">
            <option>Any</option>
            <option>Active</option>
            <option>Inactive</option>
          </select>
        </div>
        <div class="col-span-12 xl:col-span-9">
          <label for="department-select" class="form-label"
            >Department</label
          >
          <div id="department-select" class="">
            <div class="preview">
              <TomSelect
                v-model="selectMultiple"
                :options="{
                  plugins: {
                    remove_button:{
                      title:'Remove',
                    }
                  },
                  placeholder: 'Select Department'
                }"
                class="w-full"
                multiple
              >
                <option value="1">IT</option>
                <option value="2">Sales</option>
                <option value="3">Management</option>
                <option value="4">Admin</option>
                <option value="5">Marketing</option>
              </TomSelect>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Filter -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-4">
    <!-- BEGIN: Process List -->
    <div class="intro-y col-span-12">
      <div id="process-accordion">
        <div class="box accordion-item border rounded shadow my-2">
          <a id="group-accordion-content-1" class="flex items-center p-3 accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#group-accordion-collapse-1" aria-expanded="false" aria-controls="group-accordion-collapse-1">
            <div class="grid grid gap-2 w-full grid-cols-2 lg:grid-cols-4 items-center text-base">
              <dl>
                <dt class="text-base font-medium truncate">Fulltest_longlong</dt>
                <dd class="truncate">
                  <span class="inline-block w-2 h-2 bg-green-600 dark:bg-green-400 rounded-full mr-2"></span>
                  <span class="text-green-600 dark:text-green-400">Active</span>
                </dd>
              </dl>
              <dl>
                <dt class="text-gray-600 truncate">Workflow</dt>
                <dd class="truncate">loop_test_fullcycle.lwc</dd>
              </dl>
              <dl>
                <dt class="text-gray-600 truncate">Related Groups</dt>
                <dd class="truncate">3</dd>
              </dl>
              <div>
                <span class="px-2 py-0.5 rounded inline text-gray-100 bg-primary-1">IT</span>
              </div>
            </div>
          </a>
          <div class="dropdown ml-auto order-2 col-span-1 md:order-3 absolute right-1 top-4">
            <button class="dropdown-toggle btn border-none shadow-none" aria-expanded="false">
              <MoreVerticalIcon class="w-6 h-6 text-gray-600 ml-auto" />
            </button>
            <div class="dropdown-menu w-40">
              <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Disable Process</a>
                <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Edit</a>
                <a href="" class="block p-2 transition duration-300 text-red-600 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Delete</a>
              </div>
            </div>
          </div>
          <div id="group-accordion-collapse-1" class="border-t dark:border-gray-700 accordion-collapse collapse" aria-labelledby="group-accordion-content-1" data-bs-parent="#process-accordion" style="display: none;">
            <div class="p-3">
              <div class="grid grid-cols-3 border dark:border-gray-700 rounded-md">
                <h3 class="text-lg border-b dark:border-gray-700 font-medium px-3 pt-5 pb-3 col-span-3">Related Groups (3)</h3>
                <div class="col-span-3 lg:col-span-1 p-4 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5">
                  <div class="nav nav-tabs boxed-tabs gap-1 flex-col overflow-hidden">
                    <a
                      id="group-tab-1"
                      data-toggle="tab"
                      data-target="#group-tab-1-content"
                      href="javascript:;"
                      class="box mb-1 text-left flex items-center p-3 rounded active"
                      role="tab"
                      aria-controls="group-tab-1"
                      aria-selected="true"
                      >
                        <ChainIcon class="w-5 h-5 text-gray-600 mr-2" />
                        <dl>
                          <dt>Hello_Process_1</dt>
                          <dd class="text-xs font-base">No trigger</dd>
                        </dl>
                        <ChevronRightIcon class="w-4 h-4 text-gray-600 ml-auto" />
                      </a>
                    <a
                      id="group-tab-2"
                      data-toggle="tab"
                      data-target="#group-tab-2-content"
                      href="javascript:;"
                      class="box mb-1 text-left flex items-center p-3 rounded"
                      role="tab"
                      aria-controls="group-tab-2"
                      aria-selected="false"
                      >
                        <ChainIcon class="w-5 h-5 text-gray-600 mr-2" />
                        <dl>
                          <dt>Hello_Process_2</dt>
                          <dd class="text-xs font-base">Daily at 12:30</dd>
                        </dl>
                        <ChevronRightIcon class="w-4 h-4 text-gray-600 ml-auto" />
                      </a>
                    <a
                      id="group-tab-3"
                      data-toggle="tab"
                      data-target="#group-tab-3-content"
                      href="javascript:;"
                      class="box mb-1 text-left flex items-center p-3 rounded"
                      role="tab"
                      aria-controls="group-tab-3"
                      aria-selected="false"
                      >
                        <ChainIcon class="w-5 h-5 text-gray-600 mr-2" />
                        <dl>
                          <dt>Hello_Process_3</dt>
                          <dd class="text-xs font-base">Daily at 12:30</dd>
                        </dl>
                        <ChevronRightIcon class="w-4 h-4 text-gray-600 ml-auto" />
                      </a>
                  </div>
                </div>
                <div class="col-span-3 lg:col-span-2 p-4">
                  <div class="tab-content">
                    <div id="group-tab-1-content" class="tab-pane active" role="tabpanel" aria-labelledby="group-tab-1">
                      <div class="grid grid-cols-3 py-3 w-full">
                        <div class="col-span-3 md:col-span-1 text-center pb-3">
                          <div class="rounded-full mx-auto mb-2 overflow-hidden w-24 h-24 flex items-center justify-center bg-theme-2">
                            <img
                            alt="Robot"
                            :src="require(`@/assets/images/robot-colored.svg`)"
                          />
                          </div>
                          <div class="text-sm">I will run</div>
                          <div class="text-sm">loop_test_fullcycle.lwc</div>
                        </div>
                        <div class="col-span-3 md:col-span-2 text-center md:text-left">
                          <div class="mb-3 text-green-600 dark:text-green-400">
                            <CheckCircleIcon class="w-4 h-4 text-green-600 dark:text-green-400 mr-3" />
                            Daily Sales Report
                          </div>
                          <div class="mb-3 text-green-600 dark:text-green-400">
                            <CheckCircleIcon class="w-4 h-4 text-green-600 dark:text-green-400 mr-3" />
                            on 15 Sales department computers
                          </div>
                          <div class="mb-3 text-green-600 dark:text-green-400">
                            <CheckCircleIcon class="w-4 h-4 text-green-600 dark:text-green-400 mr-3" />
                            every Monday and Wednesday at 2:30 PM UTC +6
                          </div>
                          <div class="mb-3 text-green-600 dark:text-green-400">
                            <CheckCircleIcon class="w-4 h-4 text-green-600 dark:text-green-400 mr-3" />
                            starting from Wed, Mar 5 2022
                          </div>
                          <div class="mb-3 text-green-600 dark:text-green-400">
                            <CheckCircleIcon class="w-4 h-4 text-green-600 dark:text-green-400 mr-3" />
                            excluding weekends and public holidays
                          </div>
                          <div class="mb-3 text-green-600 dark:text-green-400">
                            <CheckCircleIcon class="w-4 h-4 text-green-600 dark:text-green-400 mr-3" />
                            Forever! Like really, until the end of the days.
                          </div>
                          <div class="flex items-center mt-5">
                            <a class="btn btn-secondary">Group Details</a>
                            <span class="ml-auto text-md">In queue today at 2:00 PM</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      id="group-tab-2-content"
                      class="tab-pane"
                      role="tabpanel"
                      aria-labelledby="group-tab-2"
                    >
                      <p>Tab 2</p>
                    </div>
                    <div
                      id="group-tab-3-content"
                      class="tab-pane"
                      role="tabpanel"
                      aria-labelledby="group-tab-2"
                    >
                      <p>Tab 3</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-4 rounded border dark:border-gray-700 p-3">
                <p class="text-md text-medium">Note:</p>
                <p>Some note...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box accordion-item border rounded shadow my-2">
          <a id="group-accordion-content-1" class="flex items-center p-3 accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#group-accordion-collapse-1" aria-expanded="false" aria-controls="group-accordion-collapse-1">
            <div class="grid grid gap-2 w-full grid-cols-2 lg:grid-cols-4 items-center text-base">
              <dl>
                <dt class="text-base font-medium truncate">Fulltest_longlong</dt>
                <dd>
                  <span class="inline-block w-2 h-2 bg-green-600 dark:bg-green-400 rounded-full mr-2"></span>
                  <span class="text-green-600 dark:text-green-400">Active</span>
                </dd>
              </dl>
              <dl>
                <dt class="text-gray-600 truncate">Workflow</dt>
                <dd class="truncate">loop_test_fullcycle.lwc</dd>
              </dl>
              <dl>
                <dt class="text-gray-600 truncate">Related Groups</dt>
                <dd class="truncate">3</dd>
              </dl>
              <div>
                <span class="px-2 py-0.5 rounded inline text-gray-100 bg-primary-1">IT</span>
              </div>
            </div>
          </a>
          <div class="dropdown ml-auto order-2 col-span-1 md:order-3 absolute right-1 top-4">
            <button class="dropdown-toggle btn border-none shadow-none" aria-expanded="false">
              <MoreVerticalIcon class="w-6 h-6 text-gray-600 ml-auto" />
            </button>
            <div class="dropdown-menu w-40">
              <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Disable Process</a>
                <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Edit</a>
                <a href="" class="block p-2 transition duration-300 text-red-600 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Delete</a>
              </div>
            </div>
          </div>
          <div id="group-accordion-collapse-1" class="border-t dark:border-gray-700 accordion-collapse collapse" aria-labelledby="group-accordion-content-1" data-bs-parent="#process-accordion" style="display: none;">
            <div class="p-3">Process Details Here...
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center mt-4 py-4">
        <LoadingIcon icon="oval" class="w-6 h-6" />
      </div>
    </div>
    <!-- END: Process List -->
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import ChainIcon from '@/components/icons/ChainIcon.vue'

export default defineComponent({
  components: {
    ChainIcon
  }
})
</script>
