<template>
  <!-- BEGIN: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8">
    <div class="col-span-12">
      <h2 class="text-2xl lg:text-3xl font-medium mt-2">Other Settings</h2>
    </div>
  </div>
  <!-- END: Page Title -->
  <div class="box intro-y mt-8 p-4">
    <div class="grid grid-cols-1 md:grid-cols-3 justify-center">
      <div class="col-span-1"></div>
      <div class="col-span-1 md:offset-col-1">
        <div class="py-6">
          <h4 class="text-lg font-medium">
            Site Appearance
          </h4>
          <div class="mt-4">
            <div class="form-check">
              <input id="checkbox-switch-7" class="form-check-switch" type="checkbox" />
              <label class="form-check-label text-base" for="checkbox-switch-7">Dark Mode</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
