<template>
  <!-- BEGIN: Add Users to Department -->
  <div id="add-to-dep" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">Select Users to add to Sales</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
          <div class="modal-body">
            <div class="mb-2">
              <label class="font-medium text-base block mb-2" for="userDepartment">Search
              </label>
              <TomSelect v-model="select" :options="{
                  plugins: {
                    remove_button:{
                      title:'Remove',
                    }
                  },
                  placeholder: 'Select Department'
                }" class="w-full" multiple>
                <option value="1">John Doe</option>
                <option value="2">Martin Green</option>
                <option value="3">Natalee Rome</option>
                <option value="3">Qurd Moes</option>
              </TomSelect>
            </div>
          </div>
          <div class="modal-footer flex justify-between">
            <button type="button" data-dismiss="modal" class="invisible md:visible btn btn-outline-secondary mr-1"> Cancel </button>
            <button type="button" class="btn bg-green-600 border-0 text-white ml-auto">Add Selected Users</button>
          </div>
        </div>
      </div>
  </div>
  <!-- END: Department Users Content -->
  <!-- BEGIN: Department Users Modal -->
  <div id="user-list" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">Users in Sales Department</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
          <div class="modal-body">
            <div class="overflow-y-auto">
              <div class="flex items-center mb-3 border-b dark:border-gray-700 pb-2">
                <div class="text-gray-600">12 users</div>
                <a class="ml-auto btn" href="javascript:;" data-toggle="modal" data-target="#add-to-dep">Add More Users</a>
              </div>
              <div class="flex items-center border-b dark:border-b dark:border-gray-700 pb-2 mb-2">
                <div class="rounded-full flex circle p-4 justify-center items-center bg-purple-500 bg-opacity-50 text-lg font-medium mr-3 w-12 h-12">JD</div>
                <dl>
                  <dt class="text-base font-medium truncate">John Doe</dt>
                  <dd class="truncate">
                    <span class="inline-block w-2 h-2 bg-green-600 dark:bg-green-400 rounded-full mr-2"></span>
                    <span class="text-green-600 dark:text-green-400">Active</span>
                  </dd>
                </dl>
                <span class="text-xs ml-auto p-1 rounded bg-primary-1 text-white">Admin</span>
                <a class="rounded-full flex items-center justify-center ml-3 p-1 bg-red-500 hover:bg-red-700 cursor-pointer">
                  <XIcon class="w-4 h-4 text-red-100" />
                </a>
              </div>
              <div class="flex items-center border-b dark:border-b dark:border-gray-700 pb-2 mb-2">
                <div class="rounded-full flex circle p-4 justify-center items-center bg-purple-500 bg-opacity-50 text-lg font-medium mr-3 w-12 h-12">JD</div>
                <dl>
                  <dt class="text-base font-medium truncate">John Doe</dt>
                  <dd class="truncate">
                    <span class="inline-block w-2 h-2 bg-green-600 dark:bg-green-400 rounded-full mr-2"></span>
                    <span class="text-green-600 dark:text-green-400">Active</span>
                  </dd>
                </dl>
                <span class="text-xs ml-auto p-1 rounded bg-primary-1 text-white">Admin</span>
                <a class="rounded-full flex items-center justify-center ml-3 p-1 bg-red-500 hover:bg-red-700 cursor-pointer">
                  <XIcon class="w-4 h-4 text-red-100" />
                </a>
              </div>
              <div class="flex items-center border-b dark:border-b dark:border-gray-700 pb-2 mb-2">
                <div class="rounded-full flex circle p-4 justify-center items-center bg-purple-500 bg-opacity-50 text-lg font-medium mr-3 w-12 h-12">JD</div>
                <dl>
                  <dt class="text-base font-medium truncate">John Doe</dt>
                  <dd class="truncate">
                    <span class="inline-block w-2 h-2 bg-green-600 dark:bg-green-400 rounded-full mr-2"></span>
                    <span class="text-green-600 dark:text-green-400">Active</span>
                  </dd>
                </dl>
                <span class="text-xs ml-auto p-1 rounded bg-primary-1 text-white">Manager</span>
                <a class="rounded-full flex items-center justify-center ml-3 p-1 bg-red-500 hover:bg-red-700 cursor-pointer">
                  <XIcon class="w-4 h-4 text-red-100" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- END: Add User to Department -->
  <!-- BEGIN: New User Modal Content -->
  <div id="new-user-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">New User</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <div class="p-5">
            <!-- BEGIN: Tabs -->
            <div class="nav nav-tabs boxed-tabs p-0.5 gap-0.5 bg-gray-300 dark:bg-gray-900 rounded mb-6 w-full flex">
              <a
                id="group-tab-1"
                data-toggle="tab"
                data-target="#group-tab-1-content"
                href="javascript:;"
                class="box flex flex-1 justify-center items-center p-2.5 rounded active"
                role="tab"
                aria-controls="group-tab-1"
                aria-selected="true"
                >Invite User with Email</a>
              <a
                id="group-tab-2"
                data-toggle="tab"
                data-target="#group-tab-2-content"
                href="javascript:;"
                class="box flex flex-1 justify-center items-center p-2.5 rounded"
                role="tab"
                aria-controls="group-tab-2"
                aria-selected="false">Create User Manually</a>
            </div>
            <div class="tab-content">
              <div
                id="group-tab-1-content"
                class="tab-pane active"
                role="tabpanel"
                aria-labelledby="group-tab-1"
              >
                <form>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="userEmail">Email Address
                      <span class="text-red-600">*</span>
                    </label>
                    <input type="email" id="userEmail" class="form-control text-base" placeholder="User Email" />
                    <div class="text-sm py-2">We will send an invite link using this email address for further sign up</div>
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="userRole">User Role &amp; Permissions
                      <span class="text-red-600">*</span>
                    </label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Role'
                      }" class="w-full">
                      <option value="1">Admin</option>
                      <option value="2">Manager</option>
                      <option value="3">Moderator</option>
                    </TomSelect>
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="userDepartment">Assign to Department
                      <span class="text-red-600">*</span>
                    </label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Department'
                      }" class="w-full">
                      <option value="1">IT</option>
                      <option value="2">Sales</option>
                      <option value="3">Management</option>
                      <option value="3">Support</option>
                    </TomSelect>
                  </div>
                  <button type="submit" class="btn btn-lg w-full shadow bg-green-600 border-0 text-white mb-2">Send Invite</button>
                </form>
              </div>
              <div
                id="group-tab-2-content"
                class="tab-pane"
                role="tabpanel"
                aria-labelledby="group-tab-2">
                <form>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="username2">Username
                      <span class="text-red-600">*</span>
                    </label>
                    <input type="text" id="username2" class="form-control text-base" placeholder="User Email" />
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="password2">Create Password
                      <span class="text-red-600">*</span>
                    </label>
                    <input type="password" id="password2" class="form-control text-base" placeholder="Password" />
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="confirmPassword2">Create Password
                      <span class="text-red-600">*</span>
                    </label>
                    <input type="password" id="confirmPassword2" class="form-control text-base" placeholder="Confirm Password" />
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="userEmail2">Email Address
                      <span class="text-red-600">*</span>
                    </label>
                    <input type="email" id="userEmail2" class="form-control text-base" placeholder="User Email" />
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="firstName2">First Name
                      <span class="text-red-600">*</span>
                    </label>
                    <input type="text" id="firstName2" class="form-control text-base" placeholder="First Name" />
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="lastName2">Last Name
                      <span class="text-red-600">*</span>
                    </label>
                    <input type="text" id="lastName2" class="form-control text-base" placeholder="Last Name" />
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="userRole2">User Role &amp; Permissions
                      <span class="text-red-600">*</span>
                    </label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Role'
                      }" class="w-full">
                      <option value="1">Admin</option>
                      <option value="2">Manager</option>
                      <option value="3">Moderator</option>
                    </TomSelect>
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="userDepartment2">Assign to Department
                      <span class="text-red-600">*</span>
                    </label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Department'
                      }" class="w-full">
                      <option value="1">IT</option>
                      <option value="2">Sales</option>
                      <option value="3">Management</option>
                      <option value="3">Support</option>
                    </TomSelect>
                  </div>
                  <button type="submit" class="btn btn-lg w-full bg-green-600 shadow border-0 text-white mb-2">Create User</button>
                </form>
              </div>
            </div>
            <!-- END: Tabs -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: New User Modal Content -->
  <!-- BEGIN: New Department Modal Content -->
  <div id="new-department-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">Create New Department</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <form class="p-5">
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="departmentName">Department Name
                <span class="text-red-600">*</span>
              </label>
              <input type="text" id="departmentName" class="form-control text-base" placeholder="Department Name" />
            </div>
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="departmentCode">Department Code
                <span class="text-red-600">*</span>
              </label>
              <input type="text" id="departmentCode" class="form-control text-base" placeholder="Department Code" />
            </div>
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="departmentDescription">Description (optional)
              </label>
              <textarea rows="3" id="departmentDescription" class="form-control text-base"></textarea>
            </div>
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="departmentEmail">Department Email
                <span class="text-red-600">*</span>
              </label>
              <input type="email" id="departmentEmail" class="form-control text-base" placeholder="Department Email" />
            </div>
            <div class="p-3 mb-6 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
              <div class="form-check">
                <input id="departmentActive" class="form-check-switch" type="checkbox" />
                <label class="form-check-label text-base" for="departmentActive">Active</label>
              </div>
            </div>
            <button type="submit" class="btn btn-lg w-full bg-green-600 shadow border-0 text-white mb-2">Save Department</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END: New Department Modal Content -->
  <!-- BEGIN: New Role Modal Content -->
  <div id="new-role-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">New User Role</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <form class="p-5">
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="departmentName">User Role Name
                <span class="text-red-600">*</span>
              </label>
              <input type="text" id="departmentName" class="form-control text-base" placeholder="Role Name" />
            </div>
            <div class="mb-6">You can assign/remove permissions in role details</div>
            <button type="submit" class="btn btn-lg w-full bg-green-600 shadow border-0 text-white mb-2">Create User Role</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END: New Role Modal Content -->
  <!-- BEGIN: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8 mb-4 items-center">
    <div class="col-span-6">
      <h2 class="text-2xl lg:text-3xl font-medium mr-auto mt-2">User Management</h2>
    </div>
    <div class="col-span-6">
      <div class="flex w-full justify-end">
        <a href="javascript:;" data-toggle="modal" data-target="#new-user-modal" class="btn bg-green-600 border-0 text-white shadow ml-auto">Add User</a>
        <div class="dropdown ml-2 mr-2">
          <button class="dropdown-toggle btn px-2 box text-gray-700 dark:text-gray-300" aria-expanded="false">
            <span class="w-5 h-5 flex items-center justify-center">
              <PlusIcon class="w-4 h-4" />
            </span>
          </button>
          <div class="dropdown-menu w-48">
            <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
              <a href="javascript:;" data-toggle="modal" data-target="#new-department-modal" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">New Department</a>
              <a href="javascript:;" data-toggle="modal" data-target="#new-role-modal" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">New Role</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12">
      <div class="p-1 bg-gray-300 dark:bg-gray-900 rounded w-full flex">
        <router-link to="/users-all" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Users</router-link>
        <router-link to="/users-departments" class="btn flex-1 rounded btn-dark dark:bg-gray-700">Departments</router-link>
        <router-link to="/users-roles" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Roles</router-link>
        <router-link to="/users-activity" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Activity Log</router-link>
        <router-link to="/users-login-history" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Login History</router-link>
      </div>
    </div>
  </div>
  <!-- END: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-4">
    <!-- BEGIN: Filter -->
    <div class="col-span-12">
      <div class="intro-y flex sm:flex-row relative items-center">
        <!-- BEGIN: Search -->
        <div class="relative mr-auto">
          <SearchIcon class="w-4 h-4 absolute my-auto inset-y-0 ml-3 left-0 z-10 text-gray-700 dark:text-gray-300" />
          <input type="text" class="form-control w-full sm:w-64 box pl-10 text-gray-700 dark:text-gray-300 placeholder-theme-8" placeholder="Search..." />
        </div>
        <!-- END: Search -->
        <!-- START: Filter Reset -->
        <div class="inbox-filter dropdown flex items-center ml-1" data-placement="bottom-start">
          <button class='btn'>
            <span>Reset</span>
          </button>
        </div>
        <!-- END: Filter Reset -->
      </div>
    </div>
    <!-- END: Filter -->
  </div>
  <!-- BEGIN: Department List -->
  <div class="grid intro-y grid-cols-1 mt-6 gap-4">
    <div class="box p-4 grid grid-cols-12 items-center gap-4">
      <dl class="mb-2 order-1 col-span-10 md:col-span-2">
        <dt class="mt-1 text-base font-medium">Marketing</dt>
        <dd class="truncate flex items-center">
          <span class="block inline-block w-2 h-2 bg-green-600 dark:bg-green-400 rounded-full mr-2"></span>
          <span class="text-green-600 dark:text-green-400">Active</span>
        </dd>
      </dl>
      <div class="grid grid-cols-2 lg:grid-cols-3 w-full gap-3 order-3 col-span-12 md:col-span-9 md:order-2">
        <dl>
          <dt class="text-gray-600">Code</dt>
          <dd class="text-base">marketing</dd>
        </dl>
        <dl>
          <dt class="text-gray-600">Users</dt>
          <dd class="text-base w-full">
            <a class="text-gray-600 text-base text-primary-1 dark:text-primary-9" href="javascript:;" data-toggle="modal" data-target="#user-list">28</a>
          </dd>
        </dl>
        <dl>
          <dt class="text-gray-600">Email</dt>
          <dd class="text-base">marketing@company.com</dd>
        </dl>
      </div>
      <div class="dropdown ml-auto order-2 col-span-1 md:order-3">
          <button class="dropdown-toggle btn border-none shadow-none" aria-expanded="false">
            <MoreVerticalIcon class="w-6 h-6 text-gray-600 ml-auto" />
          </button>
          <div class="dropdown-menu w-40">
            <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
              <a href="javascript:;" data-toggle="modal" data-target="#user-list" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Manage User</a>
              <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Edit</a>
              <a href="" class="block p-2 transition duration-300 text-red-600 dark:text-red-400 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Delete</a>
            </div>
          </div>
        </div>
    </div>
    <div class="box p-4 grid grid-cols-12 items-center gap-4">
      <dl class="mb-2 order-1 col-span-10 md:col-span-2">
        <dt class="mt-1 text-base font-medium">Sales</dt>
        <dd class="truncate flex items-center">
          <span class="block inline-block w-2 h-2 bg-green-600 dark:bg-green-400 rounded-full mr-2"></span>
          <span class="text-green-600 dark:text-green-400">Active</span>
        </dd>
      </dl>
      <div class="grid grid-cols-2 lg:grid-cols-3 w-full gap-3 order-3 col-span-12 md:col-span-9 md:order-2">
        <dl>
          <dt class="text-gray-600">Code</dt>
          <dd class="text-base">marketing</dd>
        </dl>
        <dl>
          <dt class="text-gray-600">Users</dt>
          <dd class="text-base w-full">
            <a class="text-gray-600 text-base text-primary-1 dark:text-primary-9" href="javascript:;" data-toggle="modal" data-target="#user-list">28</a>
          </dd>
        </dl>
        <dl>
          <dt class="text-gray-600">Email</dt>
          <dd class="text-base">marketing@company.com</dd>
        </dl>
      </div>
      <div class="dropdown ml-auto order-2 col-span-1 md:order-3">
        <button class="dropdown-toggle btn border-none shadow-none" aria-expanded="false">
          <MoreVerticalIcon class="w-6 h-6 text-gray-600 ml-auto" />
        </button>
        <div class="dropdown-menu w-40">
          <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
            <a href="javascript:;" data-toggle="modal" data-target="#user-list" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Manage User</a>
            <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Edit</a>
            <a href="" class="block p-2 transition duration-300 text-red-600 dark:text-red-400 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Department List -->
</template>
