<template>
  <!-- BEGIN: New Non-Working Day Modal -->
  <div id="new-nwd-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">Create New Non-Working Day</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <form class="p-5">
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="departmentName">Date
                <span class="text-red-600">*</span>
              </label>
              <Litepicker
                id="modal-datepicker-1"
                v-model="date"
                :options="{
                  autoApply: false,
                  showWeekNumbers: true,
                  dropdowns: {
                    minYear: 2020,
                    maxYear: null,
                    months: true,
                    years: true
                  }
                }"
                class="form-control text-base"
              />
            </div>
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="repeatNWD">Repeat
              </label>
              <select id="repeatNWD" class="form-select text-base">
                <option>Don't Repeat</option>
                <option>Repeat weekly</option>
                <option>Repeat monthly</option>
                <option>Repeat every year</option>
              </select>
            </div>
            <button type="submit" class="btn btn-lg w-full bg-green-600 shadow border-0 text-white mb-2">Save Non-Working Day</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END: New Non-Working Day Modal -->
  <!-- BEGIN: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8 items-center">
    <div class="col-span-12">
      <h2 class="text-2xl lg:text-3xl font-medium mr-auto mt-2">Weekends and Holidays</h2>
    </div>
  </div>
  <!-- END: Page Title -->
  <div class="intro-y box grid grid-cols-12 p-5 mt-8">
    <div class="col-span-12">
      <h4 class="text-xl font-medium">Select Weekends</h4>
      <p class="text-base text-gray-600">Processes won't run on weekends. However you can set up specific days manually using calendar.</p>
      <div class="flex flex-col xl:flex-row mt-4">
        <div class="form-check mr-4 bg-black bg-opacity-5 rounded p-3 my-1">
          <input id="dayOne" class="form-check-input bg-white" type="checkbox" value="" />
          <label class="form-check-label text-base" for="dayOne">Monday</label>
        </div>
        <div class="form-check mr-4 bg-black bg-opacity-5 rounded p-3 my-1">
          <input id="dayTwo" class="form-check-input bg-white" type="checkbox" value="" />
          <label class="form-check-label text-base" for="dayTwo">Tuesday</label>
        </div>
        <div class="form-check mr-4 bg-black bg-opacity-5 rounded p-3 my-1">
          <input id="dayThree" class="form-check-input bg-white" type="checkbox" value="" />
          <label class="form-check-label text-base" for="dayThree">Wednesday</label>
        </div>
        <div class="form-check mr-4 bg-black bg-opacity-5 rounded p-3 my-1">
          <input id="dayFour" class="form-check-input bg-white" type="checkbox" value="" />
          <label class="form-check-label text-base" for="dayFour">Thursday</label>
        </div>
        <div class="form-check mr-4 bg-black bg-opacity-5 rounded p-3 my-1">
          <input id="dayFive" class="form-check-input bg-white" type="checkbox" value="" />
          <label class="form-check-label text-base" for="dayFive">Friday</label>
        </div>
        <div class="form-check mr-4 bg-black bg-opacity-5 rounded p-3 my-1">
          <input id="daySix" class="form-check-input bg-white" type="checkbox" value="" checked />
          <label class="form-check-label text-base" for="daySix">Saturday</label>
        </div>
        <div class="form-check mr-4 bg-black bg-opacity-5 rounded p-3 my-1">
          <input id="daySeven" class="form-check-input bg-white" type="checkbox" value="" checked />
          <label class="form-check-label text-base" for="daySeven">Sunday</label>
        </div>
      </div>
    </div>
  </div>
  <div class="intro-y box mt-8">
    <div class="grid grid-cols-12 p-5 items-center">
      <div class="col-span-6">
        <h4 class="text-xl font-medium">Holiday Calendar</h4>
      </div>
      <div class="col-span-6 text-right">
        <a href="javascript:;" data-toggle="modal" data-target="#new-nwd-modal"  class="btn bg-green-600 border-0 text-white shadow-md ml-auto">Add Non-Working Day</a>
      </div>
    </div>
    <div class="grid grid-cols-12 border-t dark:border-gray-700">
      <div class="col-span-12 md:col-span-6 lg:col-span-7 xl:col-span-8 p-5">
        Calendar Goes Here (with clickable days)
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-5 xl:col-span-4 md:border-l dark:border-gray-700 overflow-y-scroll">
        <div class="font-medium text-lg bg-black bg-opacity-5 px-3 pt-5 pb-3">
          Custom Non-Working Days
        </div>
        <div class="border-b dark:border-gray-700 flex items-center p-3 ">
          <div class="mr-auto">
            <div class="text-base font-medium">Corporate Holiday</div>
            <div class="text-sm text-gray-600">Monday, 26 July 2021</div>
          </div>
          <div class="dropdown">
            <button class="dropdown-toggle btn btn-light border-0" aria-expanded="false">
              <MoreVerticalIcon class="w-6 h-6 text-gray-700 dark:text-gray-300" />
            </button>
            <div class="dropdown-menu w-32">
              <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">
                  <EditIcon class="w-4 h-4 text-gray-700 dark:text-gray-300 mr-2" />
                  Edit
                </a>
                <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md text-red-600 dark:text-red-400">
                  <TrashIcon class="w-4 h-4 text-red-600 dark:text-red-400 mr-2" />
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="border-b dark:border-gray-700 flex items-center p-3">
          <div class="mr-auto">
            <div class="text-base font-medium truncate">Company Birthday</div>
            <div class="text-sm text-gray-600">Monday, 26 July 2021</div>
          </div>
          <div class="dropdown">
            <button class="dropdown-toggle btn btn-light border-0" aria-expanded="false">
              <MoreVerticalIcon class="w-6 h-6 text-gray-700 dark:text-gray-300" />
            </button>
            <div class="dropdown-menu w-32">
              <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">
                  <EditIcon class="w-4 h-4 text-gray-700 dark:text-gray-300 mr-2" />
                  Edit
                </a>
                <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md text-red-600 dark:text-red-400">
                  <TrashIcon class="w-4 h-4 text-red-600 dark:text-red-400 mr-2" />
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="border-b dark:border-gray-700 flex items-center p-3">
          <div class="mr-auto">
            <div class="text-base font-medium truncate">Happy Sunday</div>
            <div class="text-sm text-gray-600">Sunday, 26 July 2021</div>
          </div>
          <div class="dropdown">
            <button class="dropdown-toggle btn btn-light border-0" aria-expanded="false">
              <MoreVerticalIcon class="w-6 h-6 text-gray-700 dark:text-gray-300" />
            </button>
            <div class="dropdown-menu w-32">
              <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">
                  <EditIcon class="w-4 h-4 text-gray-700 dark:text-gray-300 mr-2" />
                  Edit
                </a>
                <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md text-red-600 dark:text-red-400">
                  <TrashIcon class="w-4 h-4 text-red-600 dark:text-red-600 dark:text-red-400 mr-2" />
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="font-medium text-lg bg-black bg-opacity-5 px-3 pt-5 pb-3">
          National Holidays
        </div>
        <div class="border-b dark:border-gray-700 flex items-center p-3">
          <div class="mr-auto">
            <div class="text-base font-medium">New Year</div>
            <div class="text-sm text-gray-600">Monday, 26 July 2021</div>
          </div>
          <a class="btn btn-sm btn-light dark:border-gray-700">Ignore</a>
        </div>
        <div class="border-b dark:border-gray-700 flex items-center p-3">
          <div class="mr-auto">
            <div class="text-base font-medium">National Pasta Day</div>
            <div class="text-sm text-gray-600">Monday, 26 July 2021</div>
          </div>
          <a class="btn btn-sm btn-danger">Ignored</a>
        </div>
        <div class="border-b dark:border-gray-700 flex items-center p-3">
          <div class="mr-auto">
            <div class="text-base font-medium">New Year</div>
            <div class="text-sm text-gray-600">Monday, 26 July 2021</div>
          </div>
          <a class="btn btn-sm btn-danger">Ignored</a>
        </div>
      </div>
    </div>
    <div class="px-5 py-8 border-t dark:border-gray-700">
      <h4 class="text-lg font-medium">Import Non-Working Days</h4>
      <div class="my-4">
        <Dropzone
          id="lwcFile"
          ref-key="dropzoneSingleRef"
          :options="{
            url: 'https://httpbin.org/post',
            thumbnailWidth: 150,
            maxFilesize: 0.5,
            maxFiles: 1,
            headers: { 'My-Awesome-Header': 'header value' }
          }"
          class="dropzone">
          <div class="text-lg font-medium pt-4">
            Drop your CSV file here or click to upload.
          </div>
        </Dropzone>
      </div>
      <div class="py-4 border-t dark:border-gray-700 flex items-center">
        <h4 class="text-lg font-medium my-4 mr-3">Want to save/share your non-working days CSV file?</h4>
        <a class="btn btn-light dark:border-gray-700">Export CSV File</a>
      </div>
    </div>
  </div>
</template>
