<template>
  <!-- BEGIN: Modal Content -->
  <div id="new-group-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">New Process Group</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <div class="grid grid-cols-3">
            <div class="col-span-3 lg:col-span-2 p-5">
              <div class="mb-6">
                <label class="font-medium text-base block mb-2" for="processGroupName">Group Name
                  <span class="text-red-600">*</span>
                </label>
                <input type="text" id="processGroupName" class="form-control text-base" placeholder="Process Group Name" />
              </div>
              <div class="p-3 mb-6 flex items-center bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
                <span class="text-lg font-medium">1.</span>
                <div class="grid grid-cols-12 gap-4 px-3 w-full">
                  <div class="col-span-12 lg:col-span-6">
                    <label class="text-sm font-medium block mb-1">Process</label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Process'
                      }" class="w-full">
                      <option value="1">WayProcess</option>
                      <option value="2">BoxProcess</option>
                      <option value="3">EmailWrapper</option>
                    </TomSelect>
                  </div>
                  <div class="col-span-12 lg:col-span-6">
                    <label class="text-sm font-medium block mb-1">Robot</label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Robot'
                      }" class="w-full">
                      <option value="1">Robot01</option>
                      <option value="2">RObot02</option>
                      <option value="3">Robot03</option>
                    </TomSelect>
                  </div>
                  <div class="col-span-12">
                    <label class="text-sm font-medium block mb-1 truncate">Load Balance (Backup Robot)</label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Backup Robot'
                      }" class="w-full">
                      <option value="1">No Load Balance</option>
                      <option value="2">RObot02</option>
                      <option value="3">Robot03</option>
                    </TomSelect>
                  </div>
                </div>
                <div>
                  <a class="rounded-full flex items-center justify-center p-1 bg-red-500 hover:bg-red-700 cursor-pointer">
                    <XIcon class="w-4 h-4 text-red-100" />
                  </a>
                </div>
              </div>
              <div class="p-3 mb-6 flex items-center bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
                <span class="text-lg font-medium">2.</span>
                <div class="grid grid-cols-12 gap-4 px-3 w-full">
                  <div class="col-span-12 lg:col-span-6">
                    <label class="text-sm font-medium block mb-1">Process</label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Process'
                      }" class="w-full">
                      <option value="1">WayProcess</option>
                      <option value="2">BoxProcess</option>
                      <option value="3">EmailWrapper</option>
                    </TomSelect>
                  </div>
                  <div class="col-span-12 lg:col-span-6">
                    <label class="text-sm font-medium block mb-1">Robot</label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Robot'
                      }" class="w-full">
                      <option value="1">Robot01</option>
                      <option value="2">RObot02</option>
                      <option value="3">Robot03</option>
                    </TomSelect>
                  </div>
                  <div class="col-span-12">
                    <label class="text-sm font-medium block mb-1 truncate">Load Balance (Backup Robot)</label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Backup Robot'
                      }" class="w-full">
                      <option value="1">No Load Balance</option>
                      <option value="2">RObot02</option>
                      <option value="3">Robot03</option>
                    </TomSelect>
                  </div>
                </div>
                <div>
                  <a class="rounded-full flex items-center justify-center p-1 bg-red-500 hover:bg-red-700 cursor-pointer">
                    <XIcon class="w-4 h-4 text-red-100" />
                  </a>
                </div>
              </div>
              <a class="p-3 mb-8 bg-green-500 rounded flex items-center justify-center w-full bg-opacity-20 border-green-500 hover:border-green-700 border border-dashed text-green-600 hover:bg-opacity-100 hover:text-white text-base font-medium cursor-pointer">
                <PlusCircleIcon class="w-6 h-6 mr-2" />
                Add Group Item
              </a>
              <div class="p-3 mb-6 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
                <div class="form-check">
                  <input id="processActive" class="form-check-switch" type="checkbox" />
                  <label class="form-check-label text-base" for="processActive">Active</label>
                </div>
              </div>
              <!-- BEGIN: Trigger Content -->
              <!-- None -->
              <div class="border rounded p-4 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 mb-5">
                <div class="mb-3">
                  <label class="font-medium text-base block mb-2" for="groupTrigger">Trigger or Frequency</label>
                  <select id="groupTrigger" class="form-select text-base">
                    <option selected>None</option>
                    <option>Minutes</option>
                    <option>Hourly</option>
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                    <option>Cron Job</option>
                  </select>
                </div>
              </div>
              <!-- /None -->
              <!-- Minutes -->
              <div class="border rounded p-4 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 mb-5">
                <div class="mb-5">
                  <label class="font-medium text-base block mb-2" for="groupTrigger1">Trigger or Frequency</label>
                  <select id="groupTrigger1" class="form-select text-base">
                    <option>None</option>
                    <option selected>Minutes</option>
                    <option>Hourly</option>
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                    <option>Cron Job</option>
                  </select>
                </div>
                <div class="mb-2">
                  <label class="font-medium text-base block mb-2" for="groupTriggerMinutes">Run process every</label>
                  <div class="flex items-center">
                    <input id="groupTriggerMinutes" type="number" class="form-control text-base w-24 text-center" value="5" />
                    <span class="text-base text-center block ml-4">minutes</span>
                  </div>
                </div>
              </div>
              <!-- /Minutes -->
              <!-- Hours -->
              <div class="border rounded p-4 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 mb-5">
                <div class="mb-5">
                  <label class="font-medium text-base block mb-2" for="groupTrigger2">Trigger or Frequency</label>
                  <select id="groupTrigger2" class="form-select text-base">
                    <option>None</option>
                    <option>Minutes</option>
                    <option selected>Hourly</option>
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                    <option>Cron Job</option>
                  </select>
                </div>
                <div class="mb-2">
                  <label class="font-medium text-base block mb-2" for="groupTriggerHours">Run process every</label>
                  <div class="flex flex-col sm:flex-row gap-3">
                    <div class="flex items-center col-span-2 sm:col-span-1">
                      <input id="groupTriggerHours1" type="number" class="form-control text-base w-24 text-center" value="1" />
                      <span class="text-base text-center block ml-4 mr-3">hour(s)</span>
                    </div>
                    <div class="flex items-center col-span-2 sm:col-span-1">
                      <input id="groupTriggerHours2" type="number" class="form-control text-base w-24 text-center" value="00" />
                      <span class="text-base text-center block ml-4">minutes</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Hours -->
              <!-- Daily -->
              <div class="border rounded p-4 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 mb-5">
                <div class="mb-5">
                  <label class="font-medium text-base block mb-2" for="groupTrigger3">Trigger or Frequency</label>
                  <select id="groupTrigger3" class="form-select text-base">
                    <option>None</option>
                    <option>Minutes</option>
                    <option>Hourly</option>
                    <option selected>Daily</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                    <option>Cron Job</option>
                  </select>
                </div>
                <div class="mb-2">
                  <label class="font-medium text-base block mb-2" for="groupTriggerTime">Run process every day at</label>
                  <input id="groupTriggerTime" type="time" class="form-control text-base" value="12:00" />
                  <span class="text-sm text-gray-600 text-center block mt-2">UTC +6 (Bangkok time)</span>
                </div>
              </div>
              <!-- /Daily -->
              <!-- Weekly -->
              <div class="border rounded p-4 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 mb-5">
                <div class="mb-5">
                  <label class="font-medium text-base block mb-2" for="groupTrigger4">Trigger or Frequency</label>
                  <select id="groupTrigger4" class="form-select text-base">
                    <option>None</option>
                    <option>Minutes</option>
                    <option>Hourly</option>
                    <option>Daily</option>
                    <option selected>Weekly</option>
                    <option>Monthly</option>
                    <option>Cron Job</option>
                  </select>
                </div>
                <div class="mb-2">
                  <label class="font-medium text-base block mb-2" for="groupTriggerTime">Run process every</label>
                  <div class="grid grid-cols-2 sm:flex-row gap-3">
                    <div class="flex items-center col-span-1">
                      <div class="form-check">
                        <input id="Weekday1"
                          class="form-check-switch bg-white"
                          type="checkbox"
                          value="" />
                        <label class="form-check-label font-medium text-base" for="Weekday1">Monday</label>
                      </div>
                    </div>
                    <div class="flex items-center col-span-1">
                      <span class="text-base font-base mr-2">at</span>
                      <input type="time" class="form-control text-base w-24 text-center" />
                    </div>
                    <div class="flex items-center col-span-1">
                      <div class="form-check">
                        <input id="Weekday2"
                          class="form-check-switch bg-white"
                          type="checkbox"
                          value="" />
                        <label class="form-check-label font-medium text-base" for="Weekday2">Tuesday</label>
                      </div>
                    </div>
                    <div class="flex items-center col-span-1">
                      <span class="text-base font-base mr-2">at</span>
                      <input type="time" class="form-control text-base w-24 text-center" />
                    </div>
                    <div class="flex items-center col-span-1">
                      <div class="form-check">
                        <input id="Weekday3"
                          class="form-check-switch bg-white"
                          type="checkbox"
                          value="" />
                        <label class="form-check-label font-base text-base" for="Weekday3">Wednesday</label>
                      </div>
                    </div>
                    <div class="flex items-center col-span-1">
                      <span class="text-base font-base mr-2">at</span>
                      <input type="time" class="form-control text-base w-24 text-center" />
                    </div>
                    <div class="flex items-center col-span-1">
                      <div class="form-check">
                        <input id="Weekday4"
                          class="form-check-switch bg-white"
                          type="checkbox"
                          value="" />
                        <label class="form-check-label font-medium text-base" for="Weekday4">Thursday</label>
                      </div>
                    </div>
                    <div class="flex items-center col-span-1">
                      <span class="text-base font-base mr-2">at</span>
                      <input type="time" class="form-control text-base w-24 text-center" />
                    </div>
                    <div class="flex items-center col-span-1">
                      <div class="form-check">
                        <input id="Weekday5"
                          class="form-check-switch bg-white"
                          type="checkbox"
                          value="" />
                        <label class="form-check-label font-medium text-base" for="Weekday5">Friday</label>
                      </div>
                    </div>
                    <div class="flex items-center col-span-1">
                      <span class="text-base font-base mr-2">at</span>
                      <input type="time" class="form-control text-base w-24 text-center" />
                    </div>
                    <div class="flex items-center col-span-1">
                      <div class="form-check">
                        <input id="Weekday6"
                          class="form-check-switch bg-white"
                          type="checkbox"
                          value="" />
                        <label class="form-check-label font-medium text-base" for="Weekday6">Saturday</label>
                      </div>
                    </div>
                    <div class="flex items-center col-span-1">
                      <span class="text-base font-base mr-2">at</span>
                      <input type="time" class="form-control text-base w-24 text-center" />
                    </div>
                    <div class="flex items-center col-span-1">
                      <div class="form-check">
                        <input id="Weekday7"
                          class="form-check-switch bg-white"
                          type="checkbox"
                          value="" />
                        <label class="form-check-label font-medium text-base" for="Weekday7">Sunday</label>
                      </div>
                    </div>
                    <div class="flex items-center col-span-1">
                      <span class="text-base font-base mr-2">at</span>
                      <input type="time" class="form-control text-base w-24 text-center" />
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Weekly -->
              <!-- Monthly -->
              <div class="border rounded p-4 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 mb-5">
                <div class="mb-5">
                  <label class="font-medium text-base block mb-2" for="groupTrigger5">Trigger or Frequency</label>
                  <select id="groupTrigger5" class="form-select text-base">
                    <option>None</option>
                    <option>Minutes</option>
                    <option>Hourly</option>
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option selected>Monthly</option>
                    <option>Cron Job</option>
                  </select>
                </div>
                <div class="mb-2">
                  <label class="font-medium text-base block mb-2">Run process</label>
                  <div class="flex flex-col sm:flex-row gap-3">
                    <div class="flex items-center">
                      <label class="font-medium text-base mr-2">Every</label>
                      <input id="groupTriggerHours1" type="number" class="form-control text-base w-24 text-center" value="1" />
                      <span class="text-base text-center block ml-4 mr-3">month(s)</span>
                    </div>
                  </div>
                  <div class="mt-3">
                    <label class="font-medium text-base mr-2">Every</label>
                    <div class="flex flex-col sm:flex-row flex-wrap mt-2">
                      <div class="form-check mr-2">
                        <input id="checkbox-switch-1" class="form-check-input" type="checkbox" value=""/>
                        <label class="form-check-label text-base" for="checkbox-switch-1">Monday</label>
                      </div>
                      <div class="form-check mr-2">
                        <input id="checkbox-switch-2" class="form-check-input" type="checkbox" value=""/>
                        <label class="form-check-label text-base" for="checkbox-switch-2">Tuesday</label>
                      </div>
                      <div class="form-check mr-2">
                        <input id="checkbox-switch-3" class="form-check-input" type="checkbox" value=""/>
                        <label class="form-check-label text-base" for="checkbox-switch-3">Wednesday</label>
                      </div>
                      <div class="form-check mr-2">
                        <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""/>
                        <label class="form-check-label text-base" for="checkbox-switch-4">Thursday</label>
                      </div>
                      <div class="form-check mr-2">
                        <input id="checkbox-switch-5" class="form-check-input" type="checkbox" value=""/>
                        <label class="form-check-label text-base" for="checkbox-switch-5">Friday</label>
                      </div>
                      <div class="form-check mr-2">
                        <input id="checkbox-switch-6" class="form-check-input" type="checkbox" value=""/>
                        <label class="form-check-label text-base" for="checkbox-switch-6">Saturday</label>
                      </div>
                      <div class="form-check mr-2">
                        <input id="checkbox-switch-7" class="form-check-input" type="checkbox" value=""/>
                        <label class="form-check-label text-base" for="checkbox-switch-7">Sunday</label>
                      </div>
                    </div>
                  </div>
                  <div class="flex items-center mt-3">
                    <span class="text-base font-base mr-2">at</span>
                    <input type="time" class="form-control text-base w-24 text-center" />
                  </div>
                </div>
              </div>
              <!-- /Monthly -->
              <!-- Cron Job -->
              <div class="border rounded p-4 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 mb-5">
                <div class="mb-5">
                  <label class="font-medium text-base block mb-2" for="groupTrigger6">Trigger or Frequency</label>
                  <select id="groupTrigger6" class="form-select text-base">
                    <option>None</option>
                    <option>Minutes</option>
                    <option>Hourly</option>
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                    <option selected>Cron Job</option>
                  </select>
                </div>
                <div class="mb-2">
                  <label class="font-medium text-base block mb-2" for="groupTriggerCron">Cron Job</label>
                  <input id="groupTriggerCron" type="text" class="form-control text-base" />
                </div>
              </div>
              <!-- /Cron Job -->
              <!-- END: Trigger Content -->
              <div class="mb-5">
                <label class="block text-base font-medium mb-3">Days to ignore</label>
                <div class="p-3 mb-3 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
                  <div class="form-check">
                    <input id="groupCheck01" class="form-check-switch" type="checkbox" />
                    <label class="form-check-label font-medium text-base" for="groupCheck01">Don’t run process on weekends</label>
                  </div>
                </div>
                <div class="p-3 mb-3 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
                <div class="form-check">
                  <input id="groupCheck02" class="form-check-switch" type="checkbox" />
                  <label class="form-check-label font-medium text-base" for="groupCheck02">Don’t run process on public holidays <span class="text-sm block">Process will ignore holidays and weekends</span>
                  </label>
                  </div>
                </div>
                <div class="p-3 mb-3 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
                  <div class="form-check">
                    <input id="groupCheck03" class="form-check-switch" type="checkbox" />
                    <label class="form-check-label font-medium text-base" for="groupCheck03">Add ignoring dates manually
                    </label>
                  </div>
                </div>
              </div>
              <div class="pt-5 border-t dark:border-t dark:border-gray-700">
                <label class="font-medium text-base block mb-2" for="processNote">Note (optional)</label>
                <textarea id="processNote" class="form-control text-base" placeholder="Add a Note..."></textarea>
              </div>
            </div>
            <!-- BEGIN: ROBOT SUMMARY -->
            <div class="col-span-3 lg:col-span-1 bg-black bg-opacity-5 p-5 overflow-y">
              <div class="rounded-full mx-auto mb-2 overflow-hidden w-24 h-24 flex items-center justify-center bg-theme-2">
                <img
                alt="Robot"
                :src="require(`@/assets/images/robot-colored.svg`)"
              />
              </div>
              <div class="text-lg font-medium text-center">I will run:</div>
              <div class="mt-4 text-base">
                <div class="mb-3">
                  <CheckCircleIcon class="w-4 h-4 mr-2" />
                  Daily Sales Report
                </div>
                <div class="mb-3">
                  <CheckCircleIcon class="w-4 h-4 mr-2" />
                  On 15 ‘Sales department’ computers
                </div>
                <div class="mb-3">
                  <CheckCircleIcon class="w-4 h-4 mr-2" />
                  every Day at 2:30 PM UTC +6
                </div>
                <div class="mb-3">
                  <CheckCircleIcon class="w-4 h-4 mr-2" />
                  starting from Tomorrow, Tue, Mar 3 2022
                </div>
                <div class="mb-3">
                  <CheckCircleIcon class="w-4 h-4 mr-2" />
                  excluding weekends and public holidays
                </div>
                <div class="mb-3">
                  <CheckCircleIcon class="w-4 h-4 mr-2" />
                  Forever! Like really, until the end of the days.
                </div>
              </div>
              <div class="py-6 mt-6 border-t dark:border-gray-700">
                <p class="mb-3 text-center font-medium">Sounds Good?</p>
                <button type="button" class="btn btn-lg w-full bg-green-600 border-0 text-white ml-auto">Yes, Save Process Group</button>
              </div>
            </div>
            <!-- END: ROBOT SUMMARY -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Modal Content -->
  <!-- BEGIN: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8 items-center">
    <div class="col-span-6">
      <h2 class="text-2xl lg:text-3xl font-medium mt-2">Process Groups</h2>
    </div>
    <div class="col-span-6 text-right">
      <a href="javascript:;" data-toggle="modal" data-target="#new-group-modal" class="btn bg-green-600 border-0 text-white shadow-md ml-auto lg:ml-5">New Group</a>
    </div>
    <div class="col-span-12">
      <div class="p-1 bg-gray-300 dark:bg-gray-900 rounded w-full flex">
        <router-link to="/groups-all" class="btn flex-1 rounded btn-dark dark:bg-gray-700">All Process Groups</router-link>
        <router-link to="/groups-log" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Process Group Log</router-link>
      </div>
    </div>
  </div>
  <!-- END: Page Title -->
  <!-- BEGIN: Filter -->
  <div class="intro-y accordion-item mt-6">
    <div class="flex">
      <!-- BEGIN: Search -->
      <div class="relative">
        <SearchIcon class="w-4 h-4 absolute my-auto inset-y-0 ml-3 left-0 z-10 text-gray-700 dark:text-gray-300"
        />
        <input
          type="text"
          class="form-control w-full sm:w-64 box pl-10 text-gray-700 dark:text-gray-300 placeholder-theme-8"
          placeholder="Search..."
        />
      </div>
      <!-- END: Search -->
      <a id="filter-accordion-content" class="btn ml-3 mr-auto accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#filter-accordion-collapse" aria-expanded="false" aria-controls="filter-accordion-collapse">Filter</a>
      <!-- START: Filter Reset -->
      <button class='btn'>
        <span>Reset</span>
        <span class="py-0.5 px-1.5 bg-theme-2 ml-1 text-xs rounded-full text-white">2</span>
      </button>
      <!-- END: Filter Reset -->
    </div>
    <div id="filter-accordion-collapse" class="box p-4 mt-2 accordion-collapse collapse" aria-labelledby="filter-accordion-content" style="display: none;">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 md:col-span-6 xl:col-span-3">
          <label for="input-filter-4" class="form-label">Status</label>
          <select id="input-filter-4" class="form-select">
            <option>Any</option>
            <option>Active</option>
            <option>Inactive</option>
          </select>
        </div>
        <div class="col-span-12 md:col-span-6 xl:col-span-3">
          <label for="input-filter-5" class="form-label"
            >Run Date</label
          >
          <div class="preview">
            <Litepicker
              v-model="daterange"
              :options="{
                autoApply: true,
                singleMode: true,
                numberOfColumns: 1,
                numberOfMonths: 1,
                showWeekNumbers: true,
                dropdowns: {
                  minYear: 2000,
                  maxYear: null,
                  months: true,
                  years: true
                }
              }"
              class="form-control w-full block"
            />
          </div>
        </div>
        <div class="col-span-12 md:col-span-6 xl:col-span-3">
          <label for="input-filter-4" class="form-label">Robots</label>
          <TomSelect
            v-model="selectMultiple"
            :options="{
              plugins: {
                remove_button:{
                  title:'Remove',
                }
              },
              placeholder: 'Select Robots'
            }"
            class="w-full"
            multiple
          >
            <option value="1">MooRobot</option>
            <option value="2">MmRobot</option>
            <option value="3">OzzBot</option>
            <option value="4">KeyBot</option>
            <option value="5">PocketBot</option>
          </TomSelect>
        </div>
        <div class="col-span-12 md:col-span-6 xl:col-span-3">
          <label for="department-select" class="form-label"
            >Department</label
          >
          <TomSelect
            v-model="selectMultiple"
            :options="{
              plugins: {
                remove_button:{
                  title:'Remove',
                }
              },
              placeholder: 'Select Department'
            }"
            class="w-full"
            multiple
          >
            <option value="1">IT</option>
            <option value="2">Sales</option>
            <option value="3">Management</option>
            <option value="4">Admin</option>
            <option value="5">Marketing</option>
          </TomSelect>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Filter -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-4">
    <!-- BEGIN: Process List -->
    <div class="intro-y col-span-12">
      <div id="process-accordion">
        <div class="box accordion-item border rounded shadow my-2">
          <a id="group-accordion-content-1" class="flex items-center p-3 accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#group-accordion-collapse-1" aria-expanded="false" aria-controls="group-accordion-collapse-1">
            <div class="grid grid gap-2 w-full grid-cols-2 lg:grid-cols-4 items-center text-base">
              <dl>
                <dt class="text-base font-medium truncate">Test Hello Group</dt>
                <dd class="truncate">
                  <span class="inline-block w-2 h-2 bg-green-600 dark:bg-green-400 rounded-full mr-2"></span>
                  <span class="text-green-600 dark:text-green-400">Active</span>
                </dd>
              </dl>
              <dl>
                <dt class="text-gray-600 truncate">Processes</dt>
                <dd class="truncate">2</dd>
              </dl>
              <dl>
                <dt class="text-gray-600 truncate">Trigger</dt>
                <dd class="truncate">Daily</dd>
              </dl>
              <dl>
                <dt class="text-gray-600 truncate">Next Run</dt>
                <dd class="truncate">Tue, 07 Sep 2021 23:32</dd>
              </dl>
            </div>
          </a>
          <div class="dropdown ml-auto order-2 col-span-1 md:order-3 absolute right-1 top-4">
            <button class="dropdown-toggle btn border-none shadow-none" aria-expanded="false">
              <MoreVerticalIcon class="w-6 h-6 text-gray-600 ml-auto" />
            </button>
            <div class="dropdown-menu w-40">
              <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Add to Queue</a>
                <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Edit</a>
                <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Disable</a>
                <a href="" class="block p-2 transition duration-300 text-red-600 dark:text-red-400 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Delete</a>
              </div>
            </div>
          </div>
          <div id="group-accordion-collapse-1" class="border-t dark:border-gray-700 accordion-collapse collapse" aria-labelledby="group-accordion-content-1" data-bs-parent="#process-accordion" style="display: none;">
            <!-- BEGIN: Processes -->
            <div class="p-3">
              <div id="group-inner-accordion" class="">
                <div class="accordion-item border rounded dark:border-gray-700 mb-3">
                  <a id="group-inner-content-1" class="flex bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 items-center p-3 accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#group-inner-collapse-1" aria-expanded="false" aria-controls="group-inner-collapse-1">
                    <div class="p-2 text-base font-medium flex items-center mr-2">
                      1.
                    </div>
                    <div class="grid gap-2 grid-cols-2 w-full lg:grid-cols-3 items-center">
                      <dl>
                        <dt class="text-sm text-gray-600">Process</dt>
                        <dd class="truncate text-base">HelloProcess</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Robot</dt>
                        <dd class="truncate text-base">Binh_Robot</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Load Balance</dt>
                        <dd class="truncate text-base">None</dd>
                      </dl>
                    </div>
                    <ChevronDownIcon class="w-6 h-6 text-gray-600 ml-auto" />
                  </a>
                  <div id="group-inner-collapse-1" class="accordion-collapse collapse p-3" aria-labelledby="group-inner-content-1" data-bs-parent="#group-inner-accordion" style="display: none;">
                    <div class="grid grid-cols-2 lg:grid-cols-3 gap-3 pl-9 pr-7">
                      <dl>
                        <dt class="text-sm text-gray-600">Robot IP</dt>
                        <dd class="truncate text-base">172.26.80.1</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Robot Machine name</dt>
                        <dd class="truncate text-base">RobotTest</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Department</dt>
                        <dd class="truncate text-base">Sales</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">LWC file</dt>
                        <dd class="truncate text-base">start_notepad_150.lwc</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Version</dt>
                        <dd class="truncate text-base">V 1.4.0.1</dd>
                      </dl>
                    </div>
                  </div>
                </div>
                <div class="accordion-item border rounded dark:border-gray-700 mb-3">
                  <a id="group-inner-content-2" class="flex items-center bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 p-3 accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#group-inner-collapse-2" aria-expanded="false" aria-controls="group-inner-collapse-2">
                    <div class="p-2 text-base font-medium flex items-center mr-2">
                      2.
                    </div>
                    <div class="grid gap-2 grid-cols-2 w-full lg:grid-cols-3 items-center">
                      <dl>
                        <dt class="text-sm text-gray-600">Process</dt>
                        <dd class="truncate text-base">HelloProcess</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Robot</dt>
                        <dd class="truncate text-base">Binh_Robot</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Load Balance</dt>
                        <dd class="truncate text-base">None</dd>
                      </dl>
                    </div>
                    <ChevronDownIcon class="w-6 h-6 text-gray-600 ml-auto" />
                  </a>
                  <div id="group-inner-collapse-2" class="accordion-collapse collapse p-3" aria-labelledby="group-inner-content-2" data-bs-parent="#group-inner-accordion" style="display: none;">
                    <div class="grid grid-cols-2 lg:grid-cols-3 gap-3 pl-9 pr-7">
                      <dl>
                        <dt class="text-sm text-gray-600">Robot IP</dt>
                        <dd class="truncate text-base">172.26.80.1</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Robot Machine name</dt>
                        <dd class="truncate text-base">RobotTest</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Department</dt>
                        <dd class="truncate text-base">Sales</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">LWC file</dt>
                        <dd class="truncate text-base">start_notepad_150.lwc</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Version</dt>
                        <dd class="truncate text-base">V 1.4.0.1</dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END: Processes -->
          </div>
        </div>
        <div class="box accordion-item border rounded shadow my-2">
          <a id="group-accordion-content-1" class="flex items-center p-3 accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#group-accordion-collapse-1" aria-expanded="false" aria-controls="group-accordion-collapse-1">
            <div class="grid grid gap-2 w-full grid-cols-2 lg:grid-cols-4 items-center text-base">
              <dl>
                <dt class="text-base font-medium truncate">Test Hello Group</dt>
                <dd class="truncate">
                  <span class="inline-block w-2 h-2 bg-green-600 dark:bg-green-400 rounded-full mr-2"></span>
                  <span class="text-green-600 dark:text-green-400">Active</span>
                </dd>
              </dl>
              <dl>
                <dt class="text-gray-600 truncate">Processes</dt>
                <dd class="truncate">2</dd>
              </dl>
              <dl>
                <dt class="text-gray-600 truncate">Trigger</dt>
                <dd class="truncate">Daily</dd>
              </dl>
              <dl>
                <dt class="text-gray-600 truncate">Next Run</dt>
                <dd class="truncate">Tue, 07 Sep 2021 23:32</dd>
              </dl>
            </div>
            <div class="dropdown ml-auto order-2 col-span-1 md:order-3 absolute right-1 top-4">
              <button class="dropdown-toggle btn border-none shadow-none" aria-expanded="false">
                <MoreVerticalIcon class="w-6 h-6 text-gray-600 ml-auto" />
              </button>
              <div class="dropdown-menu w-40">
                <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                  <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Add to Queue</a>
                  <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Edit</a>
                  <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Disable</a>
                  <a href="" class="block p-2 transition duration-300 text-red-600 dark:text-red-400 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Delete</a>
                </div>
              </div>
            </div>
          </a>
          <div id="group-accordion-collapse-1" class="border-t dark:border-gray-700 accordion-collapse collapse" aria-labelledby="group-accordion-content-1" data-bs-parent="#process-accordion" style="display: none;">
            <div class="p-3">Group Details Here...
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center mt-4 py-4">
        <LoadingIcon icon="oval" class="w-6 h-6" />
      </div>
    </div>
    <!-- END: Process List -->
  </div>
</template>
