<template>
  <!-- BEGIN: Modal Content -->
  <div id="add-process-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">Add Processes or Groups to Queue</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <div class="grid grid-cols-6 gap-3 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 p-5">
            <div class="col-span-6 sm:col-span-4 lg:col-span-2">
              <div class="relative">
                <SearchIcon class="w-4 h-4 absolute my-auto inset-y-0 ml-3 left-0 z-10 text-gray-700 dark:text-gray-300"
                />
                <input type="text" class="form-control w-full box pl-10 text-gray-700 dark:text-gray-300 placeholder-theme-8" placeholder="Search..."/>
              </div>
            </div>
            <div class="col-span-3 sm:col-span-2 lg:col-span-1">
              <select class="form-select">
                <option>Any Type</option>
                <option>Process</option>
                <option>Process Group</option>
              </select>
            </div>
            <div class="col-span-3 sm:col-span-2 lg:col-span-1">
              <select class="form-select">
                <option>Any Status</option>
              </select>
            </div>
            <div class="col-span-3 sm:col-span-2 lg:col-span-1">
              <select class="form-select">
                <option>All Robots</option>
              </select>
            </div>
            <div class="col-span-3 sm:col-span-2 lg:col-span-1">
              <select class="form-select">
                <option>Any Date</option>
              </select>
            </div>
          </div>
          <div class="p-5">
            <div class="flex items-center p-3 border dark:border-gray-700 rounded mb-2">
              <input class="form-check-input mr-2" type="checkbox" value="">
              <BoxIcon class="w-5 h-5 text-gray-600 mr-2" />
              <div class="grid gap-2 grid-cols-2 lg:grid-cols-4 items-center">
                <dl>
                  <dt class="text-sm text-gray-600">Type</dt>
                  <dd class="truncate text-base">Process</dd>
                </dl>
                <dl>
                  <dt class="text-sm text-gray-600">Name</dt>
                  <dd class="truncate text-base">hello-world</dd>
                </dl>
                <dl>
                  <dt class="text-sm text-gray-600">Robot</dt>
                  <dd class="truncate text-base">Binh_Robot</dd>
                </dl>
                <dl>
                  <dt class="text-sm text-gray-600">Next Run (daily)</dt>
                  <dd class="truncate text-base">Tue, 07 Sep 2021 23:32</dd>
                </dl>
              </div>
            </div>
            <div class="border rounded mb-3 dark:border-gray-700">
              <div class="flex items-center p-3 rounded">
                <input class="form-check-input mr-2" type="checkbox" value="">
                <ChainIcon class="w-5 h-5 text-gray-600 mr-2" />
                <div class="grid gap-2 grid-cols-2 lg:grid-cols-4 items-center">
                  <dl>
                    <dt class="text-sm text-gray-600">Type</dt>
                    <dd class="truncate text-base">Group</dd>
                  </dl>
                  <dl>
                    <dt class="text-sm text-gray-600">Name</dt>
                    <dd class="truncate text-base">hello-world</dd>
                  </dl>
                  <dl>
                    <dt class="text-sm text-gray-600">Robot</dt>
                    <dd class="truncate text-base">Binh_Robot</dd>
                  </dl>
                  <dl>
                    <dt class="text-sm text-gray-600">Next Run</dt>
                    <dd class="truncate text-base">Tue, 07 Sep 2021 23:32</dd>
                  </dl>
                </div>
              </div>
              <div class="border-t dark:border-gray-700">
                <div class="border-b dark:border-gray-700 flex items-center p-3">
                  <div class="grid gap-2 grid-cols-2 w-full items-center">
                    <div class="flex items-center col-span-1">
                      <div class="block w-3 h-3 border-b border-l border-gray-600 dark:border-gray-600 mr-4 ml-2 -mt-2.5"></div>
                      <input class="form-check-input mr-2" type="checkbox" value="">
                      <BoxIcon class="w-5 h-5 text-gray-600 mr-2" />
                      <dl>
                        <dt class="text-sm text-gray-600">Process</dt>
                        <dd class="truncate text-base">Hello World</dd>
                      </dl>
                    </div>
                    <div class="col-span-1">
                      <dl>
                        <dt class="text-sm text-gray-600">Robot</dt>
                        <dd class="truncate text-base">Binh_Robot</dd>
                      </dl>
                    </div>
                  </div>
                </div>
                <div class="border-b dark:border-gray-700 flex items-center p-3">
                  <div class="grid gap-2 grid-cols-2 w-full items-center">
                    <div class="flex items-center col-span-1">
                      <div class="block w-3 h-3 border-b border-l border-gray-600 dark:border-gray-600 mr-4 ml-2 -mt-2.5"></div>
                      <input class="form-check-input mr-2" type="checkbox" value="">
                      <BoxIcon class="w-5 h-5 text-gray-600 mr-2" />
                      <dl>
                        <dt class="text-sm text-gray-600">Process</dt>
                        <dd class="truncate text-base">Hello World</dd>
                      </dl>
                    </div>
                    <div class="col-span-1">
                      <dl>
                        <dt class="text-sm text-gray-600">Robot</dt>
                        <dd class="truncate text-base">Binh_Robot</dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer flex justify-between">
          <button type="button" data-dismiss="modal" class="invisible md:visible btn btn-outline-secondary mr-1"> Cancel </button>
          <button type="button" class="btn bg-green-600 border-0 text-white ml-auto"> Add Selected to Queue (4) </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Modal Content -->
  <!-- BEGIN: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8 items-center">
    <div class="col-span-6">
      <h2 class="text-2xl lg:text-3xl font-medium mt-2">Queue</h2>
    </div>
    <div class="col-span-6 text-right">
      <a href="javascript:;" data-toggle="modal" data-target="#add-process-modal" class="btn bg-green-600 border-0 text-white shadow-md ml-auto lg:ml-5">Add Process</a>
    </div>
    <div class="col-span-12">
      <div class="p-1 bg-gray-300 dark:bg-gray-900 rounded w-full flex">
        <router-link to="/queue-runs" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Upcoming Runs</router-link>
        <router-link to="/queue-history" class="btn flex-1 rounded btn-dark dark:bg-gray-700">History</router-link>
        <router-link to="/queue-calendar" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Calendar</router-link>
        <router-link to="/queue-log" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Operation Log</router-link>
      </div>
    </div>
  </div>
  <!-- END: Page Title -->
  <!-- BEGIN: Queue Summary -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8">
    <div class="col-span-12 grid grid-cols-3 gap-2 box w-full rounded px-4 py-3 shadow-sm dark:bg-gray-900">
      <a class="transition duration-100 ease-in-out col-span-1 py-1 cursor-pointer transform hover:-translate-y-1">
        <div class="text-2xl font-medium leading-8 ease-in">48</div>
        <div class="text-base text-gray-600 mt-1">Executed</div>
      </a>
      <a class="transition duration-100 ease-in-out col-span-1 py-1 cursor-pointer transform hover:-translate-y-1">
        <div class="text-2xl font-medium text-green-600 dark:text-green-400 leading-8">45</div>
        <div class="text-base text-green-600 dark:text-green-400 mt-1">Complete</div>
      </a>
      <a class="transition duration-100 ease-in-out col-span-1 py-1 cursor-pointer transform hover:-translate-y-1">
        <div class="text-2xl font-medium text-red-600 dark:text-red-400 leading-8">3</div>
        <div class="text-base text-red-600 dark:text-red-400 mt-1">Errors</div>
      </a>
    </div>
  </div>
  <!-- END: Queue Summary -->
  <!-- BEGIN: Filter -->
  <div class="intro-y accordion-item mt-6">
    <div class="flex">
      <!-- BEGIN: Search -->
      <div class="relative">
        <SearchIcon class="w-4 h-4 absolute my-auto inset-y-0 ml-3 left-0 z-10 text-gray-700 dark:text-gray-300"
        />
        <input
          type="text"
          class="form-control w-full sm:w-64 box pl-10 text-gray-700 dark:text-gray-300 placeholder-theme-8"
          placeholder="Search..."
        />
      </div>
      <!-- END: Search -->
      <a id="filter-accordion-content" class="btn ml-3 mr-auto accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#filter-accordion-collapse" aria-expanded="false" aria-controls="filter-accordion-collapse">Filter</a>
      <!-- START: Filter Reset -->
      <button class='btn'>
        <span>Reset</span>
        <span class="py-0.5 px-1.5 bg-theme-2 ml-1 text-xs rounded-full text-white">2</span>
      </button>
      <!-- END: Filter Reset -->
    </div>
    <div id="filter-accordion-collapse" class="box p-4 mt-2 accordion-collapse collapse" aria-labelledby="filter-accordion-content" style="display: none;">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 md:col-span-4">
          <label for="input-filter-1" class="form-label">Type</label>
          <select id="input-filter-1" class="form-select flex-1">
            <option>Any Type</option>
            <option>Process</option>
            <option>Process Group</option>
          </select>
        </div>
        <div class="col-span-12 xl:col-span-4">
          <label class="form-label" for="filter-status">Status</label>
          <select id="filter-status" class="form-select">
            <option>Any Status</option>
            <option>Complete</option>
            <option>Errors</option>
          </select>
        </div>
        <div class="col-span-12 md:col-span-4">
          <label for="input-filter-4" class="form-label">Trigger</label>
          <select id="input-filter-4" class="form-select">
            <option>Any</option>
            <option>None</option>
            <option>Daily</option>
            <option>Weekly</option>
            <option>Custom</option>
          </select>
        </div>
        <div class="col-span-12">
          <label for="robot-select" class="form-label">Robots</label>
          <div id="robot-select" class="">
            <div class="preview">
              <TomSelect
                v-model="selectMultiple"
                :options="{
                  plugins: {
                    remove_button:{
                      title:'Remove',
                    }
                  },
                  placeholder: 'Select Robots'
                }"
                class="w-full" multiple>
                <option value="1">MooRobot</option>
                <option value="2">HelloBot</option>
                <option value="3">MainRobot</option>
                <option value="4">JeyRobot</option>
                <option value="5">May15Robot</option>
              </TomSelect>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Filter -->
  <!-- BEGIN: Queue Content -->
  <div class="intro-y grid grid-cols-12 mt-5 gap-8">
    <div class="col-span-12 xl:col-span-9 order-2 xl:order-1">
      <div class="pt-4 pb-2 flex flex-col-reverse sm:flex-row text-gray-600 border-b border-gray-200 dark:border-dark-1 pr-3 pl-14">
        <div class="grid gap-2 w-full grid-cols-2 lg:grid-cols-4 items-center text-base">
          <a href='#0' class="truncate text-base font-medium text-gray-900 dark:text-gray-100">Name
            <ChevronDownIcon class="w-5 h-5 text-gray-900 dark:text-gray-100" />
          </a>
          <a href='#0' class="truncate text-base font-medium">Trigger</a>
          <a href='#0' class="truncate text-base font-medium">Robot(s)</a>
          <a href='#0' class="truncate text-base font-medium">Status</a>
        </div>
      </div>
      <div id="process-accordion" class="">
        <div class="box accordion-item border border-red-500 dark:border-red-400 rounded shadow my-2">
          <a id="group-accordion-content-1" class="flex items-center p-3 accordion-button rounded cursor-pointer bg-red-600 dark:bg-red-400 bg-opacity-10 dark:bg-opacity-10 collapsed"  data-bs-toggle="collapse" data-bs-target="#group-accordion-collapse-1" aria-expanded="false" aria-controls="group-accordion-collapse-1">
            <div class="p-2 bg-red-600 dark:bg-red-400 bg-opacity-20 dark:bg-opacity-20 flex items-center rounded-full mr-2">
              <BoxIcon class="w-5 h-5 text-red-600 dark:text-red-300" />
            </div>
            <div class="grid grid gap-x-2 gap-y-0 w-full grid-cols-2 lg:grid-cols-4 items-center text-base">
              <span class="truncate text-base font-medium">AATME</span>
              <span class="truncate text-base">Daily at 12:00 PM</span>
              <span class="truncate text-base">MinhRobot, JeyRobot</span>
              <span class="truncate text-base text-red-600 dark:text-red-400 font-medium">Error</span>
            </div>
          </a>
          <div class="dropdown ml-auto order-2 col-span-1 md:order-3 absolute right-1 top-2.5">
            <button class="dropdown-toggle btn border-none shadow-none" aria-expanded="false">
              <MoreVerticalIcon class="w-6 h-6 text-gray-600 ml-auto" />
            </button>
            <div class="dropdown-menu w-40">
              <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                <a href="#0" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Ignore</a>
                <a href="#0" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Edit and Run</a>
                <a href="javascript:;" data-toggle="modal" data-target="#delete-confirmation-modal" class="block p-2 transition duration-300 text-red-600 dark:text-red-400 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Remove</a>
              </div>
            </div>
          </div>
          <div id="group-accordion-collapse-1" class="accordion-collapse collapse" aria-labelledby="group-accordion-content-1" data-bs-parent="#process-accordion" style="display: none;">
            <div class="p-3">
              <div class="alert alert-danger-soft dark:bg-red-400 dark:bg-opacity-10 show flex items-center mb-3" role="alert">
                <AlertTriangleIcon class="w-6 h-6 text-red-600 dark:text-red-300 mr-2" />
                <div class="dark:text-red-200">
                <span class="font-medium mr-2">Error Log:</span>Robot QA_Robot is Offline
                </div>
              </div>
            </div>
            <div class="grid grid-cols-2 lg:grid-cols-4 gap-3 p-3">
              <dl>
                <dt class="text-sm text-gray-600">Added by</dt>
                <dd class="truncate text-base">John Doe</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">Robot IP</dt>
                <dd class="truncate text-base">172.26.80.1</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">Robot Machine name</dt>
                <dd class="truncate text-base">RobotTest</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">Load Balance</dt>
                <dd class="truncate text-base">None</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">LWC file</dt>
                <dd class="truncate text-base">start_notepad_150.lwc</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">Version</dt>
                <dd class="truncate text-base">V 1.4.0.1</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">Run Time</dt>
                <dd class="truncate text-base">25 min</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="box accordion-item border rounded shadow my-2">
          <a id="group-accordion-content-2" class="flex items-center p-3 accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#group-accordion-collapse-2" aria-expanded="false" aria-controls="group-accordion-collapse-2">
            <div class="p-2 bg-green-500 bg-opacity-25 flex items-center rounded-full mr-2">
              <BoxIcon class="w-5 h-5 text-green-600 dark:text-green-400" />
            </div>
            <div class="grid grid gap-x-2 gap-y-0 w-full grid-cols-2 lg:grid-cols-4 items-center text-base">
              <span class="truncate text-base font-medium">AATME</span>
              <span class="truncate text-base">Daily at 12:00 PM</span>
              <span class="truncate text-base">MinhRobot, JeyRobot</span>
              <span class="truncate text-base text-green-600 dark:text-green-400 font-medium">Complete</span>
            </div>
          </a>
          <div class="dropdown ml-auto order-2 col-span-1 md:order-3 absolute right-1 top-2.5">
            <button class="dropdown-toggle btn border-none shadow-none" aria-expanded="false">
              <MoreVerticalIcon class="w-6 h-6 text-gray-600 ml-auto" />
            </button>
            <div class="dropdown-menu w-40">
              <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                <a href="#0" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Run Again</a>
                <a href="javascript:;" data-toggle="modal" data-target="#delete-confirmation-modal" class="block p-2 transition duration-300 text-red-600 dark:text-red-400 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Remove</a>
              </div>
            </div>
          </div>
          <div id="group-accordion-collapse-2" class="accordion-collapse collapse" aria-labelledby="group-accordion-content-2" data-bs-parent="#process-accordion" style="display: none;">
            <div class="grid grid-cols-2 lg:grid-cols-4 gap-3 p-3">
              <dl>
                <dt class="text-sm text-gray-600">Added by</dt>
                <dd class="truncate text-base">John Doe</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">Robot IP</dt>
                <dd class="truncate text-base">172.26.80.1</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">Robot Machine name</dt>
                <dd class="truncate text-base">RobotTest</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">Load Balance</dt>
                <dd class="truncate text-base">None</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">LWC file</dt>
                <dd class="truncate text-base">start_notepad_150.lwc</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">Version</dt>
                <dd class="truncate text-base">V 1.4.0.1</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">Run Time</dt>
                <dd class="truncate text-base">25 min</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="box accordion-item border border-red-500 dark:border-red-400 rounded shadow my-2">
          <a id="group-accordion-content-3" class="flex items-center p-3 accordion-button rounded cursor-pointer bg-red-600 dark:bg-red-400 bg-opacity-10 dark:bg-opacity-10 collapsed"  data-bs-toggle="collapse" data-bs-target="#group-accordion-collapse-3" aria-expanded="false" aria-controls="group-accordion-collapse-2">
            <div class="p-2 bg-red-600 dark:bg-red-400 bg-opacity-20 dark:bg-opacity-20 flex items-center rounded-full mr-2">
              <ChainIcon class="w-5 h-5 text-red-600 dark:text-red-300" />
            </div>
            <div class="grid gap-x-2 gap-y-0 w-full grid-cols-2 lg:grid-cols-4 items-center text-base">
              <span class="truncate text-base font-medium">Work Group</span>
              <span class="truncate text-base">Daily at 12:00 PM</span>
              <span class="truncate text-base">MinhRobot, JeyRobot</span>
              <span class="truncate text-base text-red-600 dark:text-red-400 font-medium">Error</span>
            </div>
          </a>
          <div class="dropdown ml-auto order-2 col-span-1 md:order-3 absolute right-1 top-2.5">
            <button class="dropdown-toggle btn border-none shadow-none" aria-expanded="false">
              <MoreVerticalIcon class="w-6 h-6 text-gray-600 ml-auto" />
            </button>
            <div class="dropdown-menu w-40">
              <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                <a href="#0" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Ignore</a>
                <a href="#0" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Edit and Run</a>
                <a href="javascript:;" data-toggle="modal" data-target="#delete-confirmation-modal" class="block p-2 transition duration-300 text-red-600 dark:text-red-400 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Remove</a>
              </div>
            </div>
          </div>
          <div id="group-accordion-collapse-3" class="accordion-collapse collapse" aria-labelledby="group-accordion-content-3" data-bs-parent="#process-accordion" style="display: none;">
            <div class="grid grid-cols-2 lg:grid-cols-4 gap-3 p-3">
              <dl>
                <dt class="text-sm text-gray-600">Added by</dt>
                <dd class="truncate text-base">John Doe</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">Start Date</dt>
                <dd class="truncate text-base">Tue, 28 Sep 2021 14:30</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">End Date</dt>
                <dd class="truncate text-base">Tue, 28 Sep 2021 14:35</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">Real Start Date</dt>
                <dd class="truncate text-base">Mon, 10 Sep 2021 14:30</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">Modified by</dt>
                <dd class="truncate text-base">Jane Doe</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">Next Schedule</dt>
                <dd class="truncate text-base">Tue, 28 Sep 2021 14:30</dd>
              </dl>
              <dl>
                <dt class="text-sm text-gray-600">Status</dt>
                <dd class="truncate text-base text-gray-600">Pending</dd>
              </dl>
            </div>
            <hr />
            <!-- BEGIN: Processes -->
            <div class="px-3">
              <h3 class="text-lg font-medium mt-5 mb-3">Processes (2)</h3>
              <div id="group-inner-accordion" class="">
                <div class="box accordion-item border border-red-500 dark:border-red-400 rounded shadow my-2">
                  <a id="group-accordion-content-1" class="flex items-center p-3 accordion-button rounded cursor-pointer bg-red-600 dark:bg-red-400 bg-opacity-10 dark:bg-opacity-10 collapsed"  data-bs-toggle="collapse" data-bs-target="#group-inner-collapse-1" aria-expanded="false" aria-controls="group-inner-collapse-1">
                    <div class="p-2 bg-red-500 bg-opacity-25 flex items-center rounded-full mr-2">
                      <BoxIcon class="w-5 h-5 text-red-600 dark:text-red-400" />
                    </div>
                    <div class="grid gap-2 grid-cols-2 lg:grid-cols-4 items-center">
                      <div class="flex items-center">
                        <dl>
                          <dt class="text-sm text-gray-600">Type</dt>
                          <dd class="truncate text-base">Process</dd>
                        </dl>
                      </div>
                      <dl>
                        <dt class="text-sm text-gray-600">Name</dt>
                        <dd class="truncate text-base">hello-world</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Robot</dt>
                        <dd class="truncate text-base">Binh_Robot</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Next Run</dt>
                        <dd class="truncate text-base">Tue, 07 Sep 2021 23:32</dd>
                      </dl>
                    </div>
                    <ChevronDownIcon class="w-6 h-6 text-gray-600 ml-auto" />
                  </a>
                  <div id="group-inner-collapse-1" class="accordion-collapse collapse p-3" aria-labelledby="group-inner-content-1" data-bs-parent="#group-inner-accordion" style="display: none;">
                    <div class="alert alert-danger-soft dark:bg-red-400 dark:bg-opacity-10 show flex items-center mb-3" role="alert">
                      <AlertTriangleIcon class="w-6 h-6 text-red-600 dark:text-red-300 mr-2" />
                      <div class="dark:text-red-200">
                      <span class="font-medium mr-2">Error Log:</span>Robot QA_Robot is Offline
                      </div>
                    </div>
                    <div class="grid grid-cols-2 lg:grid-cols-4 gap-3">
                      <dl>
                        <dt class="text-sm text-gray-600">Robot Name</dt>
                        <dd class="truncate text-base">QA_Robot</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Robot IP</dt>
                        <dd class="truncate text-base">172.26.80.1</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Robot Machine name</dt>
                        <dd class="truncate text-base">RobotTest</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Load Balance</dt>
                        <dd class="truncate text-base">None</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">LWC file</dt>
                        <dd class="truncate text-base">start_notepad_150.lwc</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Version</dt>
                        <dd class="truncate text-base">V 1.4.0.1</dd>
                      </dl>
                    </div>
                  </div>
                </div>
                <div class="accordion-item border rounded dark:border-gray-600 mb-3">
                  <a id="group-inner-content-2" class="flex items-center p-3 accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#group-inner-collapse-2" aria-expanded="false" aria-controls="group-inner-collapse-2">
                    <div class="p-2 bg-green-500 bg-opacity-25 flex items-center rounded-full mr-2">
                      <BoxIcon class="w-5 h-5 text-green-600 dark:text-green-400" />
                    </div>
                    <div class="grid gap-2 grid-cols-2 lg:grid-cols-4 items-center">
                      <div class="flex items-center">
                        <dl>
                          <dt class="text-sm text-gray-600">Type</dt>
                          <dd class="truncate text-base">Process</dd>
                        </dl>
                      </div>
                      <dl>
                        <dt class="text-sm text-gray-600">Name</dt>
                        <dd class="truncate text-base">hello-world</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Robot</dt>
                        <dd class="truncate text-base">Binh_Robot</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Next Run</dt>
                        <dd class="truncate text-base">Tue, 07 Sep 2021 23:32</dd>
                      </dl>
                    </div>
                    <ChevronDownIcon class="w-6 h-6 text-gray-600 ml-auto" />
                  </a>
                  <div id="group-inner-collapse-2" class="accordion-collapse collapse p-3" aria-labelledby="group-inner-content-2" data-bs-parent="#group-inner-accordion" style="display: none;">
                    <div class="grid grid-cols-2 lg:grid-cols-4 gap-3">
                      <dl>
                        <dt class="text-sm text-gray-600">Robot Name</dt>
                        <dd class="truncate text-base">QA_Robot</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Robot IP</dt>
                        <dd class="truncate text-base">172.26.80.1</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Robot Machine name</dt>
                        <dd class="truncate text-base">RobotTest</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Load Balance</dt>
                        <dd class="truncate text-base">None</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">LWC file</dt>
                        <dd class="truncate text-base">start_notepad_150.lwc</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Version</dt>
                        <dd class="truncate text-base">V 1.4.0.1</dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END: Processes -->
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center mt-4 py-4">
        <LoadingIcon icon="oval" class="w-6 h-6" />
      </div>
    </div>
    <!-- BEGIN: Attention Required -->
    <div class="col-span-12 xl:col-span-3 order-1 xl:order-2">
      <div class="box p-4 border border-red-500 dark:border-red-400">
        <div class="intro-x flex items-center">
          <h2 class="text-lg font-medium truncate mr-5">Error Log</h2>
          <a class="ml-auto">Ignore all</a>
        </div>
        <!-- BEGIN: Modal Content -->
        <div id="process-error-modal" class="modal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="font-medium text-xl mr-auto">Queue Error Details</h2>
                <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
              </div>
              <div class="modal-body px-5 py-5">
                <!-- BEGIN: Group Info -->
                <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-3 mb-6">
                  <div class="flex items-center">
                    <div class="p-2 bg-red-600 dark:bg-red-400 bg-opacity-20 dark:bg-opacity-20 flex items-center rounded-full mr-2">
                      <ChainIcon class="w-5 h-5 text-red-600 dark:text-red-300" />
                    </div>
                    <dl>
                      <dt class="text-sm text-gray-600">Process Group:</dt>
                      <dd class="text-base text-medium truncate">ExportAttachments</dd>
                    </dl>
                  </div>
                  <dl>
                    <dt class="text-sm text-gray-600">Created by:</dt>
                    <dd class="text-base truncate">John Doe</dd>
                  </dl>
                  <dl>
                    <dt class="text-sm text-gray-600">Robots:</dt>
                    <dd class="text-base truncate">Binh_Robot, MaiRobot</dd>
                  </dl>
                  <dl>
                    <dt class="text-sm text-gray-600">Trigger:</dt>
                    <dd class="text-base truncate">None</dd>
                  </dl>
                  <dl>
                    <dt class="text-sm text-gray-600">Start Time:</dt>
                    <dd class="text-base truncate">Tue, 28 Sep 2021 14:30</dd>
                  </dl>
                  <dl>
                    <dt class="text-sm text-gray-600">End Time:</dt>
                    <dd class="text-base truncate">Tue, 28 Sep 2021 14:30</dd>
                  </dl>
                  <dl>
                    <dt class="text-sm text-gray-600">Execution:</dt>
                    <dd class="text-base truncate">Mon, 10 Sep 2021 14:30</dd>
                  </dl>
                  <dl>
                    <dt class="text-sm text-gray-600">Modified by user:</dt>
                    <dd class="text-base truncate">Jane Kim</dd>
                  </dl>
                  <dl>
                    <dt class="text-sm text-gray-600">Status:</dt>
                    <dd class="text-base truncate">
                      <div class="flex items-center">
                        <div class="w-2 h-2 bg-red-600 dark:bg-red-400 rounded-full mr-2"></div>
                        <span class="text-red-600 dark:text-red-400">Error</span>
                      </div>
                    </dd>
                  </dl>
                </div>
                <!-- END: Group Info -->
                <hr />
                <!-- BEGIN: Processes -->
                <h3 class="text-lg font-medium mt-5 mb-3">Processes (2)</h3>
                <div id="process-accordion" class="">
                  <div class="box accordion-item border border-red-500 dark:border-red-400 rounded shadow my-2">
                    <a id="group-accordion-content-1" class="flex items-center p-3 accordion-button rounded cursor-pointer bg-red-600 dark:bg-red-400 bg-opacity-10 dark:bg-opacity-10 collapsed"  data-bs-toggle="collapse" data-bs-target="#group-accordion-collapse-1" aria-expanded="false" aria-controls="group-accordion-collapse-1">
                      <div class="p-2 bg-red-600 dark:bg-red-400 bg-opacity-20 dark:bg-opacity-20 flex items-center rounded-full mr-2">
                        <BoxIcon class="w-5 h-5 text-red-600 dark:text-red-300" />
                      </div>
                      <div class="grid gap-2 grid-cols-2 lg:grid-cols-4 items-center">
                        <div class="flex items-center">
                          <dl>
                            <dt class="text-sm text-gray-600">Type</dt>
                            <dd class="truncate text-base">Process</dd>
                          </dl>
                        </div>
                        <dl>
                          <dt class="text-sm text-gray-600">Name</dt>
                          <dd class="truncate text-base">hello-world</dd>
                        </dl>
                        <dl>
                          <dt class="text-sm text-gray-600">Robot</dt>
                          <dd class="truncate text-base">Binh_Robot</dd>
                        </dl>
                        <dl>
                          <dt class="text-sm text-gray-600">Next Run</dt>
                          <dd class="truncate text-base">Tue, 07 Sep 2021 23:32</dd>
                        </dl>
                      </div>
                      <ChevronDownIcon class="w-6 h-6 text-gray-600 ml-auto" />
                    </a>
                    <div id="group-accordion-collapse-1" class="accordion-collapse collapse p-3" aria-labelledby="group-accordion-content-1" data-bs-parent="#process-accordion" style="display: none;">
                      <div class="alert alert-danger-soft dark:bg-red-400 dark:bg-opacity-10 show flex items-center mb-3" role="alert">
                        <AlertTriangleIcon class="w-6 h-6 text-red-600 dark:text-red-300 mr-2" />
                        <div class="dark:text-red-200">
                        <span class="font-medium mr-2">Error Log:</span>Robot QA_Robot is Offline
                        </div>
                      </div>
                      <div class="grid grid-cols-2 lg:grid-cols-4 gap-3">
                        <dl>
                          <dt class="text-sm text-gray-600">Robot Name</dt>
                          <dd class="truncate text-base">QA_Robot</dd>
                        </dl>
                        <dl>
                          <dt class="text-sm text-gray-600">Robot IP</dt>
                          <dd class="truncate text-base">172.26.80.1</dd>
                        </dl>
                        <dl>
                          <dt class="text-sm text-gray-600">Robot Machine name</dt>
                          <dd class="truncate text-base">RobotTest</dd>
                        </dl>
                        <dl>
                          <dt class="text-sm text-gray-600">Load Balance</dt>
                          <dd class="truncate text-base">None</dd>
                        </dl>
                        <dl>
                          <dt class="text-sm text-gray-600">LWC file</dt>
                          <dd class="truncate text-base">start_notepad_150.lwc</dd>
                        </dl>
                        <dl>
                          <dt class="text-sm text-gray-600">Version</dt>
                          <dd class="truncate text-base">V 1.4.0.1</dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item border dark:border-gray-700 rounded mb-3">
                    <a id="group-accordion-content-2" class="flex items-center p-3 accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#group-accordion-collapse-2" aria-expanded="false" aria-controls="group-accordion-collapse-2">
                      <div class="p-2 bg-green-500 bg-opacity-25 flex items-center rounded-full mr-2">
                        <BoxIcon class="w-5 h-5 text-green-600 dark:text-green-400" />
                      </div>
                      <div class="grid gap-2 grid-cols-2 lg:grid-cols-4 items-center">
                        <div class="flex items-center">
                          <dl>
                            <dt class="text-sm text-gray-600">Type</dt>
                            <dd class="truncate text-base">Process</dd>
                          </dl>
                        </div>
                        <dl>
                          <dt class="text-sm text-gray-600">Name</dt>
                          <dd class="truncate text-base">hello-world</dd>
                        </dl>
                        <dl>
                          <dt class="text-sm text-gray-600">Robot</dt>
                          <dd class="truncate text-base">Binh_Robot</dd>
                        </dl>
                        <dl>
                          <dt class="text-sm text-gray-600">Next Run</dt>
                          <dd class="truncate text-base">Tue, 07 Sep 2021 23:32</dd>
                        </dl>
                      </div>
                      <ChevronDownIcon class="w-6 h-6 text-gray-600 ml-auto" />
                    </a>
                    <div id="group-accordion-collapse-2" class="accordion-collapse collapse p-3" aria-labelledby="group-accordion-content-2" data-bs-parent="#process-accordion" style="display: none;">
                      <div class="grid grid-cols-2 lg:grid-cols-4 gap-3">
                        <dl>
                          <dt class="text-sm text-gray-600">Robot Name</dt>
                          <dd class="truncate text-base">QA_Robot</dd>
                        </dl>
                        <dl>
                          <dt class="text-sm text-gray-600">Robot IP</dt>
                          <dd class="truncate text-base">172.26.80.1</dd>
                        </dl>
                        <dl>
                          <dt class="text-sm text-gray-600">Robot Machine name</dt>
                          <dd class="truncate text-base">RobotTest</dd>
                        </dl>
                        <dl>
                          <dt class="text-sm text-gray-600">Load Balance</dt>
                          <dd class="truncate text-base">None</dd>
                        </dl>
                        <dl>
                          <dt class="text-sm text-gray-600">LWC file</dt>
                          <dd class="truncate text-base">start_notepad_150.lwc</dd>
                        </dl>
                        <dl>
                          <dt class="text-sm text-gray-600">Version</dt>
                          <dd class="truncate text-base">V 1.4.0.1</dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END: Processes -->
              </div>
              <div class="modal-footer flex justify-between">
                <button type="button" data-dismiss="modal" class="invisible md:visible btn btn-outline-secondary mr-1"> Cancel </button>
                <button type="button" class="btn btn-primary ml-auto mr-2"> Ignore </button>
                <button type="button" class="btn btn-primary"> Edit and Run Again </button>
              </div>
            </div>
          </div>
        </div>
        <!-- END: Modal Content -->
        <div class="mt-3">
          <a href="javascript:;" data-toggle="modal" data-target="#process-error-modal" class="box px-5 py-3 mb-3 flex items-center zoom-in border border-gray-300 dark:border-gray-600">
            <div class="w-2 h-2 bg-red-600 dark:bg-red-400 rounded-full mr-3"></div>
            <div class="font-medium">ID5i420429</div>
            <div class="text-gray-600 text-xs ml-auto">4:49pm</div>
          </a>
          <a href="javascript:;" data-toggle="modal" data-target="#process-error-modal" class="box px-5 py-3 mb-3 flex items-center zoom-in border border-gray-300 dark:border-gray-600">
            <div class="w-2 h-2 bg-red-600 dark:bg-red-400 rounded-full mr-3"></div>
            <div class="font-medium">ID5i420429</div>
            <div class="text-gray-600 text-xs ml-auto">4:49pm</div>
          </a>
          <a href="javascript:;" data-toggle="modal" data-target="#process-error-modal" class="box px-5 py-3 mb-3 flex items-center zoom-in border border-gray-300 dark:border-gray-600">
            <div class="w-2 h-2 bg-red-600 dark:bg-red-400 rounded-full mr-3"></div>
            <div class="font-medium">ID5i420429</div>
            <div class="text-gray-600 text-xs ml-auto">4:49pm</div>
          </a>
          <a href="javascript:;" data-toggle="modal" data-target="#process-error-modal" class="box px-5 py-3 mb-3 flex items-center zoom-in border border-gray-300 dark:border-gray-600">
            <div class="w-2 h-2 bg-red-600 dark:bg-red-400 rounded-full mr-3"></div>
            <div class="font-medium">ID5i420429</div>
            <div class="text-gray-600 text-xs ml-auto">4:49pm</div>
          </a>
        </div>
      </div>
    </div>
    <!-- END: Attention Required -->
  </div>
  <!-- END: Queue Content -->
</template>

<script>
import { defineComponent } from 'vue'
import ChainIcon from '@/components/icons/ChainIcon.vue'

export default defineComponent({
  components: {
    ChainIcon
  }
})
</script>
