<template>
  <!-- BEGIN: Modal Content -->
  <div id="new-robot-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">New Robot</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <div class="p-5">
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="processName">Robot Name
                <span class="text-red-600">*</span>
              </label>
              <input type="text" id="processName" class="form-control text-base" placeholder="Robot Name" />
            </div>
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="processDepartment">Department
                <span class="text-red-600">*</span>
              </label>
              <TomSelect v-model="select" :options="{
                  plugins: {
                    remove_button:{
                      title:'Remove',
                    }
                  },
                  placeholder: 'Select Department'
                }" class="w-full" multiple>
                <option value="1">IT</option>
                <option value="2">Sales</option>
                <option value="3">Marketing</option>
              </TomSelect>
            </div>
            <div class="p-3 mb-6 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
              <div class="form-check">
                <input id="processActive" class="form-check-switch" type="checkbox" />
                <label class="form-check-label text-base" for="processActive">Active</label>
              </div>
            </div>
            <div>
              <label class="font-medium text-base block mb-2" for="processNote">Note (optional)</label>
              <textarea id="processNote" class="form-control text-base" placeholder="Add a Note..."></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer flex justify-between">
          <button type="button" data-dismiss="modal" class="invisible md:visible btn btn-outline-secondary mr-1"> Cancel </button>
          <button type="button" class="btn bg-green-600 border-0 text-white ml-auto">Add Robot</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Modal Content -->
  <!-- BEGIN: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8 items-center">
    <div class="col-span-6">
      <h2 class="text-2xl lg:text-3xl font-medium mt-2">Robots</h2>
    </div>
    <div class="col-span-6 text-right">
      <a href="javascript:;" data-toggle="modal" data-target="#new-robot-modal" class="btn bg-green-600 border-0 text-white shadow-md ml-auto lg:ml-5">Add Robot</a>
    </div>
    <div class="col-span-12">
      <div class="p-1 bg-gray-300 dark:bg-gray-900 rounded w-full flex">
        <router-link to="/robots-all" class="btn flex-1 rounded btn-dark dark:bg-gray-700">All Robots</router-link>
        <router-link to="/robots-deployment" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Deployment</router-link>
      </div>
    </div>
  </div>
  <!-- END: Page Title -->
  <!-- BEGIN: Filter -->
  <div class="intro-y accordion-item mt-6">
    <div class="flex">
      <!-- BEGIN: Search -->
      <div class="relative">
        <SearchIcon class="w-4 h-4 absolute my-auto inset-y-0 ml-3 left-0 z-10 text-gray-700 dark:text-gray-300"
        />
        <input
          type="text"
          class="form-control w-full sm:w-64 box pl-10 text-gray-700 dark:text-gray-300 placeholder-theme-8"
          placeholder="Search..."
        />
      </div>
      <!-- END: Search -->
      <a id="filter-accordion-content" class="btn ml-3 mr-auto accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#filter-accordion-collapse" aria-expanded="false" aria-controls="filter-accordion-collapse">Filter</a>
      <!-- START: Filter Reset -->
      <button class='btn'>
        <span>Reset</span>
        <span class="py-0.5 px-1.5 bg-theme-2 ml-1 text-xs rounded-full text-white">2</span>
      </button>
      <!-- END: Filter Reset -->
    </div>
    <div id="filter-accordion-collapse" class="box p-4 mt-2 accordion-collapse collapse" aria-labelledby="filter-accordion-content" style="display: none;">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6 xl:col-span-3">
          <label for="input-filter-4" class="form-label">Status</label>
          <select id="input-filter-4" class="form-select">
            <option>Any</option>
            <option>Online</option>
            <option>Offline</option>
          </select>
        </div>
        <div class="col-span-6 xl:col-span-3">
          <label class="form-label" for="filter-status">State</label>
          <select id="filter-status" class="form-select">
            <option>Any State</option>
            <option>Active</option>
            <option>Inactive</option>
          </select>
        </div>
        <div class="col-span-12 xl:col-span-6">
          <label for="department-select" class="form-label"
            >Department</label
          >
          <div id="department-select" class="">
            <div class="preview">
              <TomSelect
                v-model="selectMultiple"
                :options="{
                  plugins: {
                    remove_button:{
                      title:'Remove',
                    }
                  },
                  placeholder: 'Select Department'
                }"
                class="w-full"
                multiple
              >
                <option value="1">IT</option>
                <option value="2">Sales</option>
                <option value="3">Management</option>
                <option value="4">Admin</option>
                <option value="5">Marketing</option>
              </TomSelect>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Filter -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-4">
    <!-- BEGIN: Robots list -->
    <div class="col-span-12">
      <div class="pt-4 pb-2 flex flex-col-reverse sm:flex-row text-gray-600 border-b border-gray-200 dark:border-dark-1 pr-3 pl-14">
        <div class="grid gap-2 w-full grid-cols-2 lg:grid-cols-4 items-center text-base">
          <a href='#0' class="truncate text-base font-medium text-gray-900 dark:text-gray-100">Name
            <ChevronDownIcon class="w-5 h-5 text-gray-900 dark:text-gray-100" />
          </a>
          <a href='#0' class="truncate text-base font-medium">Machine Name</a>
          <a href='#0' class="truncate text-base font-medium">Department</a>
          <a href='#0' class="truncate text-base font-medium">State</a>
        </div>
      </div>
      <div id="process-accordion">
        <div class="box accordion-item border rounded shadow my-2">
          <a id="group-accordion-content-1" class="flex items-center p-3 accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#group-accordion-collapse-1" aria-expanded="false" aria-controls="group-accordion-collapse-1">
            <div class="p-2 bg-green-500 bg-opacity-25 flex items-center rounded-full mr-2">
              <RobotIcon class="w-5 h-5 text-green-600 dark:text-green-300" />
            </div>
            <div class="grid grid gap-x-2 gap-y-0 w-full grid-cols-2 lg:grid-cols-4 items-center text-base">
              <span class="truncate text-base font-medium">
                <dl>
                  <dt class="">MooRobot</dt>
                  <dd class="text-sm text-green-600 dark:text-green-400">Online</dd>
                </dl>
              </span>
              <span class="truncate text-base">
                <dl>
                  <dt class="">Hello Machine</dt>
                  <dd class="text-sm text-gray-600">58.103.150.241</dd>
                </dl>
              </span>
              <span class="truncate text-base">Marketing</span>
              <span class="truncate text-base flex items-center">
                <span class="w-2 h-2 bg-green-600 dark:bg-green-400 rounded-full mr-2"></span>
                <span class="text-green-600 dark:text-green-400">Active</span>
              </span>
            </div>
          </a>
          <div class="dropdown ml-auto order-2 col-span-1 md:order-3 absolute right-1 top-4">
            <button class="dropdown-toggle btn border-none shadow-none" aria-expanded="false">
              <MoreVerticalIcon class="w-6 h-6 text-gray-600 ml-auto" />
            </button>
            <div class="dropdown-menu w-40">
              <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Copy Code</a>
                <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Disable Robot</a>
                <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Edit</a>
                <a href="" class="block p-2 transition duration-300 text-red-600 dark:text-red-400 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Delete</a>
              </div>
            </div>
          </div>
          <div id="group-accordion-collapse-1" class="border-t accordion-collapse collapse" aria-labelledby="group-accordion-content-1" data-bs-parent="#process-accordion" style="display: none;">
            <h3 class="text-lg font-medium mt-5 mb-3 px-3">Related Processes (3)</h3>
            <div class="grid grid-cols-1 border-t dark:border-gray-700">
              <div class="flex items-center p-3 border-b dark:border-gray-700">
                <BoxIcon class="w-4 h-4 text-gray-600 mr-2" />
                <span>HelloProcess</span>
              </div>
              <div class="flex items-center p-3 border-b dark:border-gray-700">
                <BoxIcon class="w-4 h-4 text-gray-600 mr-2" />
                <span>HelloProcess</span>
              </div>
              <div class="flex items-center p-3">
                <BoxIcon class="w-4 h-4 text-gray-600 mr-2" />
                <span>HelloProcess</span>
              </div>
            </div>
          </div>
        </div>
        <div class="box accordion-item border rounded shadow my-2">
          <a id="group-accordion-content-1" class="flex items-center p-3 accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#group-accordion-collapse-1" aria-expanded="false" aria-controls="group-accordion-collapse-1">
            <div class="p-2 bg-red-500 dark:bg-red-400 bg-opacity-20 dark:bg-opacity-20 flex items-center rounded-full mr-2">
              <RobotIcon class="w-5 h-5 text-red-600 dark:text-red-300" />
            </div>
            <div class="grid grid gap-x-2 gap-y-0 w-full grid-cols-2 lg:grid-cols-4 items-center text-base">
              <span class="truncate text-base font-medium">
                <dl>
                  <dt class="">MooRobot</dt>
                  <dd class="text-sm text-red-600 dark:text-red-400">Offline</dd>
                </dl>
              </span>
              <span class="truncate text-base">
                <dl>
                  <dt class="">Hello Machine</dt>
                  <dd class="text-sm text-gray-600">58.103.150.241</dd>
                </dl>
              </span>
              <span class="truncate text-base">Marketing</span>
              <span class="truncate text-base flex items-center">
                <span class="w-2 h-2 bg-red-600 dark:bg-red-400 rounded-full mr-2"></span>
                <span class="text-red-600 dark:text-red-400">Inactive</span>
              </span>
            </div>
          </a>
          <div class="dropdown ml-auto order-2 col-span-1 md:order-3 absolute right-1 top-4">
            <button class="dropdown-toggle btn border-none shadow-none" aria-expanded="false">
              <MoreVerticalIcon class="w-6 h-6 text-gray-600 ml-auto" />
            </button>
            <div class="dropdown-menu w-40">
              <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Copy Code</a>
                <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Enable Robot</a>
                <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Edit</a>
                <a href="" class="block p-2 transition duration-300 text-red-600 dark:text-red-400 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Delete</a>
              </div>
            </div>
          </div>
          <div id="group-accordion-collapse-1" class="border-t accordion-collapse collapse" aria-labelledby="group-accordion-content-1" data-bs-parent="#process-accordion" style="display: none;">
            <h3 class="text-lg font-medium mt-5 mb-3 px-3">Related Processes (3)</h3>
            <div class="grid grid-cols-1 border-t dark:border-gray-700">
              <div class="flex items-center p-3 border-b dark:border-gray-700">
                <BoxIcon class="w-4 h-4 text-gray-600 mr-2" />
                <span>HelloProcess</span>
              </div>
              <div class="flex items-center p-3 border-b dark:border-gray-700">
                <BoxIcon class="w-4 h-4 text-gray-600 mr-2" />
                <span>HelloProcess</span>
              </div>
              <div class="flex items-center p-3">
                <BoxIcon class="w-4 h-4 text-gray-600 mr-2" />
                <span>HelloProcess</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center mt-4 py-4">
        <LoadingIcon icon="oval" class="w-6 h-6" />
      </div>
    </div>
    <!-- END: Robots list -->
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import RobotIcon from '@/components/icons/RobotIcon.vue'

export default defineComponent({
  components: {
    RobotIcon
  }
})
</script>
