<template>
  <!-- BEGIN: Modal Content -->
  <div id="new-workflow-storage-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">New Workflow Storage</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <div class="p-5">
            <form>
              <div class="mb-6">
                <label class="font-medium text-base block mb-2" for="processName">Process Name
                  <span class="text-red-600">*</span>
                </label>
                <input type="text" id="processName" class="form-control text-base" placeholder="Process Name" />
              </div>
              <div class="mb-6">
                <label class="font-medium text-base block mb-2" for="file1">Upload File
                  <span class="text-red-600">*</span>
                </label>
                <Dropzone
                  id="file1"
                  ref-key="dropzoneSingleRef"
                  :options="{
                    url: 'https://httpbin.org/post',
                    thumbnailWidth: 150,
                    maxFilesize: 0.5,
                    maxFiles: 1,
                    headers: { 'My-Awesome-Header': 'header value' }
                  }"
                  class="dropzone">
                  <div class="text-lg font-medium">
                    Drop files here or click to upload.
                  </div>
                  <div class="text-gray-600">
                    ZIP file
                  </div>
                </Dropzone>
              </div>
              <div class="mb-6">
                <label class="font-medium text-base block mb-2" for="changeLog">Change Log
                  <span class="text-red-600">*</span>
                </label>
                <textarea type="text" id="changeLog" class="form-control text-base" rows="6"></textarea>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer flex justify-between">
          <button type="button" data-dismiss="modal" class="invisible md:visible btn btn-outline-secondary mr-1">Cancel</button>
          <button type="button" class="btn bg-green-600 border-0 text-white ml-auto">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Modal Content -->
  <!-- BEGIN: Modal Content -->
  <div id="edit-creator-workflow-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">Edit Creator Workflow Storage</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <div class="p-5">
            <form>
              <div class="mb-6">
                <label class="font-medium text-base block mb-2" for="processName2">Process Name
                  <span class="text-red-600">*</span>
                </label>
                <input type="text" id="processName2" class="form-control text-base" value="My Funny Process" disabled />
              </div>
              <div class="mb-2">
                <label class="font-medium text-base block mb-2" for="department2">Department
                </label>
                <TomSelect v-model="select" :options="{
                    plugins: {
                      remove_button:{
                        title:'Remove',
                      }
                    },
                    placeholder: 'Select Department'
                  }" class="w-full" multiple>
                  <option value="1">IT</option>
                  <option value="2">Sales</option>
                  <option value="3">Marketing</option>
                </TomSelect>
              </div>`
              <div class="mb-6">
                <label class="font-medium text-base block mb-2" for="file2">File
                  <span class="text-red-600">*</span>
                </label>
                <Dropzone
                  id="file2"
                  ref-key="dropzoneSingleRef"
                  :options="{
                    url: 'https://httpbin.org/post',
                    thumbnailWidth: 150,
                    maxFilesize: 0.5,
                    maxFiles: 1,
                    headers: { 'My-Awesome-Header': 'header value' }
                  }"
                  class="dropzone">
                  <div class="text-lg font-medium">
                    Drop files here or click to upload.
                  </div>
                  <div class="text-gray-600">
                    ZIP file
                  </div>
                </Dropzone>
              </div>
              <div class="mb-6">
                <label class="font-medium text-base block mb-2" for="version2">Default Version:
                </label>
                <select type="number" id="version2" class="form-control form-select text-base">
                  <option>1</option>
                  <option>1.2</option>
                  <option>1.3</option>
                </select>
              </div>
              <div class="mb-6">
                <label class="font-medium text-base block mb-2" for="estTime2">Estimated Time (minutes):
                </label>
                <input type="number" id="estTime2" class="form-control text-base" value="1"/>
              </div>
              <div class="mb-6">
                <label class="font-medium text-base block mb-2" for="saveManHour2">Save Man Hours (hours):
                </label>
                <input type="number" id="saveManHour2" class="form-control text-base" value="1"/>
              </div>
              <div class="mb-6">
                <label class="font-medium text-base block mb-2" for="saveMoney2">Save Money:
                </label>
                <input type="number" id="saveMoney2" class="form-control text-base" value="1000"/>
              </div>
              <div class="p-3 mb-6 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
                <div class="form-check">
                  <input id="processActive" class="form-check-switch" type="checkbox" />
                  <label class="form-check-label text-base" for="processActive">Active</label>
                </div>
              </div>
              <div class="mb-6">
                <label class="font-medium text-base block mb-2" for="group2">Group Relation:
                </label>
                <input type="text" id="group2" class="form-control text-base" value="Empty" disabled/>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer flex justify-between">
          <button type="button" data-dismiss="modal" class="invisible md:visible btn btn-outline-secondary mr-1">Cancel</button>
          <button type="button" class="btn bg-green-600 border-0 text-white ml-auto">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Modal Content -->
  <!-- BEGIN: Modal Content -->
  <div id="export-confirmation-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">Export Workflow Item?</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <div class="p-5">
            <p>Are you sure you want to export Workflow Item</p>
          </div>
        </div>
        <div class="modal-footer flex justify-between">
          <button type="button" data-dismiss="modal" class="invisible md:visible btn btn-outline-secondary mr-1">Cancel</button>
          <button type="button" class="btn bg-green-600 border-0 text-white ml-auto">Export</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Modal Content -->
  <!-- BEGIN: Modal Content -->
  <div id="delete-confirmation-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">Remove Workflow Item?</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <div class="p-5">
            <p>Are you sure you want to delete Workflow Package</p>
          </div>
        </div>
        <div class="modal-footer flex justify-between">
          <button type="button" data-dismiss="modal" class="invisible md:visible btn btn-outline-secondary mr-1">Cancel</button>
          <button type="button" class="btn bg-red-600 border-0 text-white ml-auto">Yes, Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Modal Content -->
  <!-- BEGIN: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8 items-center">
    <div class="col-span-6">
      <h2 class="text-2xl lg:text-3xl font-medium mt-2">Workflow Storage</h2>
    </div>
    <div class="col-span-6 text-right">
      <a href="javascript:;" data-toggle="modal" data-target="#new-workflow-storage-modal" class="btn bg-green-600 border-0 text-white shadow-md ml-auto lg:ml-5">Upload</a>
    </div>
  </div>
  <!-- END: Page Title -->
  <!-- BEGIN: Filter -->
  <div class="intro-y accordion-item mt-6">
    <div class="flex">
      <!-- BEGIN: Search -->
      <div class="relative">
        <SearchIcon class="w-4 h-4 absolute my-auto inset-y-0 ml-3 left-0 z-10 text-gray-700 dark:text-gray-300"
        />
        <input
          type="text"
          class="form-control w-full sm:w-64 box pl-10 text-gray-700 dark:text-gray-300 placeholder-theme-8"
          placeholder="Search..."
        />
      </div>
      <!-- END: Search -->
      <a id="filter-accordion-content" class="btn ml-3 mr-auto accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#filter-accordion-collapse" aria-expanded="false" aria-controls="filter-accordion-collapse">Filter</a>
      <!-- START: Filter Reset -->
      <button class='btn'>
        <span>Reset</span>
        <span class="py-0.5 px-1.5 bg-theme-2 ml-1 text-xs rounded-full text-white">2</span>
      </button>
      <!-- END: Filter Reset -->
    </div>
    <div id="filter-accordion-collapse" class="box p-4 mt-2 accordion-collapse collapse" aria-labelledby="filter-accordion-content" style="display: none;">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6 md:col-span-3">
          <label class="form-label" for="filter-status">Type</label>
          <select id="filter-status" class="form-select">
            <option>Any Type</option>
            <option>Default Only</option>
            <option>Manual Only</option>
          </select>
        </div>
        <div class="col-span-6 md:col-span-9">
          <label for="department-select" class="form-label"
            >Publisher</label
          >
          <div id="department-select" class="">
            <div class="preview">
              <TomSelect
                v-model="selectMultiple"
                :options="{
                  plugins: {
                    remove_button:{
                      title:'Remove',
                    }
                  },
                  placeholder: 'Select Department'
                }"
                class="w-full"
                multiple
              >
                <option value="4">Admin</option>
                <option value="1">John Doe</option>
                <option value="2">Harry Smith</option>
                <option value="3">Michael Owley</option>
              </TomSelect>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Filter -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-4">
    <!-- BEGIN: Package list -->
    <div class="col-span-12">
      <div class="pt-4 pb-2 flex flex-col-reverse sm:flex-row text-gray-600 border-b border-gray-200 dark:border-dark-1 pl-3 pr-4">
        <div class="grid gap-2 w-full grid-cols-2 md:grid-cols-3 lg:grid-cols-12 pr-8 items-center text-base">
          <a href='#0' class="col-span-8 lg:col-span-2 truncate text-base font-medium text-gray-900 dark:text-gray-100">Process
            <ChevronDownIcon class="w-5 h-5 text-gray-900 dark:text-gray-100" />
          </a>
          <a href='#0' class="col-span-4 lg:col-span-1 truncate text-base font-medium">Version</a>
          <a href='#0' class="col-span-4 lg:col-span-2 truncate text-base font-medium">Published</a>
          <a href='#0' class="col-span-4 lg:col-span-1 truncate text-base font-medium">Creator</a>
          <a href='#0' class="col-span-4 lg:col-span-2 truncate text-base font-medium">Publisher</a>
          <a href='#0' class="col-span-12 lg:col-span-4 truncate text-base font-medium">Change Log</a>
        </div>
      </div>
      <div id="process-accordion">
        <div class="box accordion-item border rounded shadow my-2">
          <a id="group-accordion-content-1" class="lg:h-16 flex items-center p-3 accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#group-accordion-collapse-1" aria-expanded="false" aria-controls="group-accordion-collapse-1">
            <div class="grid grid gap-2 items-center w-full grid-cols-12 md:grid-cols-12 lg:grid-cols-12 text-base pr-9">
              <span class="col-span-8 lg:col-span-2 truncate font-medium">HelloProcess</span>
              <span class="col-span-4 lg:col-span-1">
                <span class="bg-blue-600 text-white text-sm rounded px-2 py-1">V 1.4</span>
              </span>
              <span class="col-span-4 lg:col-span-2 truncate">4/10/2021 12.00</span>
              <span class="col-span-4 lg:col-span-1 truncate">1.4.0.32</span>
              <span class="col-span-4 lg:col-span-2 truncate">John Doe</span>
              <span class="col-span-12 lg:col-span-4 lg:max-h-10 overflow-y-auto">When looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal...</span>
            </div>
          </a>
          <div class="dropdown ml-auto order-2 col-span-1 md:order-3 absolute right-1 top-2.5">
            <button class="dropdown-toggle btn border-none shadow-none" aria-expanded="false">
              <MoreVerticalIcon class="w-6 h-6 text-gray-600 ml-auto" />
            </button>
            <div class="dropdown-menu w-40">
              <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                <a href="javascript:;" data-toggle="modal" data-target="#edit-creator-workflow-modal" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Edit</a>
                <a href="javascript:;" data-toggle="modal" data-target="#export-confirmation-modal" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Export</a>
                <a href="javascript:;" data-toggle="modal" data-target="#delete-confirmation-modal" class="block p-2 transition duration-300 text-red-600 dark:text-red-400 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Delete</a>
              </div>
            </div>
          </div>
          <div id="group-accordion-collapse-1" class="border-t dark:border-gray-700 accordion-collapse collapse" aria-labelledby="group-accordion-content-1" data-bs-parent="#process-accordion" style="display: none;">
            <h3 class="text-lg font-medium mt-5 mb-3 px-3">Available Workflow Versions (2)</h3>
            <div class="grid grid-cols-1 border-t dark:border-gray-700">
              <div class="flex items-center p-3 pr-1 border-b dark:border-gray-700">
                <div class="grid grid gap-2 items-center w-full grid-cols-12 md:grid-cols-12 lg:grid-cols-12 text-gray-600 text-base pr-0">
                  <span class="col-span-8 lg:col-span-2 font-medium truncate">HelloProcess</span>
                  <span class="col-span-4 lg:col-span-1">
                    <span class="bg-gray-600 text-white text-sm rounded px-2 py-1">V 1.2</span>
                  </span>
                  <span class="col-span-4 lg:col-span-2 truncate">4/10/2021 12.00</span>
                  <span class="col-span-4 lg:col-span-1 truncate">1.4.0.32</span>
                  <span class="col-span-4 lg:col-span-2 truncate">John Doe</span>
                  <span class="col-span-12 lg:col-span-4 lg:max-h-10 overflow-y-auto">When looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal...</span>
                </div>
                <a class="btn border-none shadow-none" href="javascript:;" data-toggle="modal" data-target="#delete-confirmation-modal">
                  <TrashIcon class="w-5 h-5 text-red-600 dark:text-red-400 ml-auto" />
                </a>
              </div>
            </div>
            <div class="grid grid-cols-1 border-t dark:border-gray-700">
              <div class="flex items-center p-3 pr-1 border-b dark:border-gray-700">
                <div class="grid grid gap-2 items-center w-full grid-cols-12 md:grid-cols-12 lg:grid-cols-12 text-gray-600 text-base pr-0">
                  <span class="col-span-8 lg:col-span-2 font-medium truncate">HelloProcess</span>
                  <span class="col-span-4 lg:col-span-1">
                    <span class="bg-gray-600 text-white text-sm rounded px-2 py-1">V 1.0</span>
                  </span>
                  <span class="col-span-4 lg:col-span-2 truncate">4/10/2021 12.00</span>
                  <span class="col-span-4 lg:col-span-1 truncate">1.4.0.32</span>
                  <span class="col-span-4 lg:col-span-2 truncate">John Doe</span>
                  <span class="col-span-12 lg:col-span-4 lg:max-h-10 overflow-y-auto">When looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal...</span>
                </div>
                <a class="btn border-none shadow-none" href="javascript:;" data-toggle="modal" data-target="#delete-confirmation-modal">
                  <TrashIcon class="w-5 h-5 text-red-600 dark:text-red-400 ml-auto" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="box accordion-item border rounded shadow my-2">
          <a id="group-accordion-content-1" class="lg:h-16 flex items-center p-3 accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#group-accordion-collapse-1" aria-expanded="false" aria-controls="group-accordion-collapse-1">
            <div class="grid grid gap-2 items-center w-full grid-cols-12 md:grid-cols-12 lg:grid-cols-12 text-base pr-9">
              <span class="col-span-8 lg:col-span-2 truncate font-medium">HelloProcess
                <span class="bg-yellow-400 text-black rounded font-base text-xs p-1">Manual</span>
              </span>
              <span class="col-span-4 lg:col-span-1">
                <span class="bg-blue-600 text-white text-sm rounded px-2 py-1">V 1.39</span>
              </span>
              <span class="col-span-4 lg:col-span-2 truncate">4/10/2021 12.00</span>
              <span class="col-span-4 lg:col-span-1 truncate">1.4.0.32</span>
              <span class="col-span-4 lg:col-span-2 truncate">John Doe</span>
              <span class="col-span-12 lg:col-span-4 lg:max-h-10 overflow-y-auto">This is a short description</span>
            </div>
          </a>
          <div class="dropdown ml-auto order-2 col-span-1 md:order-3 absolute right-1 top-2.5">
            <button class="dropdown-toggle btn border-none shadow-none" aria-expanded="false">
              <MoreVerticalIcon class="w-6 h-6 text-gray-600 ml-auto" />
            </button>
            <div class="dropdown-menu w-40">
              <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                <a href="javascript:;" data-toggle="modal" data-target="#edit-creator-workflow-modal" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Edit</a>
                <a href="javascript:;" data-toggle="modal" data-target="#export-confirmation-modal" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Export</a>
                <a href="javascript:;" data-toggle="modal" data-target="#delete-confirmation-modal" class="block p-2 transition duration-300 text-red-600 dark:text-red-400 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Delete</a>
              </div>
            </div>
          </div>
          <div id="group-accordion-collapse-1" class="border-t dark:border-gray-700 accordion-collapse collapse" aria-labelledby="group-accordion-content-1" data-bs-parent="#process-accordion" style="display: none;">
            <h3 class="text-lg font-medium mt-5 mb-3 px-3">Available Workflow Versions (2)</h3>
            <div class="grid grid-cols-1 border-t dark:border-gray-700">
              <div class="flex items-center p-3 pr-1 border-b dark:border-gray-700">
                <div class="grid grid gap-2 items-center w-full grid-cols-12 md:grid-cols-12 lg:grid-cols-12 text-gray-600 text-base pr-0">
                  <span class="col-span-8 lg:col-span-2 font-medium truncate">HelloProcess</span>
                  <span class="col-span-4 lg:col-span-1">
                    <span class="bg-gray-600 text-white text-sm rounded px-2 py-1">V 1.2</span>
                  </span>
                  <span class="col-span-4 lg:col-span-2 truncate">4/10/2021 12.00</span>
                  <span class="col-span-4 lg:col-span-1 truncate">1.4.0.32</span>
                  <span class="col-span-4 lg:col-span-2 truncate">John Doe</span>
                  <span class="col-span-12 lg:col-span-4 lg:max-h-10 overflow-y-auto">When looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal...</span>
                </div>
                <a class="btn border-none shadow-none" href="javascript:;" data-toggle="modal" data-target="#delete-confirmation-modal">
                  <TrashIcon class="w-5 h-5 text-red-600 dark:text-red-400 ml-auto" />
                </a>
              </div>
            </div>
            <div class="grid grid-cols-1 border-t dark:border-gray-700">
              <div class="flex items-center p-3 pr-1 border-b dark:border-gray-700">
                <div class="grid grid gap-2 items-center w-full grid-cols-12 md:grid-cols-12 lg:grid-cols-12 text-gray-600 text-base pr-0">
                  <span class="col-span-8 lg:col-span-2 font-medium truncate">HelloProcess</span>
                  <span class="col-span-4 lg:col-span-1">
                    <span class="bg-gray-600 text-white text-sm rounded px-2 py-1">V 1.0</span>
                  </span>
                  <span class="col-span-4 lg:col-span-2 truncate">4/10/2021 12.00</span>
                  <span class="col-span-4 lg:col-span-1 truncate">1.4.0.32</span>
                  <span class="col-span-4 lg:col-span-2 truncate">John Doe</span>
                  <span class="col-span-12 lg:col-span-4 lg:max-h-10 overflow-y-auto">Some short log</span>
                </div>
                <a class="btn border-none shadow-none" href="javascript:;" data-toggle="modal" data-target="#delete-confirmation-modal">
                  <TrashIcon class="w-5 h-5 text-red-600 dark:text-red-400 ml-auto" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center mt-4 py-4">
        <LoadingIcon icon="oval" class="w-6 h-6" />
      </div>
    </div>
    <!-- END: Package list -->
  </div>
</template>
