<template>
  <!-- BEGIN: Generate Key Modal -->
  <div id="new-license-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">Activate License</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <div class="p-5">
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="licenseKey">Key
                <span class="text-red-600">*</span>
              </label>
              <textarea id="licenseKey" class="form-control text-base" rows="5"></textarea>
            </div>
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="processDepartment">Department
                <span class="text-red-600">*</span>
              </label>
              <TomSelect v-model="select" :options="{
                  plugins: {
                    remove_button:{
                      title:'Remove',
                    }
                  },
                  placeholder: 'Select Department'
                }" class="w-full" multiple>
                <option value="1">IT</option>
                <option value="2">Sales</option>
                <option value="3">Marketing</option>
              </TomSelect>
            </div>
          </div>
        </div>
        <div class="modal-footer flex justify-between">
          <button type="button" data-dismiss="modal" class="invisible md:visible btn btn-outline-secondary mr-1"> Cancel </button>
          <button type="button" class="btn bg-green-600 border-0 text-white ml-auto">Activate License</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Generate Key Modal -->
  <!-- BEGIN: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8 items-center">
    <div class="col-span-6">
      <h2 class="text-2xl lg:text-3xl font-medium mt-2">Licenses</h2>
    </div>
    <div class="col-span-6 text-right">
      <a href="javascript:;" data-toggle="modal" data-target="#new-license-modal" class="btn bg-green-600 border-0 text-white shadow-md ml-auto lg:ml-5">Activate License</a>
    </div>
  </div>
  <!-- END: Page Title -->
  <div class="box intro-y mt-8">
    <div class="overflow-x-auto">
      <table class="table text-base">
        <thead>
          <tr>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
              License (days)
            </th>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
              Activation Date
            </th>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
              Expiration Date
            </th>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap text-center">
              Days Left
            </th>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
              Department
            </th>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap text-center">
              Concurrence
            </th>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap text-right"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border-b dark:border-gray-700">90</td>
            <td class="border-b dark:border-gray-700">2021-10-20</td>
            <td class="border-b dark:border-gray-700">2021-12-20</td>
            <td class="border-b dark:border-gray-700 text-center"><span class="inline-block w-2 h-2 bg-green-600 dark:bg-green-400 rounded-full mr-2"></span><span class="text-green-600 dark:text-green-400">15</span></td>
            <td class="border-b dark:border-gray-700">
              <span class="px-2 py-0.5 rounded inline text-gray-100 bg-primary-1">IT</span>
            </td>
            <td class="border-b dark:border-gray-700 text-center">12</td>
            <td class="border-b dark:border-gray-700 text-right">
              <a class="px-3 cursor-pointer">
                <EditIcon class="w-5 h-5 text-gray-600" />
              </a>
            </td>
          </tr>
          <tr>
            <td class="border-b dark:border-gray-700">90</td>
            <td class="border-b dark:border-gray-700">2021-10-20</td>
            <td class="border-b dark:border-gray-700">2021-12-20</td>
            <td class="border-b dark:border-gray-700 text-center"><span class="inline-block w-2 h-2 bg-red-600 dark:bg-red-400 rounded-full mr-2"></span><span class="text-red-600 dark:text-red-400">0</span></td>
            <td class="border-b dark:border-gray-700">
              <span class="px-2 py-0.5 rounded inline text-gray-100 bg-primary-1">IT</span>
            </td>
            <td class="border-b dark:border-gray-700 text-center">12</td>
            <td class="border-b dark:border-gray-700 text-right">
              <a class="px-3 cursor-pointer">
                <EditIcon class="w-5 h-5 text-gray-600" />
              </a>
            </td>
          </tr>
          <tr>
            <td class="border-b dark:border-gray-700">90</td>
            <td class="border-b dark:border-gray-700">2021-10-20</td>
            <td class="border-b dark:border-gray-700">2021-12-20</td>
            <td class="border-b dark:border-gray-700 text-center"><span class="inline-block w-2 h-2 bg-yellow-600 dark:bg-yellow-400 rounded-full mr-2"></span><span class="text-yellow-600 dark:text-yellow-400">3</span></td>
            <td class="border-b dark:border-gray-700">
              <span class="px-2 py-0.5 rounded inline text-gray-100 bg-primary-1">IT</span>
            </td>
            <td class="border-b dark:border-gray-700 text-center">12</td>
            <td class="border-b dark:border-gray-700 text-right">
              <a class="px-3 cursor-pointer">
                <EditIcon class="w-5 h-5 text-gray-600" />
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
