<template>
  <div class="grid grid-cols-12 gap-6">
    <div class="col-span-12 xxl:col-span-9">
      <div class="grid grid-cols-12 gap-6">
        <!-- BEGIN: General Report -->
        <div class="col-span-12">
          <div class="grid grid-cols-12 gap-6 mt-6">
            <div class="col-span-12 intro-y sm:col-span-6 lg:col-span-4">
              <div class="report-box zoom-in">
                <div class="box p-5">
                  <div class="flex">
                    <BoxIcon class="report-box__icon text-blue-600" />
                  </div>
                  <div class="text-base text-gray-600 mt-6">Processes all time</div>
                  <div class="text-2xl font-medium leading-8 mt-1">4.710</div>
                </div>
              </div>
            </div>
            <div class="col-span-12 intro-y sm:col-span-6 lg:col-span-4">
              <div class="report-box zoom-in">
                <div class="box p-5">
                  <div class="flex">
                    <DollarSignIcon class="report-box__icon text-yellow-600 dark:text-yellow-400" />
                  </div>
                  <div class="text-base text-gray-600 mt-6">You saved 5,942 hours</div>
                  <div class="text-2xl font-medium leading-8 mt-1">฿ 13.721</div>
                </div>
              </div>
            </div>
            <div class="col-span-12 intro-y sm:col-span-12 lg:col-span-4">
              <div class="report-box zoom-in">
                <div class="box p-5">
                  <div class="flex">
                    <RobotIcon class="report-box__icon text-green-600 dark:text-green-400" />
                  </div>
                  <div class="flex">
                    <div class="flex-1">
                      <div class="text-2xl font-medium leading-8 mt-6">167</div>
                      <div class="text-base text-gray-600 mt-1">All Robots</div>
                    </div>
                    <div class="flex-1">
                      <div class="text-2xl font-medium leading-8 text-green-600 dark:text-green-400 mt-6">152</div>
                      <div class="text-base text-gray-600 text-green-600 dark:text-green-400 mt-1">Online</div>
                    </div>
                    <div class="flex-1">
                      <div class="text-2xl font-medium leading-8 text-red-600 dark:text-red-400 mt-6">15</div>
                      <div class="text-base text-red-600 dark:text-red-400 mt-1">Offline</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END: General Report -->
        <!-- BEGIN: Overview-->
        <div class="intro-y box col-span-12 mt-4">
          <div class="border-b dark:border-gray-700 px-5 pt-6 pb-4">
            <div class="grid grid-cols-12 py-1 items-center">
              <div class="col-span-12 md:col-span-6">
                <h1 class="font-medium mt-1 lg:mt-2 text-2xl lg:text-4xl">Overview</h1>
              </div>
              <div class="col-span-12 md:col-span-6 flex md:justify-end">
                <div class="flex p-1 w-full md:w-auto bg-gray-300 dark:bg-gray-900 rounded-full mt-4 md:mt-0">
                  <div><a class="btn btn-dark dark:bg-gray-600 shadow-md rounded-full shadow-none">Days</a></div>
                  <div><a class="btn btn-outline-light border-0 shadow-md rounded-full shadow-none">Weeks</a></div>
                  <div><a class="btn btn-outline-light border-0 shadow-md rounded-full shadow-none">Months</a></div>
                  <div><a class="btn btn-outline-light border-0 shadow-md rounded-full shadow-none" href="javascript:;" data-toggle="modal" data-target="#datepicker-modal-preview" >Select Date</a></div>
                  <!-- BEGIN: Modal Content -->
                  <div class="modal" id="datepicker-modal-preview" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <!-- BEGIN: Modal Header -->
                        <div class="modal-header">
                          <h2 class="font-medium text-base mr-auto">
                              Filter by Date
                          </h2>
                        </div>
                        <!-- END: Modal Header -->
                        <!-- BEGIN: Modal Body -->
                        <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                          <div class="col-span-12">
                            <label for="input-filter-5" class="form-label"
                              >Select Filter Range</label
                            >
                            <div class="preview">
                              <Litepicker
                                v-model="daterange"
                                :options="{
                                  autoApply: true,
                                  singleMode: false,
                                  numberOfColumns: 2,
                                  numberOfMonths: 2,
                                  showWeekNumbers: true,
                                  dropdowns: {
                                    minYear: 2000,
                                    maxYear: null,
                                    months: true,
                                    years: true
                                  }
                                }"
                                class="form-control w-full block"
                              />
                            </div>
                          </div>
                        </div>
                        <!-- END: Modal Body -->
                        <!-- BEGIN: Modal Footer -->
                        <div class="modal-footer text-right flex">
                            <button type="button" data-dismiss="modal" class="btn btn-outline-secondary">
                              Cancel
                            </button>
                            <button type="button" class="btn btn-primary ml-auto">
                              Apply Date Filter
                            </button>
                        </div>
                        <!-- END: Modal Footer -->
                      </div>
                    </div>
                  </div>
                  <!-- END: Modal Content -->
                </div>
              </div>
            </div>
          </div>
          <div class="border-b dark:border-gray-700 px-5 pt-6 pb-5">
            <div class="flex items-center">
              <div>
                <div class="mt-1 text-gray-600 font-medium">Today</div>
                <h2 class="font-medium text-xl md:text-2xl">September 24</h2>
              </div>
              <div class="ml-auto flex gap-2">
                <a class="btn lg:btn-lg btn-light dark:border-gray-600"><ChevronLeftIcon /></a>
                <a class="btn lg:btn-lg btn-light dark:border-gray-600"><ChevronRightIcon /></a>
              </div>
            </div>
            <div class="grid grid-cols-12 mt-0 lg:mt-2">
              <div class="col-span-6 md:col-span-3">
                <div class="text-3xl font-medium leading-8 mt-6">167</div>
                <div class="text-base text-gray-600 mt-1">Total in Queue</div>
              </div>
              <div class="col-span-6 md:col-span-3">
                <div class="text-3xl font-medium leading-8 text-green-600 dark:text-green-400 mt-6">152</div>
                <div class="text-base text-green-600 dark:text-green-400 mt-1">Complete</div>
              </div>
              <div class="col-span-6 md:col-span-3">
                <div class="text-3xl font-medium leading-8 text-yellow-600 dark:text-yellow-400 mt-6">15</div>
                <div class="text-base text-yellow-600 dark:text-yellow-400 mt-1">In Progress</div>
              </div>
              <div class="col-span-6 md:col-span-3">
                <div class="text-3xl font-medium leading-8 text-red-600 dark:text-red-400 mt-6">3</div>
                <div class="text-base text-red-600 dark:text-red-400 mt-1">Errors</div>
              </div>
            </div>
          </div>
          <div class="intro-y p-5">
            <StackedBarChart :height="100" />
          </div>
        </div>
        <!-- END: Overview-->
        <!-- BEGIN: Calendar -->
        <div class="intro-y box col-span-12 mt-2">
          <div class="border-b dark:border-gray-700 px-5 pt-6 pb-4">
            <div class="flex py-1 items-center">
              <h1 class="font-medium text-xl lg:text-2xl">Calendar</h1>
              <a
                href=""
                class="ml-auto truncate"
                >View Full Calendar</a>
            </div>
          </div>
          <div class="grid grid-cols-12 gap-4 p-5">
            <div class="col-span-12 md:col-span-7">
              <div class="flex items-center">
                <a href="#0" class="btn btn-sm btn-light dark:border-gray-600">
                  <ChevronLeftIcon />
                </a>
                <div class="font-medium text-base mx-auto">September, 2021</div>
                <a href="#0" class="btn btn-sm btn-light dark:border-gray-600">
                  <ChevronRightIcon />
                </a>
              </div>
              <div class="grid grid-cols-7 gap-2 mt-5 text-center">
                <div class="font-medium">Mo</div>
                <div class="font-medium">Tu</div>
                <div class="font-medium">We</div>
                <div class="font-medium">Th</div>
                <div class="font-medium">Fr</div>
                <div class="font-medium">Sa</div>
                <div class="font-medium">Su</div>
                <div class="py-1 rounded relative text-gray-600">29</div>
                <div class="py-1 rounded relative text-gray-600">30</div>
                <div class="py-1 rounded relative text-gray-600">31</div>
                <div class="py-1 rounded relative">1</div>
                <div class="py-1 rounded relative">2</div>
                <div class="py-1 rounded relative text-gray-600 dark:text-gray-300 bg-gray-200 dark:bg-gray-600 line-through">3</div>
                <div class="py-1 rounded relative text-gray-600 dark:text-gray-300 bg-gray-200 dark:bg-gray-600 line-through">4</div>
                <div class="py-1 rounded relative">5</div>
                <div class="py-1 rounded relative">6</div>
                <div class="py-1 rounded relative">7</div>
                <div class="py-1 bg-blue-600 text-white rounded relative">8</div>
                <div class="py-1 rounded relative">9</div>
                <div class="py-1 rounded relative text-gray-600 dark:text-gray-300 bg-gray-200 dark:bg-gray-600 line-through">10</div>
                <div class="py-1 rounded relative text-gray-600 dark:text-gray-300 bg-gray-200 dark:bg-gray-600 line-through">11</div>
                <div class="py-1 rounded relative">12</div>
                <div class="py-1 rounded relative">13</div>
                <div class="py-1 rounded relative">14</div>
                <div class="py-1 rounded relative">15</div>
                <div class="py-1 rounded relative">16</div>
                <div class="py-1 rounded relative text-gray-600 dark:text-gray-300 bg-gray-200 dark:bg-gray-600 line-through">17</div>
                <div class="py-1 rounded relative text-gray-600 dark:text-gray-300 bg-gray-200 dark:bg-gray-600 line-through">18</div>
                <div class="py-1 rounded relative">19</div>
                <div class="py-1 rounded relative text-gray-600 dark:text-gray-300 bg-gray-200 dark:bg-gray-600 line-through">20</div>
                <div class="py-1 rounded relative">21</div>
                <div class="py-1 rounded relative">22</div>
                <div class="py-1 rounded relative">23</div>
                <div class="py-1 rounded relative text-gray-600 dark:text-gray-300 bg-gray-200 dark:bg-gray-600 line-through">24</div>
                <div class="py-1 rounded relative text-gray-600 dark:text-gray-300 bg-gray-200 dark:bg-gray-600 line-through">25</div>
                <div class="py-1 rounded relative">26</div>
                <div class="py-1 rounded relative">27</div>
                <div class="py-1 rounded relative">28</div>
                <div class="py-1 rounded relative">29</div>
                <div class="py-1 rounded relative">30</div>
                <div class="py-1 rounded relative text-gray-600 dark:text-gray-300 bg-gray-200 dark:bg-gray-600 line-through">1</div>
                <div class="py-1 rounded relative text-gray-600 dark:text-gray-300 bg-gray-200 dark:bg-gray-600 line-through">2</div>
                <div class="py-1 rounded relative text-gray-600">3</div>
                <div class="py-1 rounded relative text-gray-600">4</div>
                <div class="py-1 rounded relative text-gray-600">5</div>
                <div class="py-1 rounded relative text-gray-600">6</div>
                <div class="py-1 rounded relative text-gray-600">7</div>
                <div class="py-1 rounded relative text-gray-600 dark:text-gray-300 bg-gray-200 dark:bg-gray-600 line-through">8</div>
                <div class="py-1 rounded relative text-gray-600 dark:text-gray-300 bg-gray-200 dark:bg-gray-600 line-through">9</div>
              </div>
            </div>
            <div class="col-span-12 md:col-span-5 h-full">
              <div class="md:border-l dark:border-gray-700 md:pl-5 h-full">
                <h4 class="font-medium text-base mb-3">Thursday, Sep 8</h4>
                <div class="flex w-full items-center bg-black bg-opacity-5 p-2 rounded mb-2">
                  <BoxIcon class="w-5 h-5 text-gray-600 mr-2" />
                  <span class="truncate text-sm font-medium">AATME</span>
                  <span class="truncate text-sm ml-auto">12:00 PM</span>
                </div>
                <div class="flex w-full items-center bg-black bg-opacity-5 p-2 rounded mb-2">
                  <ChainIcon class="w-5 h-5 text-gray-600 mr-2" />
                  <span class="truncate text-sm font-medium">AATME</span>
                  <span class="truncate text-sm ml-auto">12:15 PM</span>
                </div>
                <div class="flex w-full items-center bg-black bg-opacity-5 p-2 rounded mb-2">
                  <ChainIcon class="w-5 h-5 text-gray-600 mr-2" />
                  <span class="truncate text-sm font-medium">AATME</span>
                  <span class="truncate text-sm ml-auto">12:15 PM</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END: Calendar -->
      </div>
    </div>
    <div class="col-span-12 xxl:col-span-3">
      <div class="xxl:border-l dark:border-gray-700 -mb-10 pb-10">
        <div class="xxl:pl-6 grid grid-cols-12 gap-6">
          <!-- BEGIN: Action Required -->
          <div class="col-span-12 md:col-span-6 xxl:col-span-12 mt-3 xxl:mt-8">
            <div class="intro-x flex items-center h-10">
              <h2 class="text-lg font-medium truncate mr-5">Action Required</h2>
              <a href="#0" class="ml-auto truncate">Ignore All</a>
            </div>
            <!-- BEGIN: Modal Content -->
            <div id="process-error-modal" class="modal" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="font-medium text-xl mr-auto">Queue Error Details</h2>
                    <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
                  </div>
                  <div class="modal-body px-5 py-5">
                    <!-- BEGIN: Group Info -->
                    <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-3 mb-6">
                      <div class="flex items-center">
                        <div class="p-2 bg-red-600 dark:bg-red-400 bg-opacity-20 dark:bg-opacity-20 flex items-center rounded-full mr-2">
                          <ChainIcon class="w-5 h-5 text-red-600 dark:text-red-300" />
                        </div>
                        <dl>
                          <dt class="text-sm text-gray-600">Process Group:</dt>
                          <dd class="text-base text-medium truncate">ExportAttachments</dd>
                        </dl>
                      </div>
                      <dl>
                        <dt class="text-sm text-gray-600">Created by:</dt>
                        <dd class="text-base truncate">John Doe</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Robots:</dt>
                        <dd class="text-base truncate">Binh_Robot, MaiRobot</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Trigger:</dt>
                        <dd class="text-base truncate">None</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Start Time:</dt>
                        <dd class="text-base truncate">Tue, 28 Sep 2021 14:30</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">End Time:</dt>
                        <dd class="text-base truncate">Tue, 28 Sep 2021 14:30</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Execution:</dt>
                        <dd class="text-base truncate">Mon, 10 Sep 2021 14:30</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Modified by user:</dt>
                        <dd class="text-base truncate">Jane Kim</dd>
                      </dl>
                      <dl>
                        <dt class="text-sm text-gray-600">Status:</dt>
                        <dd class="text-base truncate">
                          <div class="flex items-center">
                            <div class="w-2 h-2 bg-red-600 dark:bg-red-400 rounded-full mr-2"></div>
                            <span class="text-red-600 dark:text-red-400">Error</span>
                          </div>
                        </dd>
                      </dl>
                    </div>
                    <!-- END: Group Info -->
                    <hr />
                    <!-- BEGIN: Processes -->
                    <h3 class="text-lg font-medium mt-5 mb-3">Processes (2)</h3>
                    <div id="process-accordion" class="">
                      <div class="accordion-item border rounded border-red-600 dark:border-red-400 mb-3">
                        <a id="group-accordion-content-1" class="flex items-center p-3 accordion-button rounded cursor-pointer bg-red-600 dark:bg-red-400 bg-opacity-10 dark:bg-opacity-10 collapsed"  data-bs-toggle="collapse" data-bs-target="#group-accordion-collapse-1" aria-expanded="false" aria-controls="group-accordion-collapse-1">
                          <div class="p-2 bg-red-600 dark:bg-red-400 bg-opacity-20 dark:bg-opacity-20 flex items-center rounded-full mr-2">
                            <BoxIcon class="w-5 h-5 text-red-600 dark:text-red-300" />
                          </div>
                          <div class="grid gap-2 grid-cols-2 lg:grid-cols-4 items-center">
                            <div class="flex items-center">
                              <dl>
                                <dt class="text-sm text-gray-600">Type</dt>
                                <dd class="truncate text-base">Process</dd>
                              </dl>
                            </div>
                            <dl>
                              <dt class="text-sm text-gray-600">Name</dt>
                              <dd class="truncate text-base">hello-world</dd>
                            </dl>
                            <dl>
                              <dt class="text-sm text-gray-600">Robot</dt>
                              <dd class="truncate text-base">Binh_Robot</dd>
                            </dl>
                            <dl>
                              <dt class="text-sm text-gray-600">Next Run</dt>
                              <dd class="truncate text-base">Tue, 07 Sep 2021 23:32</dd>
                            </dl>
                          </div>
                          <ChevronDownIcon class="w-6 h-6 text-gray-600 ml-auto" />
                        </a>
                        <div id="group-accordion-collapse-1" class="accordion-collapse collapse p-3" aria-labelledby="group-accordion-content-1" data-bs-parent="#process-accordion" style="display: none;">
                          <div class="alert alert-danger-soft dark:bg-red-400 dark:bg-opacity-10 show flex items-center mb-3" role="alert">
                            <AlertTriangleIcon class="w-6 h-6 text-red-600 dark:text-red-300 mr-2" />
                            <div class="dark:text-red-200">
                            <span class="font-medium mr-2">Error Log:</span>Robot QA_Robot is Offline
                            </div>
                          </div>
                          <div class="grid grid-cols-2 lg:grid-cols-4 gap-3">
                            <dl>
                              <dt class="text-sm text-gray-600">Robot Name</dt>
                              <dd class="truncate text-base">QA_Robot</dd>
                            </dl>
                            <dl>
                              <dt class="text-sm text-gray-600">Robot IP</dt>
                              <dd class="truncate text-base">172.26.80.1</dd>
                            </dl>
                            <dl>
                              <dt class="text-sm text-gray-600">Robot Machine name</dt>
                              <dd class="truncate text-base">RobotTest</dd>
                            </dl>
                            <dl>
                              <dt class="text-sm text-gray-600">Load Balance</dt>
                              <dd class="truncate text-base">None</dd>
                            </dl>
                            <dl>
                              <dt class="text-sm text-gray-600">LWC file</dt>
                              <dd class="truncate text-base">start_notepad_150.lwc</dd>
                            </dl>
                            <dl>
                              <dt class="text-sm text-gray-600">Version</dt>
                              <dd class="truncate text-base">V 1.4.0.1</dd>
                            </dl>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item border dark:border-gray-700 rounded mb-3">
                        <a id="group-accordion-content-2" class="flex items-center p-3 accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#group-accordion-collapse-2" aria-expanded="false" aria-controls="group-accordion-collapse-2">
                          <div class="p-2 bg-green-500 bg-opacity-25 flex items-center rounded-full mr-2">
                            <BoxIcon class="w-5 h-5 text-green-600 dark:text-green-400" />
                          </div>
                          <div class="grid gap-2 grid-cols-2 lg:grid-cols-4 items-center">
                            <div class="flex items-center">
                              <dl>
                                <dt class="text-sm text-gray-600">Type</dt>
                                <dd class="truncate text-base">Process</dd>
                              </dl>
                            </div>
                            <dl>
                              <dt class="text-sm text-gray-600">Name</dt>
                              <dd class="truncate text-base">hello-world</dd>
                            </dl>
                            <dl>
                              <dt class="text-sm text-gray-600">Robot</dt>
                              <dd class="truncate text-base">Binh_Robot</dd>
                            </dl>
                            <dl>
                              <dt class="text-sm text-gray-600">Next Run</dt>
                              <dd class="truncate text-base">Tue, 07 Sep 2021 23:32</dd>
                            </dl>
                          </div>
                          <ChevronDownIcon class="w-6 h-6 text-gray-600 ml-auto" />
                        </a>
                        <div id="group-accordion-collapse-2" class="accordion-collapse collapse p-3" aria-labelledby="group-accordion-content-2" data-bs-parent="#process-accordion" style="display: none;">
                          <div class="grid grid-cols-2 lg:grid-cols-4 gap-3">
                            <dl>
                              <dt class="text-sm text-gray-600">Robot Name</dt>
                              <dd class="truncate text-base">QA_Robot</dd>
                            </dl>
                            <dl>
                              <dt class="text-sm text-gray-600">Robot IP</dt>
                              <dd class="truncate text-base">172.26.80.1</dd>
                            </dl>
                            <dl>
                              <dt class="text-sm text-gray-600">Robot Machine name</dt>
                              <dd class="truncate text-base">RobotTest</dd>
                            </dl>
                            <dl>
                              <dt class="text-sm text-gray-600">Load Balance</dt>
                              <dd class="truncate text-base">None</dd>
                            </dl>
                            <dl>
                              <dt class="text-sm text-gray-600">LWC file</dt>
                              <dd class="truncate text-base">start_notepad_150.lwc</dd>
                            </dl>
                            <dl>
                              <dt class="text-sm text-gray-600">Version</dt>
                              <dd class="truncate text-base">V 1.4.0.1</dd>
                            </dl>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END: Processes -->
                  </div>
                  <div class="modal-footer flex justify-between">
                    <button type="button" data-dismiss="modal" class="invisible md:visible btn btn-outline-secondary mr-1"> Cancel </button>
                    <button type="button" class="btn btn-primary ml-auto mr-2"> Ignore </button>
                    <button type="button" class="btn btn-primary"> Edit and Run Again </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- END: Modal Content -->
            <div class="mt-3 intro-x">
              <a href="javascript:;" data-toggle="modal" data-target="#process-error-modal" class="box px-5 py-3 mb-3 flex items-center zoom-in">
                <div class="w-2 h-2 bg-red-600 dark:bg-red-400 rounded-full mr-3"></div>
                <div class="font-medium">ID5i420429</div>
                <div class="text-gray-600 text-xs ml-auto">4:49pm</div>
              </a>
              <a href="javascript:;" data-toggle="modal" data-target="#process-error-modal" class="box px-5 py-3 mb-3 flex items-center zoom-in">
                <div class="w-2 h-2 bg-red-600 dark:bg-red-400 rounded-full mr-3"></div>
                <div class="font-medium">ID5i420429</div>
                <div class="text-gray-600 text-xs ml-auto">4:49pm</div>
              </a>
              <a href="javascript:;" data-toggle="modal" data-target="#process-error-modal" class="box px-5 py-3 mb-3 flex items-center zoom-in">
                <div class="w-2 h-2 bg-red-600 dark:bg-red-400 rounded-full mr-3"></div>
                <div class="font-medium">ID5i420429</div>
                <div class="text-gray-600 text-xs ml-auto">4:49pm</div>
              </a>
              <a href="javascript:;" data-toggle="modal" data-target="#process-error-modal" class="box px-5 py-3 mb-3 flex items-center zoom-in">
                <div class="w-2 h-2 bg-red-600 dark:bg-red-400 rounded-full mr-3"></div>
                <div class="font-medium">ID5i420429</div>
                <div class="text-gray-600 text-xs ml-auto">4:49pm</div>
              </a>
              <a href="" class="intro-x w-full block text-center rounded-md py-3 border border-dotted border-gray-500 text-gray-700 dark:border-gray-600 dark:text-gray-400">Load More</a>
            </div>
          </div>
          <!-- END: Action Required -->
          <!-- BEGIN: Recent Activities -->
          <div class="col-span-12 md:col-span-6 xxl:col-span-12 mt-3">
            <div class="intro-x flex items-center h-10">
              <h2 class="text-lg font-medium truncate mr-5">Recent Activities</h2>
              <a href="" class="ml-auto truncate">Show More</a>
            </div>
            <div class="report-timeline mt-5 relative">
              <div class="intro-x relative flex items-center mb-3">
                <div class="report-timeline__image">
                  <div class="w-10 h-10 flex items-center justify-center bg-gray-400 dark:bg-gray-700 image-fit rounded-full overflow-hidden">
                    <BoxIcon class="w-5 h-5 report-box__icon text-primary dark:text-white" />
                  </div>
                </div>
                <div class="box px-5 py-3 ml-3 flex-1 zoom-in">
                  <div class="text-xs text-gray-500">07:00 PM</div>
                  <div class="mt-1">John Doe created a process 'Hello World'</div>
                </div>
              </div>
              <div class="intro-x relative flex items-center mb-3">
                <div class="report-timeline__image">
                  <div class="w-10 h-10 flex items-center justify-center bg-gray-400 dark:bg-gray-700 image-fit rounded-full overflow-hidden">
                    <ActivityIcon class="w-5 h-5 report-box__icon text-primary dark:text-white" />
                  </div>
                </div>
                <div class="box px-5 py-3 ml-3 flex-1 zoom-in">
                  <div class="text-xs text-gray-500">07:00 PM</div>
                  <div class="mt-1">John Doe added {scheduleName} to Queue</div>
                </div>
              </div>
              <div class="intro-x text-gray-500 text-xs text-center my-4">
                12 November
              </div>
              <div class="intro-x relative flex items-center mb-3">
                <div class="report-timeline__image">
                  <div class="w-10 h-10 flex items-center justify-center bg-gray-400 dark:bg-gray-700 image-fit rounded-full overflow-hidden">
                    <ChainIcon class="w-5 h-5 report-box__icon text-primary dark:text-white" />
                  </div>
                </div>
                <div class="box px-5 py-3 ml-3 flex-1 zoom-in">
                  <div class="text-xs text-gray-500">07:00 PM</div>
                  <div class="mt-1">John Doe created a process 'Hello World'</div>
                </div>
              </div>
              <div class="intro-x relative flex items-center mb-3">
                <div class="report-timeline__image">
                  <div class="w-10 h-10 flex items-center justify-center bg-gray-400 dark:bg-gray-700 image-fit rounded-full overflow-hidden">
                    <UsersIcon class="w-5 h-5 report-box__icon text-primary dark:text-white" />
                  </div>
                </div>
                <div class="box px-5 py-3 ml-3 flex-1 zoom-in">
                  <div class="text-xs text-gray-500">07:00 PM</div>
                  <div class="mt-1">John Doe joined workspace</div>
                </div>
              </div>
            </div>
          </div>
          <!-- END: Recent Activities -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import StackedBarChart from '@/components/stacked-bar-chart/Main.vue'
import RobotIcon from '@/components/icons/RobotIcon.vue'
import ChainIcon from '@/components/icons/ChainIcon.vue'

export default defineComponent({
  components: {
    StackedBarChart,
    RobotIcon,
    ChainIcon
  }
})
</script>
