<template>
  <Chart
    type="bar"
    :width="width"
    :height="height"
    :data="data"
    :options="options"
  />
</template>

<script>
import { defineComponent, computed } from 'vue'
import { helper as $h } from '@/utils/helper'

export default defineComponent({
  props: {
    width: {
      type: Number,
      default: 0
    },
    height: {
      type: Number,
      default: 0
    }
  },
  setup() {
    const data = computed(() => {
      return {
        labels: [
          'Sep 9',
          'Sep 10',
          'Sep 11',
          'Sep 12',
          'Sep 13',
          'Sep 14',
          'Sep 15',
          'Sep 16',
          'Sep 17',
          'Sep 18',
          'Sep 19',
          'Sep 20',
          'Sep 21',
          'Sep 22',
          'Sep 23',
          'Sep 24'
        ],
        datasets: [
          {
            label: 'Success',
            barPercentage: 0.5,
            barThickness: 6,
            maxBarThickness: 8,
            minBarLength: 2,
            borderRadius: 10,
            borderWidth: { top: 1, right: 0, bottom: 1, left: 0 },
            borderColor: '#ffffff',
            backgroundColor: '#13B176',
            data: $h.randomNumbers(0, 100, 16)
          },
          {
            label: 'Errors',
            barPercentage: 0.5,
            barThickness: 6,
            maxBarThickness: 8,
            minBarLength: 2,
            borderWidth: { top: 1, right: 0, bottom: 1, left: 0 },
            borderColor: '#ffffff',
            backgroundColor: '#CE3131',
            data: $h.randomNumbers(0, 6, 5)
          },
          {
            label: 'In Progress',
            barPercentage: 0.5,
            barThickness: 6,
            maxBarThickness: 8,
            minBarLength: 2,
            borderWidth: { top: 1, right: 0, bottom: 1, left: 0 },
            borderColor: '#ffffff',
            backgroundColor: '#F78B00',
            data: $h.randomNumbers(0, 1, 4)
          },
          {
            label: 'Left',
            barPercentage: 0.5,
            barThickness: 6,
            maxBarThickness: 8,
            minBarLength: 2,
            borderWidth: { top: 1, right: 0, bottom: 1, left: 0 },
            borderColor: '#ffffff',
            backgroundColor: '#CCD4DE',
            data: $h.randomNumbers(0, 4, 12)
          }
        ]
      }
    })
    const options = computed(() => {
      return {
        scales: {
          xAxes: [
            {
              stacked: true,
              ticks: {
                fontSize: '11',
                fontColor: '#777777'
              },
              gridLines: {
                display: false
              }
            }
          ],
          yAxes: [
            {
              stacked: true,
              ticks: {
                fontSize: '11',
                fontColor: '#777777',
                callback: function(value) {
                  return value
                }
              },
              gridLines: {
                color: '#D8D8D8',
                zeroLineColor: '#D8D8D8',
                borderDash: [2, 2],
                zeroLineBorderDash: [2, 2],
                drawBorder: false
              }
            }
          ]
        }
      }
    })

    return {
      data,
      options
    }
  }
})
</script>
