<template>
  <!-- BEGIN: New User Modal Content -->
  <div id='new-user-modal' class='modal' tabindex='-1' aria-hidden='true'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h2 class='font-medium text-xl mr-auto'>New User</h2>
          <XIcon data-dismiss='modal' href='javascript:;' class='w-8 h-8 text-gray-600 cursor-pointer' />
        </div>
        <div class='modal-body p-0'>
          <div class='p-5'>
            <!-- BEGIN: Tabs -->
            <div class='nav nav-tabs boxed-tabs p-0.5 gap-0.5 bg-gray-300 dark:bg-gray-900 rounded mb-6 w-full flex'>
              <a
                id='group-tab-1'
                data-toggle='tab'
                data-target='#group-tab-1-content'
                href='javascript:;'
                class='box flex flex-1 justify-center items-center p-2.5 rounded active'
                role='tab'
                aria-controls='group-tab-1'
                aria-selected='true'
              >Invite User with Email</a>
              <a
                id='group-tab-2'
                data-toggle='tab'
                data-target='#group-tab-2-content'
                href='javascript:;'
                class='box flex flex-1 justify-center items-center p-2.5 rounded'
                role='tab'
                aria-controls='group-tab-2'
                aria-selected='false'>Create User Manually</a>
            </div>
            <div class='tab-content'>
              <div
                id='group-tab-1-content'
                class='tab-pane active'
                role='tabpanel'
                aria-labelledby='group-tab-1'
              >
                <form>
                  <div class='mb-6'>
                    <label class='font-medium text-base block mb-2' for='userEmail'>Email Address
                      <span class='text-red-600'>*</span>
                    </label>
                    <input type='email' id='userEmail' class='form-control text-base' placeholder='User Email' />
                    <div class='text-sm py-2'>We will send an invite link using this email address for further sign up
                    </div>
                  </div>
                  <div class='mb-6'>
                    <label class='font-medium text-base block mb-2' for='userRole'>User Role &amp; Permissions
                      <span class='text-red-600'>*</span>
                    </label>
                    <TomSelect v-model='select' :options="{
                        placeholder: 'Select Role'
                      }" class='w-full'>
                      <option value='1'>Admin</option>
                      <option value='2'>Manager</option>
                      <option value='3'>Moderator</option>
                    </TomSelect>
                  </div>
                  <div class='mb-6'>
                    <label class='font-medium text-base block mb-2' for='userDepartment'>Assign to Department
                      <span class='text-red-600'>*</span>
                    </label>
                    <TomSelect v-model='select' :options="{
                        placeholder: 'Select Department'
                      }" class='w-full'>
                      <option value='1'>IT</option>
                      <option value='2'>Sales</option>
                      <option value='3'>Management</option>
                      <option value='3'>Support</option>
                    </TomSelect>
                  </div>
                  <button type='submit' class='btn btn-lg w-full shadow bg-green-600 border-0 text-white mb-2'>Send
                    Invite
                  </button>
                </form>
              </div>
              <div
                id='group-tab-2-content'
                class='tab-pane'
                role='tabpanel'
                aria-labelledby='group-tab-2'>
                <form>
                  <div class='mb-6'>
                    <label class='font-medium text-base block mb-2' for='username2'>Username
                      <span class='text-red-600'>*</span>
                    </label>
                    <input type='text' id='username2' class='form-control text-base' placeholder='User Email' />
                  </div>
                  <div class='mb-6'>
                    <label class='font-medium text-base block mb-2' for='password2'>Create Password
                      <span class='text-red-600'>*</span>
                    </label>
                    <input type='password' id='password2' class='form-control text-base' placeholder='Password' />
                  </div>
                  <div class='mb-6'>
                    <label class='font-medium text-base block mb-2' for='confirmPassword2'>Create Password
                      <span class='text-red-600'>*</span>
                    </label>
                    <input type='password' id='confirmPassword2' class='form-control text-base'
                           placeholder='Confirm Password' />
                  </div>
                  <div class='mb-6'>
                    <label class='font-medium text-base block mb-2' for='userEmail2'>Email Address
                      <span class='text-red-600'>*</span>
                    </label>
                    <input type='email' id='userEmail2' class='form-control text-base' placeholder='User Email' />
                  </div>
                  <div class='mb-6'>
                    <label class='font-medium text-base block mb-2' for='firstName2'>First Name
                      <span class='text-red-600'>*</span>
                    </label>
                    <input type='text' id='firstName2' class='form-control text-base' placeholder='First Name' />
                  </div>
                  <div class='mb-6'>
                    <label class='font-medium text-base block mb-2' for='lastName2'>Last Name
                      <span class='text-red-600'>*</span>
                    </label>
                    <input type='text' id='lastName2' class='form-control text-base' placeholder='Last Name' />
                  </div>
                  <div class='mb-6'>
                    <label class='font-medium text-base block mb-2' for='userRole2'>User Role &amp; Permissions
                      <span class='text-red-600'>*</span>
                    </label>
                    <TomSelect v-model='select' :options="{
                        placeholder: 'Select Role'
                      }" class='w-full'>
                      <option value='1'>Admin</option>
                      <option value='2'>Manager</option>
                      <option value='3'>Moderator</option>
                    </TomSelect>
                  </div>
                  <div class='mb-6'>
                    <label class='font-medium text-base block mb-2' for='userDepartment2'>Assign to Department
                      <span class='text-red-600'>*</span>
                    </label>
                    <TomSelect v-model='select' :options="{
                        placeholder: 'Select Department'
                      }" class='w-full'>
                      <option value='1'>IT</option>
                      <option value='2'>Sales</option>
                      <option value='3'>Management</option>
                      <option value='3'>Support</option>
                    </TomSelect>
                  </div>
                  <button type='submit' class='btn btn-lg w-full bg-green-600 shadow border-0 text-white mb-2'>Create
                    User
                  </button>
                </form>
              </div>
            </div>
            <!-- END: Tabs -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: New User Modal Content -->
  <!-- BEGIN: New Department Modal Content -->
  <div id='new-department-modal' class='modal' tabindex='-1' aria-hidden='true'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h2 class='font-medium text-xl mr-auto'>Create New Department</h2>
          <XIcon data-dismiss='modal' href='javascript:;' class='w-8 h-8 text-gray-600 cursor-pointer' />
        </div>
        <div class='modal-body p-0'>
          <form class='p-5'>
            <div class='mb-6'>
              <label class='font-medium text-base block mb-2' for='departmentName'>Department Name
                <span class='text-red-600'>*</span>
              </label>
              <input type='text' id='departmentName' class='form-control text-base' placeholder='Department Name' />
            </div>
            <div class='mb-6'>
              <label class='font-medium text-base block mb-2' for='departmentCode'>Department Code
                <span class='text-red-600'>*</span>
              </label>
              <input type='text' id='departmentCode' class='form-control text-base' placeholder='Department Code' />
            </div>
            <div class='mb-6'>
              <label class='font-medium text-base block mb-2' for='departmentDescription'>Description (optional)
              </label>
              <textarea rows='3' id='departmentDescription' class='form-control text-base'></textarea>
            </div>
            <div class='mb-6'>
              <label class='font-medium text-base block mb-2' for='departmentEmail'>Department Email
                <span class='text-red-600'>*</span>
              </label>
              <input type='email' id='departmentEmail' class='form-control text-base' placeholder='Department Email' />
            </div>
            <div
              class='p-3 mb-6 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded'>
              <div class='form-check'>
                <input id='departmentActive' class='form-check-switch' type='checkbox' />
                <label class='form-check-label text-base' for='departmentActive'>Active</label>
              </div>
            </div>
            <button type='submit' class='btn btn-lg w-full bg-green-600 shadow border-0 text-white mb-2'>Save
              Department
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END: New Department Modal Content -->
  <!-- BEGIN: New Role Modal Content -->
  <div id='new-role-modal' class='modal' tabindex='-1' aria-hidden='true'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h2 class='font-medium text-xl mr-auto'>New User Role</h2>
          <XIcon data-dismiss='modal' href='javascript:;' class='w-8 h-8 text-gray-600 cursor-pointer' />
        </div>
        <div class='modal-body p-0'>
          <form class='p-5'>
            <div class='mb-6'>
              <label class='font-medium text-base block mb-2' for='departmentName'>User Role Name
                <span class='text-red-600'>*</span>
              </label>
              <input type='text' id='departmentName' class='form-control text-base' placeholder='Role Name' />
            </div>
            <div class='mb-6'>You can assign/remove permissions in role details</div>
            <button type='submit' class='btn btn-lg w-full bg-green-600 shadow border-0 text-white mb-2'>Create User
              Role
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END: New Role Modal Content -->
  <!-- BEGIN: Page Title -->
  <div class='intro-y grid grid-cols-12 gap-6 mt-8 mb-4 items-center'>
    <div class='col-span-6'>
      <h2 class='text-2xl lg:text-3xl font-medium mr-auto mt-2'>User Management</h2>
    </div>
    <div class='col-span-6'>
      <div class='flex w-full justify-end'>
        <a href='javascript:;' data-toggle='modal' data-target='#new-user-modal'
           class='btn bg-green-600 border-0 text-white shadow ml-auto'>Add User</a>
        <div class='dropdown ml-2 mr-2'>
          <button class='dropdown-toggle btn px-2 box text-gray-700 dark:text-gray-300' aria-expanded='false'>
            <span class='w-5 h-5 flex items-center justify-center'>
              <PlusIcon class='w-4 h-4' />
            </span>
          </button>
          <div class='dropdown-menu w-48'>
            <div class='dropdown-menu__content box dark:bg-dark-1 p-2'>
              <a href='javascript:;' data-toggle='modal' data-target='#new-department-modal'
                 class='flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md'>New
                Department</a>
              <a href='javascript:;' data-toggle='modal' data-target='#new-role-modal'
                 class='flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md'>New
                Role</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-span-12'>
      <div class='p-1 bg-gray-300 dark:bg-gray-900 rounded w-full flex'>
        <router-link to='/users-all' class='btn flex-1 rounded btn-dark dark:bg-gray-700'>Users</router-link>
        <router-link to='/users-departments'
                     class='btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800'>
          Departments
        </router-link>
        <router-link to='/users-roles'
                     class='btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800'>
          Roles
        </router-link>
        <router-link to='/users-activity'
                     class='btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800'>
          Activity Log
        </router-link>
        <router-link to='/users-login-history'
                     class='btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800'>
          Login History
        </router-link>
      </div>
    </div>
  </div>
  <!-- END: Page Title -->
  <!-- BEGIN: Filter -->
  <div class='intro-y accordion-item'>
    <div class='flex'>
      <!-- BEGIN: Search -->
      <div class='relative'>
        <SearchIcon class='w-4 h-4 absolute my-auto inset-y-0 ml-3 left-0 z-10 text-gray-700 dark:text-gray-300'
        />
        <input
          type='text'
          class='form-control w-full sm:w-64 box pl-10 text-gray-700 dark:text-gray-300 placeholder-theme-8'
          placeholder='Search...'
        />
      </div>
      <!-- END: Search -->
      <a id='filter-accordion-content' class='btn ml-3 mr-auto accordion-button rounded cursor-pointer collapsed'
         data-bs-toggle='collapse' data-bs-target='#filter-accordion-collapse' aria-expanded='false'
         aria-controls='filter-accordion-collapse'>Filter</a>
      <!-- START: Filter Reset -->
      <button class='btn'>
        <span>Reset</span>
        <span class='py-0.5 px-1.5 bg-theme-2 ml-1 text-xs rounded-full text-white'>2</span>
      </button>
      <!-- END: Filter Reset -->
    </div>
    <div id='filter-accordion-collapse' class='box p-4 mt-2 accordion-collapse collapse'
         aria-labelledby='filter-accordion-content' style='display: none;'>
      <div class='grid grid-cols-12 gap-4'>
        <div class='col-span-12 md:col-span-3'>
          <label for='input-filter-4' class='form-label'>Role</label>
          <select id='input-filter-4' class='form-select'>
            <option>All Roles</option>
            <option>Admin</option>
            <option>Management</option>
            <option>Moderator</option>
          </select>
        </div>
        <div class='col-span-12 md:col-span-3'>
          <label for='input-filter-5' class='form-label'>Status</label>
          <select id='input-filter-5' class='form-select'>
            <option>Any Status</option>
            <option>Active</option>
            <option>Invite Pending</option>
            <option>InActive</option>
          </select>
        </div>
        <div class='col-span-12 md:col-span-6'>
          <label for='department-select' class='form-label'
          >Department</label
          >
          <div id='department-select' class=''>
            <div class='preview'>
              <TomSelect
                v-model='selectMultiple'
                :options="{
                  plugins: {
                    remove_button:{
                      title:'Remove',
                    }
                  },
                  placeholder: 'Select Department'
                }"
                class='w-full'
                multiple>
                <option value='1'>IT</option>
                <option value='2'>Sales</option>
                <option value='3'>Management</option>
                <option value='4'>Admin</option>
                <option value='5'>Marketing</option>
              </TomSelect>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Filter -->
  <div class='intro-y grid grid-cols-12 gap-6 mt-4'>
    <!-- BEGIN: User List -->
    <div class='intro-y col-span-12'>
      <div id='process-accordion'>
<!--        <div class='box accordion-item border rounded shadow my-2'>
          <a id='group-accordion-content-1'
             class='flex items-center p-3 accordion-button rounded cursor-pointer collapsed' data-bs-toggle='collapse'
             data-bs-target='#group-accordion-collapse-1' aria-expanded='false'
             aria-controls='group-accordion-collapse-1'>
            <div class='grid grid gap-2 w-full grid-cols-2 sm:grid-cols-4 lg:grid-cols-8 items-center text-base'>
              <div class='flex items-center col-span-2'>
                <div
                  class='rounded-full flex circle p-4 justify-center items-center bg-purple-500 bg-opacity-50 text-lg font-medium mr-3 w-12 h-12'>
                  JD
                </div>
                <dl>
                  <dt class='text-base font-medium truncate'>John Doe</dt>
                  <dd class='truncate'>
                    <span class='inline-block w-2 h-2 bg-green-600 dark:bg-green-400 rounded-full mr-2'></span>
                    <span class='text-green-600 dark:text-green-400'>Active</span>
                  </dd>
                </dl>
              </div>
              <dl class='col-span-2'>
                <dt class='text-gray-600 truncate'>johndoe</dt>
                <dd class='truncate'>john.doe@gmail.com</dd>
              </dl>
              <dl class='col-span-1 sm:col-span-2'>
                <dt class='text-gray-600 truncate text-sm'>Role</dt>
                <dd class='truncate'>Admin</dd>
              </dl>
              <div class='col-span-1 sm:col-span-2'>
                <span class='px-2 py-0.5 rounded inline text-gray-100 bg-primary-1'>IT</span>
              </div>
            </div>
          </a>
          <div class='dropdown ml-auto order-2 col-span-1 md:order-3 absolute right-1 top-4'>
            <button class='dropdown-toggle btn border-none shadow-none' aria-expanded='false'>
              <MoreVerticalIcon class='w-6 h-6 text-gray-600 ml-auto' />
            </button>
            <div class='dropdown-menu w-40'>
              <div class='dropdown-menu__content box dark:bg-dark-1 p-2'>
                <a href=''
                   class='block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md'>Disable
                  User</a>
                <a href=''
                   class='block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md'>Edit</a>
                <a href=''
                   class='block p-2 transition duration-300 text-red-600 dark:text-red-400 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md'>Delete</a>
              </div>
            </div>
          </div>
          <div id='group-accordion-collapse-1' class='border-t dark:border-gray-700 accordion-collapse collapse'
               aria-labelledby='group-accordion-content-1' data-bs-parent='#process-accordion' style='display: none;'>
            <div class='grid grid-cols-2 gap-4 p-4'>
              <div class='col-span-2 md:col-span-1'>
                <h4 class='text-lg font-medium truncate border-b dark:border-gray-700 pb-2'>Activity Log</h4>
                <div class='overflow-y-auto h-64'>
                  <dl class='border-b dark:border-b dark:border-gray-700 py-3'>
                    <dt class='text-sm text-gray-600 mr-3'>Jan 2 at 11:12 am</dt>
                    <dd class='text-sm'>Added new process <a class='text-primary-1 dark:text-white cursor-pointer'>HelloWorld</a>
                    </dd>
                  </dl>
                  <dl class='border-b dark:border-b dark:border-gray-700 py-3'>
                    <dt class='text-sm text-gray-600 mr-3'>Jan 2 at 11:12 am</dt>
                    <dd class='text-sm'>Added new process <a class='text-primary-1 dark:text-white cursor-pointer'>HelloWorld</a>
                    </dd>
                  </dl>
                  <dl class='border-b dark:border-b dark:border-gray-700 py-3'>
                    <dt class='text-sm text-gray-600 mr-3'>Jan 2 at 11:12 am</dt>
                    <dd class='text-sm'>Added new process <a class='text-primary-1 dark:text-white cursor-pointer'>HelloWorld</a>
                    </dd>
                  </dl>
                  <dl class='border-b dark:border-b dark:border-gray-700 py-3'>
                    <dt class='text-sm text-gray-600 mr-3'>Jan 2 at 11:12 am</dt>
                    <dd class='text-sm'>Added new process <a class='text-primary-1 dark:text-white cursor-pointer'>HelloWorld</a>
                    </dd>
                  </dl>
                </div>
              </div>
              <div class='col-span-2 md:col-span-1'>
                <h4 class='text-lg font-medium truncate border-b dark:border-gray-700 pb-2'>Login History</h4>
                <div class='overflow-y-auto h-64'>
                  <dl class='border-b dark:border-b dark:border-gray-700 py-3'>
                    <dt class='text-sm text-gray-600 mr-3'>Jan 2 at 11:12 am</dt>
                    <dd class='text-sm'>iOS, Safari, Bangkok, Thailand, IP 49.24.114.51</dd>
                  </dl>
                  <dl class='border-b dark:border-b dark:border-gray-700 py-3'>
                    <dt class='text-sm text-gray-600 mr-3'>Jan 2 at 11:12 am</dt>
                    <dd class='text-sm'>iOS, Safari, Bangkok, Thailand, IP 49.24.114.51</dd>
                  </dl>
                  <dl class='border-b dark:border-b dark:border-gray-700 py-3'>
                    <dt class='text-sm text-gray-600 mr-3'>Jan 2 at 11:12 am</dt>
                    <dd class='text-sm'>iOS, Safari, Bangkok, Thailand, IP 49.24.114.51</dd>
                  </dl>
                  <dl class='border-b dark:border-b dark:border-gray-700 py-3'>
                    <dt class='text-sm text-gray-600 mr-3'>Jan 2 at 11:12 am</dt>
                    <dd class='text-sm'>iOS, Safari, Bangkok, Thailand, IP 49.24.114.51</dd>
                  </dl>
                  <dl class='border-b dark:border-b dark:border-gray-700 py-3'>
                    <dt class='text-sm text-gray-600 mr-3'>Jan 2 at 11:12 am</dt>
                    <dd class='text-sm'>iOS, Safari, Bangkok, Thailand, IP 49.24.114.51</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='box accordion-item border rounded shadow my-2'>
          <a id='group-accordion-content-1'
             class='flex items-center p-3 accordion-button rounded cursor-pointer collapsed' data-bs-toggle='collapse'
             data-bs-target='#group-accordion-collapse-1' aria-expanded='false'
             aria-controls='group-accordion-collapse-1'>
            <div class='grid grid gap-2 w-full grid-cols-2 sm:grid-cols-4 lg:grid-cols-8 items-center text-base'>
              <div class='flex items-center col-span-2'>
                <div
                  class='rounded-full flex circle p-4 justify-center items-center bg-purple-500 bg-opacity-50 text-lg font-medium mr-3 w-12 h-12'>
                  DI
                </div>
                <dl>
                  <dt class='text-base font-medium truncate'>Dolor Ipsum</dt>
                  <dd class='truncate'>
                    <span class='inline-block w-2 h-2 bg-yellow-600 dark:bg-yellow-400 rounded-full mr-2'></span>
                    <span class='text-yellow-600 dark:text-yellow-400'>Invite Sent</span>
                  </dd>
                </dl>
              </div>
              <dl class='col-span-2'>
                <dt class='text-gray-600 truncate'>dolorip</dt>
                <dd class='truncate'>doloripsum@gmail.com</dd>
              </dl>
              <dl class='col-span-1 sm:col-span-2'>
                <dt class='text-gray-600 truncate text-sm'>Role</dt>
                <dd class='truncate'>Support Manager</dd>
              </dl>
              <div class='col-span-1 sm:col-span-2'>
                <span class='px-2 py-0.5 rounded inline text-gray-100 bg-primary-1'>IT</span>
              </div>
            </div>
          </a>
          <div class='dropdown ml-auto order-2 col-span-1 md:order-3 absolute right-1 top-4'>
            <button class='dropdown-toggle btn border-none shadow-none' aria-expanded='false'>
              <MoreVerticalIcon class='w-6 h-6 text-gray-600 ml-auto' />
            </button>
            <div class='dropdown-menu w-40'>
              <div class='dropdown-menu__content box dark:bg-dark-1 p-2'>
                <a href=''
                   class='block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md'>Resend
                  Invite</a>
                <a href=''
                   class='block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md'>Edit</a>
                <a href=''
                   class='block p-2 transition duration-300 text-red-600 dark:text-red-400 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md'>Delete</a>
              </div>
            </div>
          </div>
          <div id='group-accordion-collapse-1' class='border-t dark:border-gray-700 accordion-collapse collapse'
               aria-labelledby='group-accordion-content-1' data-bs-parent='#process-accordion' style='display: none;'>
            <div class='p-6 text-center'>User hasn't accepted invite yet</div>
          </div>
        </div>-->
        <div v-bind:key='user.id' v-for='user in users' class='box accordion-item border rounded shadow my-2'>
          <a :id="'group-accordion-content-' + user.id"
             class='flex items-center p-3 accordion-button rounded cursor-pointer collapsed' data-bs-toggle='collapse'
             data-bs-target='#group-accordion-collapse-1' aria-expanded='false'
             aria-controls='group-accordion-collapse-1'>
            <div class='grid grid gap-2 w-full grid-cols-2 sm:grid-cols-4 lg:grid-cols-8 items-center text-base'>
              <div class='flex items-center col-span-2'>
                <div
                  class='rounded-full flex circle p-4 justify-center items-center bg-purple-500 bg-opacity-50 text-lg font-medium mr-3 w-12 h-12'>
                  {{ user.firstName.charAt(0) + user.lastName.charAt(0) }}
                </div>
                <dl>
                  <dt class='text-base font-medium truncate'>{{user.firstName}} {{user.lastName}}</dt>

                  <dd class='truncate'>
                    <span v-if="user.isActive === false" class='inline-block w-2 h-2 bg-red-600 dark:bg-red-400 rounded-full mr-2'></span>
                    <span v-if="user.isActive === true" class='inline-block w-2 h-2 bg-green-600 dark:bg-green-400 rounded-full mr-2'></span>
                    <span v-if="user.isActive === true" class='text-green-600 dark:text-green-400'>Active</span>
                    <span v-if="user.isActive === false" class='text-red-600 dark:text-red-400'>InActive</span>
                  </dd>
                </dl>
              </div>
              <dl class='col-span-2'>
                <dt class='text-gray-600 truncate'>{{user.userName}}</dt>
                <dd class='truncate'>{{user.email}}</dd>
              </dl>
              <dl class='col-span-1 sm:col-span-2'>
                <dt class='text-gray-600 truncate text-sm'>Role</dt>
                <dd class='truncate'>HR</dd>
              </dl>
              <div class='col-span-1 sm:col-span-2'>
                <span class='px-2 py-0.5 rounded inline text-gray-100 bg-primary-1'>Sales</span>
              </div>
            </div>
          </a>
          <div class='dropdown ml-auto order-2 col-span-1 md:order-3 absolute right-1 top-4'>
            <button class='dropdown-toggle btn border-none shadow-none' aria-expanded='false'>
              <MoreVerticalIcon class='w-6 h-6 text-gray-600 ml-auto' />
            </button>
            <div class='dropdown-menu w-40'>
              <div class='dropdown-menu__content box dark:bg-dark-1 p-2'>
                <a href=''
                   class='block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md'>Enable</a>
                <a href=''
                   class='block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md'>Edit</a>
                <a href=''
                   class='block p-2 transition duration-300 text-red-600 dark:text-red-400 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md'>Delete</a>
              </div>
            </div>
          </div>
          <div id='group-accordion-collapse-1' class='border-t dark:border-gray-700 accordion-collapse collapse'
               aria-labelledby='group-accordion-content-1' data-bs-parent='#process-accordion' style='display: none;'>
            <div class='p-6 text-center'>User has been deactivated</div>
          </div>
        </div>
      </div>
      <div class='flex items-center justify-center mt-4 py-4'>
        <LoadingIcon icon='oval' class='w-6 h-6' />
      </div>
    </div>
    <!-- END: User List -->
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['users'])
  },
  methods: {
    ...mapActions(['fetchUsers'])
  },
  created() {
    this.fetchUsers()
  }
}
</script>
