<template>
  <!-- BEGIN: Modal Content -->
  <div id="new-robot-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">New Robot</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <div class="p-5">
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="processName">Robot Name
                <span class="text-red-600">*</span>
              </label>
              <input type="text" id="processName" class="form-control text-base" placeholder="Robot Name" />
            </div>
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="processDepartment">Department
                <span class="text-red-600">*</span>
              </label>
              <TomSelect v-model="select" :options="{
                  plugins: {
                    remove_button:{
                      title:'Remove',
                    }
                  },
                  placeholder: 'Select Department'
                }" class="w-full" multiple>
                <option value="1">IT</option>
                <option value="2">Sales</option>
                <option value="3">Marketing</option>
              </TomSelect>
            </div>
            <div class="p-3 mb-6 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
              <div class="form-check">
                <input id="processActive" class="form-check-switch" type="checkbox" />
                <label class="form-check-label text-base" for="processActive">Active</label>
              </div>
            </div>
            <div>
              <label class="font-medium text-base block mb-2" for="processNote">Note (optional)</label>
              <textarea id="processNote" class="form-control text-base" placeholder="Add a Note..."></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer flex justify-between">
          <button type="button" data-dismiss="modal" class="invisible md:visible btn btn-outline-secondary mr-1"> Cancel </button>
          <button type="button" class="btn bg-green-600 border-0 text-white ml-auto">Add Robot</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Modal Content -->
  <!-- BEGIN: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8 items-center">
    <div class="col-span-6">
      <h2 class="text-2xl lg:text-3xl font-medium mt-2">Robots</h2>
    </div>
    <div class="col-span-6 text-right">
      <a href="javascript:;" data-toggle="modal" data-target="#new-robot-modal" class="btn bg-green-600 border-0 text-white shadow-md ml-auto lg:ml-5">Add Robot</a>
    </div>
    <div class="col-span-12">
      <div class="p-1 bg-gray-300 dark:bg-gray-900 rounded w-full flex">
        <router-link to="/robots-all" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">All Robots</router-link>
        <router-link to="/robots-deployment" class="btn flex-1 rounded btn-dark dark:bg-gray-700">Deployment</router-link>
      </div>
    </div>
  </div>
  <!-- END: Page Title -->
  <!-- BEGIN: Filter -->
  <div class="intro-y accordion-item mt-6">
    <div class="flex">
      <!-- BEGIN: Search -->
      <div class="relative">
        <SearchIcon class="w-4 h-4 absolute my-auto inset-y-0 ml-3 left-0 z-10 text-gray-700 dark:text-gray-300"
        />
        <input
          type="text"
          class="form-control w-full sm:w-64 box pl-10 text-gray-700 dark:text-gray-300 placeholder-theme-8"
          placeholder="Search..."
        />
      </div>
      <!-- END: Search -->
      <a id="filter-accordion-content" class="btn ml-3 mr-auto accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#filter-accordion-collapse" aria-expanded="false" aria-controls="filter-accordion-collapse">Filter</a>
      <!-- START: Filter Reset -->
      <button class='btn'>
        <span>Reset</span>
        <span class="py-0.5 px-1.5 bg-theme-2 ml-1 text-xs rounded-full text-white">2</span>
      </button>
      <!-- END: Filter Reset -->
    </div>
    <div id="filter-accordion-collapse" class="box p-4 mt-2 accordion-collapse collapse" aria-labelledby="filter-accordion-content" style="display: none;">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 md:col-span-6 xl:col-span-3">
          <label for="department-select" class="form-label"
            >Process or Group</label
          >
          <div id="department-select" class="">
            <div class="preview">
              <TomSelect
                v-model="selectMultiple"
                :options="{
                  plugins: {
                    remove_button:{
                      title:'Remove',
                    }
                  },
                  placeholder: 'Select Group'
                }"
                class="w-full"
                multiple
              >
                <option value="1">IT</option>
                <option value="2">Sales</option>
                <option value="3">Management</option>
                <option value="4">Admin</option>
                <option value="5">Marketing</option>
              </TomSelect>
            </div>
          </div>
        </div>
        <div class="col-span-12 md:col-span-6 xl:col-span-3">
          <label for="input-filter-5" class="form-label"
            >Date</label
          >
          <div class="preview">
            <Litepicker
              v-model="daterange"
              :options="{
                autoApply: false,
                singleMode: false,
                numberOfColumns: 2,
                numberOfMonths: 2,
                showWeekNumbers: true,
                dropdowns: {
                  minYear: 2000,
                  maxYear: null,
                  months: true,
                  years: true
                }
              }"
              class="form-control w-full block"
            />
          </div>
        </div>
        <div class="col-span-12 md:col-span-6 xl:col-span-3">
          <label for="input-filter-5" class="form-label">Status</label>
          <select id="input-filter-5" class="form-select">
            <option>Any Status</option>
            <option>Started</option>
            <option>Incompleted</option>
          </select>
        </div>
        <div class="col-span-12 md:col-span-6 xl:col-span-3">
          <label for="input-filter-4" class="form-label">User Stop</label>
          <select id="input-filter-4" class="form-select">
            <option>Any</option>
            <option>Robot</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Filter -->
  <div class="box intro-y mt-8">
    <div class="overflow-x-auto">
      <table class="table text-base">
        <thead>
          <tr>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
              Process or Group Name
            </th>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
              Time Start
            </th>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
              User Start
            </th>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
              Status
            </th>
            <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
              User Stop
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border-b dark:border-gray-700">TEMP_v1412_loop</td>
            <td class="border-b dark:border-gray-700">Tue, 12 Oct 2021 16:04</td>
            <td class="border-b dark:border-gray-700">johndoe</td>
            <td class="border-b dark:border-gray-700">Tue, 12 Oct 2021 16:05</td>
            <td class="border-b dark:border-gray-700">Robot</td>
          </tr>
          <tr>
            <td class="border-b dark:border-gray-700">TEMP_v1412_loop</td>
            <td class="border-b dark:border-gray-700">Tue, 12 Oct 2021 16:04</td>
            <td class="border-b dark:border-gray-700">johndoe</td>
            <td class="border-b dark:border-gray-700">Tue, 12 Oct 2021 16:05</td>
            <td class="border-b dark:border-gray-700">Robot</td>
          </tr>
          <tr>
            <td class="border-b dark:border-gray-700">TEMP_v1412_loop</td>
            <td class="border-b dark:border-gray-700">Tue, 12 Oct 2021 16:04</td>
            <td class="border-b dark:border-gray-700">johndoe</td>
            <td class="border-b dark:border-gray-700">Tue, 12 Oct 2021 16:05</td>
            <td class="border-b dark:border-gray-700">Robot</td>
          </tr>
          <tr>
            <td class="border-b dark:border-gray-700">TEMP_v1412_loop</td>
            <td class="border-b dark:border-gray-700">Tue, 12 Oct 2021 16:04</td>
            <td class="border-b dark:border-gray-700">johndoe</td>
            <td class="border-b dark:border-gray-700">Tue, 12 Oct 2021 16:05</td>
            <td class="border-b dark:border-gray-700">Robot</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
