<template>
  <!-- BEGIN: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8 items-center">
    <div class="col-span-12">
      <h2 class="text-2xl lg:text-3xl font-medium mt-2">SMTP Configuration</h2>
    </div>
  </div>
  <!-- END: Page Title -->
  <div class="intro-y box p-4 mt-8">
    <div class="grid grid-cols-1 md:grid-cols-3 justify-center">
      <div class="col-span-1"></div>
      <div class="col-span-1 md:offset-col-1">
        <form class="py-6">
          <div class="mb-4">
            <label for="smtpHost" class="form-label font-medium">SMTP Host</label>
            <input id="smtpHost" type="text" class="form-control text-base" placeholder="SMTP Host Name" value="smtp.gmail.com" />
          </div>
          <div class="mb-4">
            <label for="smtpPort" class="form-label font-medium">SMTP Host</label>
            <input id="smtpPort" type="text" class="form-control text-base" placeholder="SMTP Port" value="528" />
          </div>
          <div class="mb-4">
            <div class="form-check py-3">
              <input id="smtpSSL" class="form-check-switch" type="checkbox" checked />
              <label class="form-check-label text-base" for="smtpSSL">Use secured connection (TSL, SSL)</label>
            </div>
          </div>
          <div class="mb-4">
            <div class="form-check py-3">
              <input id="smtpAuth" class="form-check-switch" type="checkbox" checked />
              <label class="form-check-label text-base" for="smtpAuth">Use authentification</label>
            </div>
          </div>
          <div class="mb-4">
            <label for="smtpUsername" class="form-label font-medium">Username (email address)</label>
            <input id="smtpUsername" type="email" class="form-control text-base" placeholder="Email Address" value="john.doe@gmail.com" />
          </div>
          <div class="mb-4">
            <label for="smtpPassword" class="form-label font-medium">Password</label>
            <input id="smtpPassword" type="password" class="form-control text-base" placeholder="Password" />
          </div>
          <div class="mb-4">
            <label for="smtpEmailFrom" class="form-label font-medium">Send emails from</label>
            <input id="smtpEmailFrom" type="email" class="form-control text-base" placeholder="Email Address" value="john.doe@gmail.com" />
          </div>
          <div class="pt-4">
            <button type="submit" class="btn btn-primary btn-lg">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
