<template>
  <!-- BEGIN: Modal Content -->
  <div id="add-process-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">Add Processes or Groups to Queue</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <div class="grid grid-cols-6 gap-3 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 p-5">
            <div class="col-span-6 sm:col-span-4 lg:col-span-2">
              <div class="relative">
                <SearchIcon class="w-4 h-4 absolute my-auto inset-y-0 ml-3 left-0 z-10 text-gray-700 dark:text-gray-300"
                />
                <input type="text" class="form-control w-full box pl-10 text-gray-700 dark:text-gray-300 placeholder-theme-8" placeholder="Search..."/>
              </div>
            </div>
            <div class="col-span-3 sm:col-span-2 lg:col-span-1">
              <select class="form-select">
                <option>Any Type</option>
                <option>Process</option>
                <option>Process Group</option>
              </select>
            </div>
            <div class="col-span-3 sm:col-span-2 lg:col-span-1">
              <select class="form-select">
                <option>Any Status</option>
              </select>
            </div>
            <div class="col-span-3 sm:col-span-2 lg:col-span-1">
              <select class="form-select">
                <option>All Robots</option>
              </select>
            </div>
            <div class="col-span-3 sm:col-span-2 lg:col-span-1">
              <select class="form-select">
                <option>Any Date</option>
              </select>
            </div>
          </div>
          <div class="p-5">
            <div class="flex items-center p-3 border dark:border-gray-700 rounded mb-2">
              <input class="form-check-input mr-2" type="checkbox" value="">
              <BoxIcon class="w-5 h-5 text-gray-600 mr-2" />
              <div class="grid gap-2 grid-cols-2 lg:grid-cols-4 items-center">
                <dl>
                  <dt class="text-sm text-gray-600">Type</dt>
                  <dd class="truncate text-base">Process</dd>
                </dl>
                <dl>
                  <dt class="text-sm text-gray-600">Name</dt>
                  <dd class="truncate text-base">hello-world</dd>
                </dl>
                <dl>
                  <dt class="text-sm text-gray-600">Robot</dt>
                  <dd class="truncate text-base">Binh_Robot</dd>
                </dl>
                <dl>
                  <dt class="text-sm text-gray-600">Next Run (daily)</dt>
                  <dd class="truncate text-base">Tue, 07 Sep 2021 23:32</dd>
                </dl>
              </div>
            </div>
            <div class="border rounded mb-3 dark:border-gray-700">
              <div class="flex items-center p-3 rounded">
                <input class="form-check-input mr-2" type="checkbox" value="">
                <ChainIcon class="w-5 h-5 text-gray-600 mr-2" />
                <div class="grid gap-2 grid-cols-2 lg:grid-cols-4 items-center">
                  <dl>
                    <dt class="text-sm text-gray-600">Type</dt>
                    <dd class="truncate text-base">Group</dd>
                  </dl>
                  <dl>
                    <dt class="text-sm text-gray-600">Name</dt>
                    <dd class="truncate text-base">hello-world</dd>
                  </dl>
                  <dl>
                    <dt class="text-sm text-gray-600">Robot</dt>
                    <dd class="truncate text-base">Binh_Robot</dd>
                  </dl>
                  <dl>
                    <dt class="text-sm text-gray-600">Next Run</dt>
                    <dd class="truncate text-base">Tue, 07 Sep 2021 23:32</dd>
                  </dl>
                </div>
              </div>
              <div class="border-t dark:border-gray-700">
                <div class="border-b dark:border-gray-700 flex items-center p-3">
                  <div class="grid gap-2 grid-cols-2 w-full items-center">
                    <div class="flex items-center col-span-1">
                      <div class="block w-3 h-3 border-b border-l border-gray-600 dark:border-gray-600 mr-4 ml-2 -mt-2.5"></div>
                      <input class="form-check-input mr-2" type="checkbox" value="">
                      <BoxIcon class="w-5 h-5 text-gray-600 mr-2" />
                      <dl>
                        <dt class="text-sm text-gray-600">Process</dt>
                        <dd class="truncate text-base">Hello World</dd>
                      </dl>
                    </div>
                    <div class="col-span-1">
                      <dl>
                        <dt class="text-sm text-gray-600">Robot</dt>
                        <dd class="truncate text-base">Binh_Robot</dd>
                      </dl>
                    </div>
                  </div>
                </div>
                <div class="border-b dark:border-gray-700 flex items-center p-3">
                  <div class="grid gap-2 grid-cols-2 w-full items-center">
                    <div class="flex items-center col-span-1">
                      <div class="block w-3 h-3 border-b border-l border-gray-600 dark:border-gray-600 mr-4 ml-2 -mt-2.5"></div>
                      <input class="form-check-input mr-2" type="checkbox" value="">
                      <BoxIcon class="w-5 h-5 text-gray-600 mr-2" />
                      <dl>
                        <dt class="text-sm text-gray-600">Process</dt>
                        <dd class="truncate text-base">Hello World</dd>
                      </dl>
                    </div>
                    <div class="col-span-1">
                      <dl>
                        <dt class="text-sm text-gray-600">Robot</dt>
                        <dd class="truncate text-base">Binh_Robot</dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer flex justify-between">
          <button type="button" data-dismiss="modal" class="invisible md:visible btn btn-outline-secondary mr-1"> Cancel </button>
          <button type="button" class="btn bg-green-600 border-0 text-white ml-auto"> Add Selected to Queue (4) </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Modal Content -->
  <!-- BEGIN: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8 items-center">
    <div class="col-span-6">
      <h2 class="text-2xl lg:text-3xl font-medium mt-2">Queue</h2>
    </div>
    <div class="col-span-6 text-right">
      <a href="javascript:;" data-toggle="modal" data-target="#add-process-modal" class="btn bg-green-600 border-0 text-white shadow-md ml-auto lg:ml-5">Add Process</a>
    </div>
    <div class="col-span-12">
      <div class="p-1 bg-gray-300 dark:bg-gray-900 rounded w-full flex">
        <router-link to="/queue-runs" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Upcoming Runs</router-link>
        <router-link to="/queue-history" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">History</router-link>
        <router-link to="/queue-calendar" class="btn flex-1 rounded btn-dark dark:bg-gray-700">Calendar</router-link>
        <router-link to="/queue-log" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Operation Log</router-link>
      </div>
    </div>
  </div>
  <!-- END: Page Title -->
  <div class="grid grid-cols-12 gap-5 mt-5">
    <!-- BEGIN: Calendar Content -->
    <div class="intro-y box p-5 col-span-12">
      <Calendar />
    </div>
    <!-- END: Calendar Content -->
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import Calendar from '@/components/calendar/Main.vue'

export default defineComponent({
  components: {
    Calendar
  },
  setup() {
    const dragableOptions = {
      itemSelector: '.event',
      eventData(eventEl) {
        return {
          title: cash(eventEl)
            .find('.event__title')
            .html(),
          duration: {
            days: parseInt(
              cash(eventEl)
                .find('.event__days')
                .text()
            )
          }
        }
      }
    }

    return {
      dragableOptions
    }
  }
})
</script>
