<template>
  <!-- BEGIN: Modal Content -->
  <div id="new-process-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">New Process</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <div class="p-5">
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="processName">Process Name
                <span class="text-red-600">*</span>
              </label>
              <input type="text" id="processName" class="form-control text-base" placeholder="Process Name" />
            </div>
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="lwcFile">Upload LWC File
                <span class="text-red-600">*</span>
              </label>
              <Dropzone
                id="lwcFile"
                ref-key="dropzoneSingleRef"
                :options="{
                  url: 'https://httpbin.org/post',
                  thumbnailWidth: 150,
                  maxFilesize: 0.5,
                  maxFiles: 1,
                  headers: { 'My-Awesome-Header': 'header value' }
                }"
                class="dropzone">
                <div class="text-lg font-medium">
                  Drop files here or click to upload.
                </div>
                <div class="text-gray-600">
                  This is just a demo dropzone. Selected files are
                  <span class="font-medium">not</span> actually uploaded.
                </div>
              </Dropzone>
            </div>
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="processDepartment">Department
                <span class="text-red-600">*</span>
              </label>
              <TomSelect v-model="select" :options="{
                  plugins: {
                    remove_button:{
                      title:'Remove',
                    }
                  },
                  placeholder: 'Select Department'
                }" class="w-full" multiple>
                <option value="1">IT</option>
                <option value="2">Sales</option>
                <option value="3">Marketing</option>
              </TomSelect>
            </div>
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="processRobots">Select Robot(s)
                <span class="text-red-600">*</span>
              </label>
              <TomSelect v-model="select" :options="{
                  plugins: {
                    remove_button:{
                      title:'Remove',
                    }
                  },
                  placeholder: 'Select Robots'
                }" class="w-full" multiple>
                <optgroup label="IT">
                  <option value="1">MooBot</option>
                  <option value="2">MyRObotik</option>
                  <option value="3">DSeBot</option>
                </optgroup>
                <optgroup label="Sales">
                  <option value="4">Robot2</option>
                  <option value="5">MySimpleBot</option>
                  <option value="6">WooOnline</option>
                </optgroup>
                <optgroup label="IT">
                  <option value="7">Mainbot</option>
                  <option value="8">SenBot</option>
                  <option value="9">MiBoxBot</option>
                </optgroup>
              </TomSelect>
            </div>
            <div class="p-3 mb-6 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
              <div class="form-check">
                <input id="processActive" class="form-check-switch" type="checkbox" />
                <label class="form-check-label text-base" for="processActive">Active</label>
              </div>
            </div>
            <div>
              <label class="font-medium text-base block mb-2" for="processNote">Note (optional)</label>
              <textarea id="processNote" class="form-control text-base" placeholder="Add a Note..."></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer flex justify-between">
          <button type="button" data-dismiss="modal" class="invisible md:visible btn btn-outline-secondary mr-1"> Cancel </button>
          <button type="button" class="btn bg-green-600 border-0 text-white ml-auto">Create Process</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Modal Content -->
  <!-- BEGIN: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8 items-center">
    <div class="col-span-6">
      <h2 class="text-2xl lg:text-3xl font-medium mr-auto mt-2">Processes</h2>
    </div>
    <div class="col-span-6 text-right">
      <a href="javascript:;" data-toggle="modal" data-target="#new-process-modal" class="btn bg-green-600 border-0 text-white shadow-md ml-auto lg:ml-5">New Process</a>
    </div>
    <div class="col-span-12">
      <div class="p-1 bg-gray-300 dark:bg-gray-900 rounded w-full flex">
        <router-link to="/processes-all" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">All Processes</router-link>
        <router-link to="/process-log" class="btn flex-1 rounded btn-dark dark:bg-gray-700">Process Logs</router-link>
      </div>
    </div>
  </div>
  <!-- END: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-4">
    <div class="col-span-12 box w-full my-4">
      <div class="overflow-x-auto">
        <table class="table text-base">
          <thead>
            <tr>
              <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
                Date &amp; Time
              </th>
              <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
                Username
              </th>
              <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
                Log Type
              </th>
              <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
                Page
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border-b dark:border-gray-700">2021-10-20 12:49</td>
              <td class="border-b dark:border-gray-700">johndoe</td>
              <td class="border-b dark:border-gray-700">Updated Robot MorrRobot</td>
              <td class="border-b dark:border-gray-700">Page Name</td>
            </tr>
            <tr>
              <td class="border-b dark:border-gray-700">2021-10-20 12:49</td>
              <td class="border-b dark:border-gray-700">johndoe</td>
              <td class="border-b dark:border-gray-700">Updated Robot MorrRobot</td>
              <td class="border-b dark:border-gray-700">Page Name</td>
            </tr>
            <tr>
              <td class="border-b dark:border-gray-700">2021-10-20 12:49</td>
              <td class="border-b dark:border-gray-700">johndoe</td>
              <td class="border-b dark:border-gray-700">Updated Robot MorrRobot</td>
              <td class="border-b dark:border-gray-700">Page Name</td>
            </tr>
            <tr>
              <td class="border-b dark:border-gray-700">2021-10-20 12:49</td>
              <td class="border-b dark:border-gray-700">johndoe</td>
              <td class="border-b dark:border-gray-700">Updated Robot MorrRobot</td>
              <td class="border-b dark:border-gray-700">Page Name</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
