<template>
  <svg
    :class="this?.$vnode?.data?.class"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M7.33541 1.32918C7.12426 1.22361 6.87573 1.22361 6.66459 1.32918L1.67483 3.82406C1.53009 3.89355 1.40646 4.00985 1.3291 4.16457C1.27222 4.27833 1.24696 4.39964 1.25 4.5185V11C1.25 11.2841 1.4105 11.5438 1.66459 11.6708L6.25 13.9635V20C6.25 20.2841 6.4105 20.5438 6.66459 20.6708L11.6511 23.1641C11.7493 23.2158 11.8605 23.2464 11.9785 23.2497C11.9856 23.2499 11.9928 23.25 12 23.25C12.126 23.25 12.2447 23.2189 12.349 23.164L17.3354 20.6708C17.5895 20.5438 17.75 20.2841 17.75 20V13.9635L22.3354 11.6708C22.5895 11.5438 22.75 11.2841 22.75 11V4.51061C22.7513 4.42681 22.7384 4.34192 22.7104 4.2594C22.6912 4.20293 22.6655 4.14909 22.6338 4.09899C22.5578 3.97849 22.4516 3.88604 22.3303 3.82663L17.3354 1.32918C17.1243 1.22361 16.8757 1.22361 16.6646 1.32918L12 3.66147L7.33541 1.32918ZM2.75 5.71355V10.5365L6.25 12.2865V7.46355L2.75 5.71355ZM7.75 12.2865L11.25 10.5365V5.71347L7.75 7.46347V12.2865ZM10.3229 4.49997L7 2.83853L3.67703 4.50001L6.99992 6.16146L10.3229 4.49997ZM16.25 12.2865L12.75 10.5365V5.71355L16.25 7.46355V12.2865ZM11.9999 15.1615L8.67703 13.5L12 11.8385L15.3229 13.5L11.9999 15.1615ZM21.25 10.5365L17.75 12.2865V7.46347L21.25 5.71347V10.5365ZM20.3229 4.49997L17 2.83853L13.677 4.50001L16.9999 6.16146L20.3229 4.49997ZM7.75 14.7135V19.5365L11.25 21.2865V16.4635L7.75 14.7135ZM12.75 21.2865L16.25 19.5365V14.7135L12.75 16.4635V21.2865Z"
      fill="currentColor"
    ></path>
  </svg>
</template>

<script>
export default {
  name: 'ChainIcon'
}
</script>
