<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    :class="this?.$vnode?.data?.class"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12 .45a1.95 1.95 0 0 0-.75 3.75V6h1.5V4.2A1.95 1.95 0 0 0 12 .45zm-.45 1.95a.45.45 0 1 1 .9 0 .45.45 0 0 1-.9 0zM10.8 13.2a2.4 2.4 0 1 1-4.8 0 2.4 2.4 0 0 1 4.8 0zm-1.5 0a.9.9 0 1 1-1.8 0 .9.9 0 0 1 1.8 0zM15.6 15.6a2.4 2.4 0 1 0 0-4.8 2.4 2.4 0 0 0 0 4.8zm0-1.5a.9.9 0 1 0 0-1.8.9.9 0 0 0 0 1.8z"
      fill="currentColor"
    ></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M18.023 7.792a15.15 15.15 0 0 0-12.046 0l-.506.22a4.35 4.35 0 0 0-2.62 3.991v2.394a4.35 4.35 0 0 0 2.62 3.991l.506.22c.843.365 1.711.65 2.593.855l-.199.059-.731.223a3.373 3.373 0 0 0-2.39 3.226h1.5c0-.824.539-1.551 1.327-1.791l.731-.223a10.948 10.948 0 0 1 6.383 0l.732.223c.788.24 1.327.967 1.327 1.791h1.5c0-1.484-.97-2.794-2.39-3.226l-.731-.223a11.84 11.84 0 0 0-.199-.059c.882-.205 1.75-.49 2.593-.855l.506-.22a4.35 4.35 0 0 0 2.621-3.991v-2.394a4.35 4.35 0 0 0-2.62-3.991l-.507-.22zM6.573 9.17a13.65 13.65 0 0 1 10.854 0l.506.22a2.85 2.85 0 0 1 1.717 2.614v2.394a2.85 2.85 0 0 1-1.717 2.615l-.506.22a13.65 13.65 0 0 1-10.854 0l-.506-.22a2.85 2.85 0 0 1-1.717-2.615v-2.394a2.85 2.85 0 0 1 1.717-2.615l.506-.22z"
      fill="currentColor"
    ></path>
    <path
      d="M22.05 13.2a.45.45 0 0 0-.45-.45v-1.5a1.95 1.95 0 1 1 0 3.9v-1.5a.45.45 0 0 0 .45-.45zM2.4 11.25a1.95 1.95 0 1 0 0 3.9v-1.5a.45.45 0 0 1 0-.9v-1.5z"
      fill="currentColor"
    ></path>
  </svg>
</template>

<script>
export default {
  name: 'RobotIcon'
}
</script>
