<template>
  <!-- BEGIN: New User Modal Content -->
  <div id="new-user-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">New User</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <div class="p-5">
            <!-- BEGIN: Tabs -->
            <div class="nav nav-tabs boxed-tabs p-0.5 gap-0.5 bg-gray-300 dark:bg-gray-900 rounded mb-6 w-full flex">
              <a
                id="group-tab-1"
                data-toggle="tab"
                data-target="#group-tab-1-content"
                href="javascript:;"
                class="box flex flex-1 justify-center items-center p-2.5 rounded active"
                role="tab"
                aria-controls="group-tab-1"
                aria-selected="true"
                >Invite User with Email</a>
              <a
                id="group-tab-2"
                data-toggle="tab"
                data-target="#group-tab-2-content"
                href="javascript:;"
                class="box flex flex-1 justify-center items-center p-2.5 rounded"
                role="tab"
                aria-controls="group-tab-2"
                aria-selected="false">Create User Manually</a>
            </div>
            <div class="tab-content">
              <div
                id="group-tab-1-content"
                class="tab-pane active"
                role="tabpanel"
                aria-labelledby="group-tab-1"
              >
                <form>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="userEmail">Email Address
                      <span class="text-red-600">*</span>
                    </label>
                    <input type="email" id="userEmail" class="form-control text-base" placeholder="User Email" />
                    <div class="text-sm py-2">We will send an invite link using this email address for further sign up</div>
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="userRole">User Role &amp; Permissions
                      <span class="text-red-600">*</span>
                    </label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Role'
                      }" class="w-full">
                      <option value="1">Admin</option>
                      <option value="2">Manager</option>
                      <option value="3">Moderator</option>
                    </TomSelect>
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="userDepartment">Assign to Department
                      <span class="text-red-600">*</span>
                    </label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Department'
                      }" class="w-full">
                      <option value="1">IT</option>
                      <option value="2">Sales</option>
                      <option value="3">Management</option>
                      <option value="3">Support</option>
                    </TomSelect>
                  </div>
                  <button type="submit" class="btn btn-lg w-full shadow bg-green-600 border-0 text-white mb-2">Send Invite</button>
                </form>
              </div>
              <div
                id="group-tab-2-content"
                class="tab-pane"
                role="tabpanel"
                aria-labelledby="group-tab-2">
                <form>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="username2">Username
                      <span class="text-red-600">*</span>
                    </label>
                    <input type="text" id="username2" class="form-control text-base" placeholder="User Email" />
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="password2">Create Password
                      <span class="text-red-600">*</span>
                    </label>
                    <input type="password" id="password2" class="form-control text-base" placeholder="Password" />
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="confirmPassword2">Create Password
                      <span class="text-red-600">*</span>
                    </label>
                    <input type="password" id="confirmPassword2" class="form-control text-base" placeholder="Confirm Password" />
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="userEmail2">Email Address
                      <span class="text-red-600">*</span>
                    </label>
                    <input type="email" id="userEmail2" class="form-control text-base" placeholder="User Email" />
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="firstName2">First Name
                      <span class="text-red-600">*</span>
                    </label>
                    <input type="text" id="firstName2" class="form-control text-base" placeholder="First Name" />
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="lastName2">Last Name
                      <span class="text-red-600">*</span>
                    </label>
                    <input type="text" id="lastName2" class="form-control text-base" placeholder="Last Name" />
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="userRole2">User Role &amp; Permissions
                      <span class="text-red-600">*</span>
                    </label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Role'
                      }" class="w-full">
                      <option value="1">Admin</option>
                      <option value="2">Manager</option>
                      <option value="3">Moderator</option>
                    </TomSelect>
                  </div>
                  <div class="mb-6">
                    <label class="font-medium text-base block mb-2" for="userDepartment2">Assign to Department
                      <span class="text-red-600">*</span>
                    </label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Department'
                      }" class="w-full">
                      <option value="1">IT</option>
                      <option value="2">Sales</option>
                      <option value="3">Management</option>
                      <option value="3">Support</option>
                    </TomSelect>
                  </div>
                  <button type="submit" class="btn btn-lg w-full bg-green-600 shadow border-0 text-white mb-2">Create User</button>
                </form>
              </div>
            </div>
            <!-- END: Tabs -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: New User Modal Content -->
  <!-- BEGIN: New Department Modal Content -->
  <div id="new-department-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">Create New Department</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <form class="p-5">
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="departmentName">Department Name
                <span class="text-red-600">*</span>
              </label>
              <input type="text" id="departmentName" class="form-control text-base" placeholder="Department Name" />
            </div>
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="departmentCode">Department Code
                <span class="text-red-600">*</span>
              </label>
              <input type="text" id="departmentCode" class="form-control text-base" placeholder="Department Code" />
            </div>
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="departmentDescription">Description (optional)
              </label>
              <textarea rows="3" id="departmentDescription" class="form-control text-base"></textarea>
            </div>
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="departmentEmail">Department Email
                <span class="text-red-600">*</span>
              </label>
              <input type="email" id="departmentEmail" class="form-control text-base" placeholder="Department Email" />
            </div>
            <div class="p-3 mb-6 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
              <div class="form-check">
                <input id="departmentActive" class="form-check-switch" type="checkbox" />
                <label class="form-check-label text-base" for="departmentActive">Active</label>
              </div>
            </div>
            <button type="submit" class="btn btn-lg w-full bg-green-600 shadow border-0 text-white mb-2">Save Department</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END: New Department Modal Content -->
  <!-- BEGIN: New Role Modal Content -->
  <div id="new-role-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">New User Role</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <form class="p-5">
            <div class="mb-6">
              <label class="font-medium text-base block mb-2" for="departmentName">User Role Name
                <span class="text-red-600">*</span>
              </label>
              <input type="text" id="departmentName" class="form-control text-base" placeholder="Role Name" />
            </div>
            <div class="mb-6">You can assign/remove permissions in role details</div>
            <button type="submit" class="btn btn-lg w-full bg-green-600 shadow border-0 text-white mb-2">Create User Role</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END: New Role Modal Content -->
  <!-- BEGIN: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8 mb-4 items-center">
    <div class="col-span-6">
      <h2 class="text-2xl lg:text-3xl font-medium mr-auto mt-2">User Management</h2>
    </div>
    <div class="col-span-6">
      <div class="flex w-full justify-end">
        <a href="javascript:;" data-toggle="modal" data-target="#new-user-modal" class="btn bg-green-600 border-0 text-white shadow ml-auto">Add User</a>
        <div class="dropdown ml-2 mr-2">
          <button class="dropdown-toggle btn px-2 box text-gray-700 dark:text-gray-300" aria-expanded="false">
            <span class="w-5 h-5 flex items-center justify-center">
              <PlusIcon class="w-4 h-4" />
            </span>
          </button>
          <div class="dropdown-menu w-48">
            <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
              <a href="javascript:;" data-toggle="modal" data-target="#new-department-modal" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">New Department</a>
              <a href="javascript:;" data-toggle="modal" data-target="#new-role-modal" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">New Role</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12">
      <div class="p-1 bg-gray-300 dark:bg-gray-900 rounded w-full flex">
        <router-link to="/users-all" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Users</router-link>
        <router-link to="/users-departments" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Departments</router-link>
        <router-link to="/users-roles" class="btn flex-1 rounded btn-dark dark:bg-gray-700">Roles</router-link>
        <router-link to="/users-activity" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Activity Log</router-link>
        <router-link to="/users-login-history" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">Login History</router-link>
      </div>
    </div>
  </div>
  <!-- END: Page Title -->
  <!-- BEGIN: User List -->
  <div class="intro-y mt-6">
    <div class="box accordion-item border rounded shadow my-2">
      <a id="group-accordion-content-1" class="flex items-center p-3 accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#group-accordion-collapse-1" aria-expanded="false" aria-controls="group-accordion-collapse-1">
        <div class="grid grid gap-2 w-full grid-cols-1 lg:grid-cols-3 items-center text-base">
          <dl>
            <dt class="text-gray-600 truncate">Name</dt>
            <dd class="font-medium truncate">Admin</dd>
          </dl>
          <dl>
            <dt class="text-gray-600 truncate">Permissions</dt>
            <dd class="truncate">Full permissions</dd>
          </dl>
          <dl>
            <dt class="text-gray-600 truncate">Users</dt>
            <dd class="truncate">2</dd>
          </dl>
        </div>
      </a>
      <div id="group-accordion-collapse-1" class="border-t dark:border-gray-700 accordion-collapse collapse" aria-labelledby="group-accordion-content-1" data-bs-parent="#process-accordion" style="display: none;">
        <div class="px-3 py-4 grid grid-cols-2 items-start md:grid-cols-4 gap-4">
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_B1" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label font-medium text-base" for="check_B1">Dashboard</label>
            </div>
            <div class="form-check p-2">
              <input id="check_B2" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_B2">View Dashboard</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_D1" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label font-medium text-base" for="check_D1">Robot Overview</label>
            </div>
            <div class="form-check p-2">
              <input id="check_D2" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_D2">View Robot Overview</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_I1" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label font-medium text-base" for="check_I1">Operation Log</label>
            </div>
            <div class="form-check p-2">
              <input id="check_I2" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_I2">View Operation Log</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_K1" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label font-medium text-base" for="check_K1">Queue</label>
            </div>
            <div class="form-check p-2">
              <input id="check_K2" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_K2">View Queue</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_A1" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label font-medium text-base" for="check_A1">Groups</label>
            </div>
            <div class="form-check p-2">
              <input id="check_A2" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_A2">View Groups</label>
            </div>
            <div class="form-check p-2">
              <input id="check_A3" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_A3">Create Groups</label>
            </div>
            <div class="form-check p-2">
              <input id="check_A4" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_A4">Update Groups</label>
            </div>
            <div class="form-check p-2">
              <input id="check_A5" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_A5">Execute Checkpoint Groups</label>
            </div>
            <div class="form-check p-2">
              <input id="check_A6" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_A6">Delete Schedule</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_M1" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label font-medium text-base" for="check_M1">Activate</label>
            </div>
            <div class="form-check p-2">
              <input id="check_M2" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_M2">View Activate</label>
            </div>
            <div class="form-check p-2">
              <input id="check_M3" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_M3">Activate</label>
            </div>
            <div class="form-check p-2">
              <input id="check_M4" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_M4">Edit Activate</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_C1" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label font-medium text-base" for="check_C1">Processes</label>
            </div>
            <div class="form-check p-2">
              <input id="check_C2" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_C2">View Processes</label>
            </div>
            <div class="form-check p-2">
              <input id="check_C3" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_C3">Create Processes</label>
            </div>
            <div class="form-check p-2">
              <input id="check_C4" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_C4">Update Processes</label>
            </div>
            <div class="form-check p-2">
              <input id="check_C5" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_C5">Delete Processes</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_E1" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label font-medium text-base" for="check_E1">Non-working Days</label>
            </div>
            <div class="form-check p-2">
              <input id="check_E2" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_E2">View Non-Working Days</label>
            </div>
            <div class="form-check p-2">
              <input id="check_E3" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_E3">Edit Non-Working Day</label>
            </div>
            <div class="form-check p-2">
              <input id="check_E4" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_E4">Edit Non-Working Day</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_F1" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label font-medium text-base" for="check_F1">Departments</label>
            </div>
            <div class="form-check p-2">
              <input id="check_F2" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_F2">View Departments</label>
            </div>
            <div class="form-check p-2">
              <input id="check_F3" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_F3">Create Department</label>
            </div>
            <div class="form-check p-2">
              <input id="check_F4" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_F4">Edit Department</label>
            </div>
            <div class="form-check p-2">
              <input id="check_F5" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_F5">Delete Department</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_G1" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label font-medium text-base" for="check_G1">DB Password</label>
            </div>
            <div class="form-check p-2">
              <input id="check_G2" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_G2">View DBPassword</label>
            </div>
            <div class="form-check p-2">
              <input id="check_G3" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_G3">Create DBPassword</label>
            </div>
            <div class="form-check p-2">
              <input id="check_G4" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_G4">Edit DBPassword</label>
            </div>
            <div class="form-check p-2">
              <input id="check_G5" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_G5">Delete DBPassword</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_H1" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label font-medium text-base" for="check_H1">User Management</label>
            </div>
            <div class="form-check p-2">
              <input id="check_H2" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_H2">View Users</label>
            </div>
            <div class="form-check p-2">
              <input id="check_H3" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_H3">Create Users</label>
            </div>
            <div class="form-check p-2">
              <input id="check_H4" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_H4">Edit Users</label>
            </div>
            <div class="form-check p-2">
              <input id="check_H5" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_H5">Delete Users</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_J1" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label font-medium text-base" for="check_J1">Checkpoint Log</label>
            </div>
            <div class="form-check p-2">
              <input id="check_J2" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_J2">View Checkpoint Log</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_L1" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label font-medium text-base" for="check_L1">Smtp Settings</label>
            </div>
            <div class="form-check p-2">
              <input id="check_L2" class="form-check-input bg-white" type="checkbox" checked disabled/>
              <label class="form-check-label text-base" for="check_L2">View Smtp Settings</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box accordion-item border rounded shadow my-2">
      <a id="group-accordion-content-1" class="flex items-center p-3 accordion-button rounded cursor-pointer collapsed"  data-bs-toggle="collapse" data-bs-target="#group-accordion-collapse-1" aria-expanded="false" aria-controls="group-accordion-collapse-1">
        <div class="grid grid gap-2 w-full grid-cols-1 lg:grid-cols-3 items-center text-base">
          <dl>
            <dt class="text-gray-600 truncate">Name</dt>
            <dd class="font-medium truncate">Manager</dd>
          </dl>
          <dl>
            <dt class="text-gray-600 truncate">Permissions</dt>
            <dd class="truncate">Full permissions</dd>
          </dl>
          <dl>
            <dt class="text-gray-600 truncate">Users</dt>
            <dd class="truncate">2</dd>
          </dl>
        </div>
      </a>
      <div class="dropdown ml-auto order-2 col-span-1 md:order-3 absolute right-1 top-4">
        <button class="dropdown-toggle btn border-none shadow-none" aria-expanded="false">
          <MoreVerticalIcon class="w-6 h-6 text-gray-600 ml-auto" />
        </button>
        <div class="dropdown-menu w-40">
          <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
            <a href="" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Rename</a>
            <a href="" class="block p-2 transition duration-300 text-red-600 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">Delete Role</a>
          </div>
        </div>
      </div>
      <div id="group-accordion-collapse-1" class="border-t dark:border-gray-700 accordion-collapse collapse" aria-labelledby="group-accordion-content-1" data-bs-parent="#process-accordion" style="display: none;">
        <div class="px-3 py-4 grid grid-cols-2 items-start md:grid-cols-4 gap-4">
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_B1a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label font-medium text-base" for="check_B1a">Dashboard</label>
            </div>
            <div class="form-check p-2">
              <input id="check_B2a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_B2a">View Dashboard</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_D1a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label font-medium text-base" for="check_D1a">Robot Overview</label>
            </div>
            <div class="form-check p-2">
              <input id="check_D2a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_D2a">View Robot Overview</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_I1a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label font-medium text-base" for="check_I1a">Operation Log</label>
            </div>
            <div class="form-check p-2">
              <input id="check_I2a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_I2a">View Operation Log</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_K1a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label font-medium text-base" for="check_K1a">Queue</label>
            </div>
            <div class="form-check p-2">
              <input id="check_K2a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_K2a">View Queue</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_A1a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label font-medium text-base" for="check_A1a">Groups</label>
            </div>
            <div class="form-check p-2">
              <input id="check_A2a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_A2a">View Groups</label>
            </div>
            <div class="form-check p-2">
              <input id="check_A3a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_A3a">Create Groups</label>
            </div>
            <div class="form-check p-2">
              <input id="check_A4a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_A4a">Update Groups</label>
            </div>
            <div class="form-check p-2">
              <input id="check_A5a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_A5a">Execute Checkpoint Groups</label>
            </div>
            <div class="form-check p-2">
              <input id="check_A6a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_A6a">Delete Schedule</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_M1a" class="form-check-input bg-white" type="checkbox" />
              <label class="form-check-label font-medium text-base" for="check_M1a">Activate</label>
            </div>
            <div class="form-check p-2">
              <input id="check_M2a" class="form-check-input bg-white" type="checkbox" />
              <label class="form-check-label text-base" for="check_M2a">View Activate</label>
            </div>
            <div class="form-check p-2">
              <input id="check_M3a" class="form-check-input bg-white" type="checkbox" />
              <label class="form-check-label text-base" for="check_M3a">Activate</label>
            </div>
            <div class="form-check p-2">
              <input id="check_M4a" class="form-check-input bg-white" type="checkbox" />
              <label class="form-check-label text-base" for="check_M4a">Edit Activate</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_C1a" class="form-check-input bg-white" type="checkbox" />
              <label class="form-check-label font-medium text-base" for="check_C1a">Processes</label>
            </div>
            <div class="form-check p-2">
              <input id="check_C2a" class="form-check-input bg-white" type="checkbox" />
              <label class="form-check-label text-base" for="check_C2a">View Processes</label>
            </div>
            <div class="form-check p-2">
              <input id="check_C3a" class="form-check-input bg-white" type="checkbox" />
              <label class="form-check-label text-base" for="check_C3a">Create Processes</label>
            </div>
            <div class="form-check p-2">
              <input id="check_C4a" class="form-check-input bg-white" type="checkbox" />
              <label class="form-check-label text-base" for="check_C4a">Update Processes</label>
            </div>
            <div class="form-check p-2">
              <input id="check_C5a" class="form-check-input bg-white" type="checkbox" />
              <label class="form-check-label text-base" for="check_C5a">Delete Processes</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_E1a" class="form-check-input bg-white" type="checkbox" />
              <label class="form-check-label font-medium text-base" for="check_E1a">Non-working Days</label>
            </div>
            <div class="form-check p-2">
              <input id="check_E2a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_E2a">View Non-Working Days</label>
            </div>
            <div class="form-check p-2">
              <input id="check_E3a" class="form-check-input bg-white" type="checkbox" />
              <label class="form-check-label text-base" for="check_E3a">Edit Non-Working Day</label>
            </div>
            <div class="form-check p-2">
              <input id="check_E4a" class="form-check-input bg-white" type="checkbox" />
              <label class="form-check-label text-base" for="check_E4a">Edit Non-Working Day</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_F1a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label font-medium text-base" for="check_F1a">Departments</label>
            </div>
            <div class="form-check p-2">
              <input id="check_F2a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_F2a">View Departments</label>
            </div>
            <div class="form-check p-2">
              <input id="check_F3a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_F3a">Create Department</label>
            </div>
            <div class="form-check p-2">
              <input id="check_F4a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_F4a">Edit Department</label>
            </div>
            <div class="form-check p-2">
              <input id="check_F5a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_F5a">Delete Department</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_G1a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label font-medium text-base" for="check_G1a">DB Password</label>
            </div>
            <div class="form-check p-2">
              <input id="check_G2a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_G2a">View DBPassword</label>
            </div>
            <div class="form-check p-2">
              <input id="check_G3a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_G3a">Create DBPassword</label>
            </div>
            <div class="form-check p-2">
              <input id="check_G4a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_G4a">Edit DBPassword</label>
            </div>
            <div class="form-check p-2">
              <input id="check_G5a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_G5a">Delete DBPassword</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_H1a" class="form-check-input bg-white" type="checkbox"  />
              <label class="form-check-label font-medium text-base" for="check_H1a">User Management</label>
            </div>
            <div class="form-check p-2">
              <input id="check_H2a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_H2a">View Users</label>
            </div>
            <div class="form-check p-2">
              <input id="check_H3a" class="form-check-input bg-white" type="checkbox"  />
              <label class="form-check-label text-base" for="check_H3a">Create Users</label>
            </div>
            <div class="form-check p-2">
              <input id="check_H4a" class="form-check-input bg-white" type="checkbox"  />
              <label class="form-check-label text-base" for="check_H4a">Edit Users</label>
            </div>
            <div class="form-check p-2">
              <input id="check_H5a" class="form-check-input bg-white" type="checkbox"  />
              <label class="form-check-label text-base" for="check_H5a">Delete Users</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_J1a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label font-medium text-base" for="check_J1a">Checkpoint Log</label>
            </div>
            <div class="form-check p-2">
              <input id="check_J2a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_J2a">View Checkpoint Log</label>
            </div>
          </div>
          <div class="mb-3 grid grid-cols-1 gap-0">
            <div class="form-check bg-black bg-opacity-5 p-2 mb-2">
              <input id="check_L1a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label font-medium text-base" for="check_L1a">Smtp Settings</label>
            </div>
            <div class="form-check p-2">
              <input id="check_L2a" class="form-check-input bg-white" type="checkbox" checked/>
              <label class="form-check-label text-base" for="check_L2a">View Smtp Settings</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: User List -->
</template>
