<template>
  <!-- BEGIN: Modal Content -->
  <div id="new-group-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="font-medium text-xl mr-auto">New Process Group</h2>
          <XIcon data-dismiss="modal" href="javascript:;" class="w-8 h-8 text-gray-600 cursor-pointer" />
        </div>
        <div class="modal-body p-0">
          <div class="grid grid-cols-3">
            <div class="col-span-3 lg:col-span-2 p-5">
              <div class="mb-6">
                <label class="font-medium text-base block mb-2" for="processGroupName">Group Name
                  <span class="text-red-600">*</span>
                </label>
                <input type="text" id="processGroupName" class="form-control text-base" placeholder="Process Group Name" />
              </div>
              <div class="p-3 mb-6 flex items-center bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
                <span class="text-lg font-medium">1.</span>
                <div class="grid grid-cols-12 gap-4 px-3 w-full">
                  <div class="col-span-12 lg:col-span-6">
                    <label class="text-sm font-medium block mb-1">Process</label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Process'
                      }" class="w-full">
                      <option value="1">WayProcess</option>
                      <option value="2">BoxProcess</option>
                      <option value="3">EmailWrapper</option>
                    </TomSelect>
                  </div>
                  <div class="col-span-12 lg:col-span-6">
                    <label class="text-sm font-medium block mb-1">Robot</label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Robot'
                      }" class="w-full">
                      <option value="1">Robot01</option>
                      <option value="2">RObot02</option>
                      <option value="3">Robot03</option>
                    </TomSelect>
                  </div>
                  <div class="col-span-12">
                    <label class="text-sm font-medium block mb-1 truncate">Load Balance (Backup Robot)</label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Backup Robot'
                      }" class="w-full">
                      <option value="1">No Load Balance</option>
                      <option value="2">RObot02</option>
                      <option value="3">Robot03</option>
                    </TomSelect>
                  </div>
                </div>
                <div>
                  <a class="rounded-full flex items-center justify-center p-1 bg-red-500 hover:bg-red-700 cursor-pointer">
                    <XIcon class="w-4 h-4 text-red-100" />
                  </a>
                </div>
              </div>
              <div class="p-3 mb-6 flex items-center bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
                <span class="text-lg font-medium">2.</span>
                <div class="grid grid-cols-12 gap-4 px-3 w-full">
                  <div class="col-span-12 lg:col-span-6">
                    <label class="text-sm font-medium block mb-1">Process</label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Process'
                      }" class="w-full">
                      <option value="1">WayProcess</option>
                      <option value="2">BoxProcess</option>
                      <option value="3">EmailWrapper</option>
                    </TomSelect>
                  </div>
                  <div class="col-span-12 lg:col-span-6">
                    <label class="text-sm font-medium block mb-1">Robot</label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Robot'
                      }" class="w-full">
                      <option value="1">Robot01</option>
                      <option value="2">RObot02</option>
                      <option value="3">Robot03</option>
                    </TomSelect>
                  </div>
                  <div class="col-span-12">
                    <label class="text-sm font-medium block mb-1 truncate">Load Balance (Backup Robot)</label>
                    <TomSelect v-model="select" :options="{
                        placeholder: 'Select Backup Robot'
                      }" class="w-full">
                      <option value="1">No Load Balance</option>
                      <option value="2">RObot02</option>
                      <option value="3">Robot03</option>
                    </TomSelect>
                  </div>
                </div>
                <div>
                  <a class="rounded-full flex items-center justify-center p-1 bg-red-500 hover:bg-red-700 cursor-pointer">
                    <XIcon class="w-4 h-4 text-red-100" />
                  </a>
                </div>
              </div>
              <a class="p-3 mb-8 bg-green-500 rounded flex items-center justify-center w-full bg-opacity-20 border-green-500 hover:border-green-700 border border-dashed text-green-600 hover:bg-opacity-100 hover:text-white text-base font-medium cursor-pointer">
                <PlusCircleIcon class="w-6 h-6 mr-2" />
                Add Group Item
              </a>
              <div class="p-3 mb-6 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
                <div class="form-check">
                  <input id="processActive" class="form-check-switch" type="checkbox" />
                  <label class="form-check-label text-base" for="processActive">Active</label>
                </div>
              </div>
              <div class="mb-5">
                <label class="font-medium text-base block mb-2" for="groupTrigger">Trigger or Frequency</label>
                <select id="groupTrigger" class="form-select text-base">
                  <option>None</option>
                  <option selected>Daily</option>
                  <option>Weekly</option>
                </select>
              </div>
              <div class="mb-5">
                <label class="font-medium text-base block mb-2" for="groupTriggerTime">Run process every day at</label>
                <input id="groupTriggerTime" type="time" class="form-control text-base" value="12:00" />
                <span class="text-sm text-gray-600 text-center block mt-2">UTC +6 (Bangkok time)</span>
              </div>
              <div class="mb-5">
                <label class="block text-base font-medium mb-3">Days to ignore</label>
                <div class="p-3 mb-3 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
                  <div class="form-check">
                    <input id="groupCheck01" class="form-check-switch" type="checkbox" />
                    <label class="form-check-label font-medium text-base" for="groupCheck01">Don’t run process on weekends</label>
                  </div>
                </div>
                <div class="p-3 mb-3 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
                <div class="form-check">
                  <input id="groupCheck02" class="form-check-switch" type="checkbox" />
                  <label class="form-check-label font-medium text-base" for="groupCheck02">Don’t run process on public holidays <span class="text-sm block">Process will ignore holidays and weekends</span>
                  </label>
                  </div>
                </div>
                <div class="p-3 mb-3 bg-black bg-opacity-5 dark:bg-black dark:bg-opacity-5 border dark:border-gray-700 rounded">
                  <div class="form-check">
                    <input id="groupCheck03" class="form-check-switch" type="checkbox" />
                    <label class="form-check-label font-medium text-base" for="groupCheck03">Add ignoring dates manually
                    </label>
                  </div>
                </div>
              </div>
              <div class="pt-5 border-t dark:border-t dark:border-gray-700">
                <label class="font-medium text-base block mb-2" for="processNote">Note (optional)</label>
                <textarea id="processNote" class="form-control text-base" placeholder="Add a Note..."></textarea>
              </div>
            </div>
            <!-- BEGIN: ROBOT SUMMARY -->
            <div class="col-span-3 lg:col-span-1 bg-black bg-opacity-5 p-5 overflow-y">
              <div class="rounded-full mx-auto mb-2 overflow-hidden w-24 h-24 flex items-center justify-center bg-theme-2">
                <img
                alt="Robot"
                :src="require(`@/assets/images/robot-colored.svg`)"
              />
              </div>
              <div class="text-lg font-medium text-center">I will run:</div>
              <div class="mt-4 text-base">
                <div class="mb-3">
                  <CheckCircleIcon class="w-4 h-4 mr-2" />
                  Daily Sales Report
                </div>
                <div class="mb-3">
                  <CheckCircleIcon class="w-4 h-4 mr-2" />
                  On 15 ‘Sales department’ computers
                </div>
                <div class="mb-3">
                  <CheckCircleIcon class="w-4 h-4 mr-2" />
                  every Day at 2:30 PM UTC +6
                </div>
                <div class="mb-3">
                  <CheckCircleIcon class="w-4 h-4 mr-2" />
                  starting from Tomorrow, Tue, Mar 3 2022
                </div>
                <div class="mb-3">
                  <CheckCircleIcon class="w-4 h-4 mr-2" />
                  excluding weekends and public holidays
                </div>
                <div class="mb-3">
                  <CheckCircleIcon class="w-4 h-4 mr-2" />
                  Forever! Like really, until the end of the days.
                </div>
              </div>
              <div class="py-6 mt-6 border-t dark:border-gray-700">
                <p class="mb-3 text-center font-medium">Sounds Good?</p>
                <button type="button" class="btn btn-lg w-full bg-green-600 border-0 text-white ml-auto">Yes, Save Process Group</button>
              </div>
            </div>
            <!-- END: ROBOT SUMMARY -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Modal Content -->
  <!-- BEGIN: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-8 items-center">
    <div class="col-span-6">
      <h2 class="text-2xl lg:text-3xl font-medium mt-2">Process Groups</h2>
    </div>
    <div class="col-span-6 text-right">
      <a href="javascript:;" data-toggle="modal" data-target="#new-group-modal" class="btn bg-green-600 border-0 text-white shadow-md ml-auto lg:ml-5">New Group</a>
    </div>
    <div class="col-span-12">
      <div class="p-1 bg-gray-300 dark:bg-gray-900 rounded w-full flex">
        <router-link to="/groups-all" class="btn flex-1 rounded btn-outline-light border-0 shadow-none hover:bg-gray-400 dark:hover:bg-gray-800">All Process Groups</router-link>
        <router-link to="/groups-log" class="btn flex-1 rounded btn-dark dark:bg-gray-700">Process Group Logs</router-link>
      </div>
    </div>
  </div>
  <!-- END: Page Title -->
  <div class="intro-y grid grid-cols-12 gap-6 mt-4">
    <div class="col-span-12 box w-full my-4">
      <div class="overflow-x-auto">
        <table class="table text-base">
          <thead>
            <tr>
              <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
                Date &amp; Time
              </th>
              <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
                Username
              </th>
              <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
                Log Type
              </th>
              <th class="border-b-2 dark:border-gray-700 whitespace-nowrap">
                Page
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border-b dark:border-gray-700">2021-10-20 12:49</td>
              <td class="border-b dark:border-gray-700">johndoe</td>
              <td class="border-b dark:border-gray-700">Updated Robot MorrRobot</td>
              <td class="border-b dark:border-gray-700">Page Name</td>
            </tr>
            <tr>
              <td class="border-b dark:border-gray-700">2021-10-20 12:49</td>
              <td class="border-b dark:border-gray-700">johndoe</td>
              <td class="border-b dark:border-gray-700">Updated Robot MorrRobot</td>
              <td class="border-b dark:border-gray-700">Page Name</td>
            </tr>
            <tr>
              <td class="border-b dark:border-gray-700">2021-10-20 12:49</td>
              <td class="border-b dark:border-gray-700">johndoe</td>
              <td class="border-b dark:border-gray-700">Updated Robot MorrRobot</td>
              <td class="border-b dark:border-gray-700">Page Name</td>
            </tr>
            <tr>
              <td class="border-b dark:border-gray-700">2021-10-20 12:49</td>
              <td class="border-b dark:border-gray-700">johndoe</td>
              <td class="border-b dark:border-gray-700">Updated Robot MorrRobot</td>
              <td class="border-b dark:border-gray-700">Page Name</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
